<style>
    a{

        margin: 0 auto;
    }


</style>
<div class="weui-tabbar" style="text-align: center;
position:fixed ;background:url('http://www.jianpianzi.com/tpchat/Public/img/nav_bar.png')" >
    <a href="__MODULE__">

        <img  src="{$Think.const.IMG_URL}nav_index.png" alt="">

    </a>
    <a href="__MODULE__/log"   >

        <img  src="{$Think.const.IMG_URL}nav_message.png" alt="">
    </a>
    <a href="__MODULE__/user" >

        <img  src="{$Think.const.IMG_URL}nav_user.png" alt="">

    </a>

</div>