{{include 'template/requirement/header.html'}}
<div class="container" style="background:#fcfcfc;box-shadow:0 0 35px #ccc;padding:20px 30px;">
    <div class="container-fluid">
        <div class="col-xs-9" id="detail-content" style="min-height: 400px">
        </div>
        <div class="col-xs-3">
            <ul class="nav-cState" style="padding:0 0 0 30px;">
                <div class="list-group row">
                    {{each Segments}}
                    <div class="cSeg row col-xs-12" id="curseg{{ $value.SegmentId }}" style="padding-left: 0">
                        <input value="{{$value.SegmentId}}" hidden>
                        {{if $index == Segments.length - 1}}
                        <div class="col-xs-3">
                            {{ if $value.SegmentId <  Status}}
                            <img src="image/cs_f_l.png">
                            {{ else if $value.SegmentId == Status}}
                            <img src="image/cs_c_l.png">
                            {{ else }}
                            <img src="image/cs_dis_l.png">
                            {{ /if }}
                        </div>
                        {{else}}
                        <div class="col-xs-3">
                            {{if $index == 0}}
                            <img src="image/cs_f_f.png">
                            {{else}}
                            {{if $value.SegmentId < Status}}
                            <img src="image/cs_f.png">
                            {{else if $value.SegmentId == Status}}
                            <img class="enterclick" src="image/cs_c.png" onload="$('.enterclick').click();">
                            {{else}}
                            <img src="image/cs_dis.png" style="cursor:not-allowed">
                            {{/if}}
                            {{/if}}
                        </div>
                        {{ /if }}
                        <div class="col-xs-9 text-left" style="margin-top:25px; padding: 0">
                            <h4 style="margin:0">{{$value.Segment.Name}}</h4>
                        </div>
                        {{if $value.SegmentId < Status }}
                        <!--<p class="" style="top:25px; right: 20px; position:absolute;">已完成</p>-->
                        {{ else if $value.SegmentId > Status}}
                        <!--<button class="btn btn-default btn-sm" style="top:20px; right: 20px; position: absolute" disabled>未启动</button>-->
                        {{ else if $value.SegmentId == Status }}
                        {{ if ApplyStatus == 0 }}
                        {{ if $value.Segment.Identity == 'review'}}
                        {{ if IsService }}
                        <button class="btn btn-info btn-sm apply_cSeg_btn" style="top:20px;right: 20px; position: absolute">申请尾款</button>
                        {{ else }}
                        <p style="top:25px; right: 20px; position: absolute" >等待申请</p>
                        {{ /if }}
                        {{ else if $value.Segment.Identity == 'ratainage'}}
                        {{ if  !IsService}}
                        <button class="ContractOver btn btn-warning btn-sm" style="top:20px; right: 20px; position: absolute">确认交付</button>
                        {{ else }}
                        <p style="top:25px; right: 20px; position: absolute" >等待确认</p>
                        {{ /if }}
                        {{ else }}
                        <!-- <button class="btn btn-warning btn-sm" style="top:20px; right: 20px; position: absolute">进行中</button>-->
                        {{ /if }}
                        {{ else }}
                        {{ if $value.Segment.Identity == 'review' }}
                        {{ if IsService }}
                        <p style="top:25px; right: 20px; position: absolute" >等待支付尾款</p>
                        {{ else }}
                        <div class="btn-group" role="group" style="top:20px; right: 20px; position: absolute">
                            <button type="button" class="btn btn-success confirm_cSeg_btn btn-sm">支付尾款</button>
                            <button type="button" class="btn btn-warning reject_cSeg_btn btn-sm">继续审核</button>
                        </div>
                        {{ /if }}
                        {{ else if $value.Segment.Identity == 'ratainage' }}
                        {{ if IsService }}
                        <p style="top:25px; right: 20px; position: absolute" >等待确认</p>
                        {{ else }}
                        <div class="btn-group" role="group" style="top:20px; right: 20px; position: absolute">
                            <button type="button" class="btn btn-success confirm_cSeg_btn btn-sm">确认</button>
                            <button type="button" class="btn btn-warning reject_cSeg_btn btn-sm">驳回</button>
                        </div>
                        {{ /if }}
                        {{ /if }}
                        {{ /if }}
                        {{ /if }}
                    </div>
                    {{/each}}
                </div>
            </ul>
        </div>
    </div>
    <div class="panel panel-default" style="border-radius:0;margin:10px 0">
        <div class="panel-body">
            <h3 style="color:#222;margin:10px 0">常见问题</h3>
            <hr>
            <div class="col-md-4">
                <h4 style="color:#222">为什么需要申请？</h4>
                <p style="color:#666">只有申请，才能与客户接洽</p>
            </div>
            <div class="col-md-4">
                <h4 style="color:#222">申请后该做什么？</h4>
                <p style="color:#666">编写基本方案，与客户讨论</p>
            </div>
            <div class="col-md-4">
                <h4 style="color:#222">客户知道申请的情况吗？</h4>
                <p style="color:#666">客户将及时获知需求被响应的情况</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videoViewer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 id="video_title" class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <video id="video_plugin" controls="controls" autoplay="autoplay" style="height: 320px;">
                    您的浏览器不支持 video 标签。
                </video>
            </div>
        </div>
    </div>
</div>

<!--图片标签-->
<div class="modal fade" id="imageViewer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 id="image_title" class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img id="image_plugin" style="max-wdith: 320px; max-height: 320px">
            </div>
        </div>
    </div>
</div>