{{ each attachments }}
    <div class="col-xs-3 text-center"">
        {{if $value.Object.Type == 0}}
        <div class="cloud_object_image attachment_object" value="{{$value.Id}}" style="background-image:url({{$value.Object.File.Path}})">
        {{else if $value.Object.Type == 1}}
        <div class="cloud_object_image attachment_object" value="{{$value.Id}}" style="background-image:url({{$value.Object.File.Path}})">
        {{else}}
        <div class="cloud_object_image attachment_object" value="{{$value.Id}}" style="background-image:url('image/text.png')">
        {{/if}}
        </div>
        <div class="cloud_object_text">
            <p class="label label-green" title="{{$value.Object.Name}}">
                {{$value.Object.Name}}
            </p>
            {{if IsService}}
            <small class="deleteAttachment del_fa" value="{{$value.Id}}" title="删除" >
                 删除
            </small>
            {{ else }}
            <small class="downloadAttachment down_fa" value="{{$value.Id}}" title="下载">
                 下载
            </small>
            {{/if}}
        </div>
    </div>
{{/each}}