<div class="sub-nav" style="border-bottom:solid 1px #ccc">
    <div class="container" style="display:table;">
        <div class="col-xs-6">
            <ol class="breadcrumb requirementNavigate" style="margin: 0">
                <li class="navigate-first" onclick="$().GoToUrl('/requirementPage')">
                {{ if IsService }}
                    <h3 style="margin:15px 0">交易平台</h3>
                {{ else }}
                    <h3 style="margin:15px 0">需求管理</h3>
                {{ /if }}
                </li>
            </ol>
        </div>
        <div class="col-xs-6"  style="padding-top: 19px">
            <div class="container-fluid" style="text-center">
                {{if IsService}}
                    <div class="col-xs-8"></div>
                    <div class="col-xs-2 req-statusBar{{ if filter == 'all' }} active {{ /if }}" value="all">
                        <div>
                            <span>平台需求</span>
                        </div>
                    </div>
                    <div class="col-xs-2 req-statusBar {{ if filter != 'all' }} active {{ /if }}" value="mine">
                        <div>
                            <span>我的接单</span>
                        </div>
                    </div>
                {{else}}
                    <div class="col-xs-4"></div>
                    <div class="col-xs-2 req-statusBar{{ if filter == 'all' }} active {{ /if }}" value="all">
                        <div>
                            <span>提交中</span>
                        </div>
                    </div>
                    <div class="col-xs-2 req-statusBar{{ if filter == 'edit' }} active {{ /if }}" value="edit">
                        <div>
                            <span>制作中</span>
                        </div>
                    </div>
                    <div class="col-xs-2 req-statusBar {{ if filter == 'finish' }} active {{ /if }}" value="finish">
                        <div>
                            <span>已完成</span>
                        </div>
                    </div>
                    <div class="col-xs-2 req-statusBar {{ if filter == 'draft' }} active {{ /if }}" value="draft">
                        <div>
                            <span>草稿箱</span>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div id="req_avtive_bar" value="{{ filter }}" hidden></div>
</div>
