{{include 'template/requirement/header.html'}}
<div class="container">
    <div id="requirementTab-content" style="min-height:458px">
        {{if IsService}}
        <div class="tab-pane fade in active" id="requirementPage">
            {{include 'template/requirement/service_requirement.html'}}
        </div>
        {{else}}
        <div class="tab-pane fade in active" id="requirementPage">
            {{include 'template/requirement/user_requirement.html'}}
        </div>
        {{/if}}
    </div>
</div>
{{include 'template/pagination.html'}}