<div class="input-group" style="margin-top: 20px">
  <span class="input-group-addon" id="basic-addon1">需求标题</span>
  <input id="reqTitle" type="text" class="form-control" placeholder="合理的标题能更好的让制作商理解需求" aria-describedby="basic-addon1">
</div>
<div class="input-group" style="margin-top: 20px">
  <span class="input-group-addon" id="basic-addon1">初步预算</span>
  <input id="reqAmount" type="text" class="form-control" placeholder="大致价格" aria-describedby="basic-addon1">
</div>
<div class="input-group" style="margin-top: 20px">
  <span class="input-group-addon" id="basic-addon1">完成日期</span>
  <input id="reqDeadline" type="text" class="form-control" placeholder="视频必须完成的时间期限" aria-describedby="basic-addon1">
</div>
<div style="margin-top: 20px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <button class="btn btn-info col-md-12" id="newReq">新建需求</button>
    </div>
    <div class="col-md-4"></div>
</div>
