<div class="sub-nav">
    <div class="container">
        <div class="row">
            <div style="position:absolute;margin:10px 50px 0 0;padding:0">
                <h3 style="margin:0;display: inline-block">
                    管理需求
                </h3>
            </div>
            <div style="float:right">
                <div class="tovip-hover" onclick="" style="background:#fff" onclick="$().GoToUrl('/requirementPage');">
                    <img src="image/moreDescription.png" class="img-circle" style="height:30px;"/>
                    <p  class="tovip"><strong>管理需求</strong></p>
                </div>
                <div class="tovip-hover" onclick="$().GoToUrl('/contractPage');" >
                    <img src="image/friend.png" class="img-circle" style="height:30px;"/>
                    <p class="tovip"><strong>管理合同</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="requirements_container" style="margin-top:10px;min-height: 500px">
</div>

<div class="modal fade bs-example-modal-sm" id="publish_new_requirement_dialog"></div>
<div class="modal fade bs-example-modal-sm" id="open_replyBoard_dialog"></div>
