<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">制作方案
                <span style="font-size: 13px">
                    [来自{{ follower.Follower.Domain.CompanyName }}]
                </span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row contract-detail-item">
                <div class="col-md-2 contract-detail" align="center"><black>时间长度</black></div>
                <div class="col-md-10 contract-detail_r">{{ follower.Long }}分钟</div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-md-2 contract-detail" align="center"><black>视频画质</black></div>
                <div class="col-md-10 contract-detail_r">{{follower.Format}}</div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-md-2 contract-detail" align="center"><black>脚本方案</black></div>
                <div class="col-md-10 contract-detail_r">{{follower.Script | htmlEncode}}</div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-md-2 contract-detail" align="center"><black>字幕方案</black></div>
                <div class="col-md-10 contract-detail_r">{{follower.Subtitle | htmlEncode}}</div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-md-2 contract-detail" align="center"><black>配音方案</black></div>
                <div class="col-md-10 contract-detail_r">{{follower.Voice | htmlEncode}}</div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-md-2 contract-detail" align="center"><black>背景音方案</black></div>
                <div class="col-md-10 contract-detail_r">{{follower.Gbm | htmlEncode}}</div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-md-2 contract-detail" align="center"><black>我方报价</black></div>
                <div class="col-md-10 contract-detail_r">{{follower.Amount}}元</div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-md-2 contract-detail" align="center"><black>押金比例</black></div>
                <div class="col-md-10 contract-detail_r">{{follower.DepositPercent}}%</div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-md-2 contract-detail" align="center"><black>备注信息</black></div>
                <div class="col-md-10 contract-detail_r">{{follower.Remark | htmlEncode}}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="viewSchemeQuit" class="btn btn-info">退出</button>
      </div>
    </div>
</div>