<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">编辑方案</h4>
        </div>
        <div class="modal-body" style="min-height: 350px">
            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>画面类型</black></div>
                <div class="col-xs-9 contract-detail_show">
                    <input id="requirement_format" class="form-control" placeholder="如：视频、2D动画、3D动画" value="{{ Format }}">
                </div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>实现方案</black></div>
                <div class="col-xs-9 contract-detail_show">
                    <textarea id="contract_script" class="form-control"  style="min-height: 150px" placeholder="· 策划方案
· 脚本镜头方案
· 字幕方案
· 配音配乐方案">{{ Script }}</textarea>
                </div>
            </div>
            <!--<div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>字幕方案</black></div>
                <div class="col-xs-9 contract-detail_show">
                    <textarea id="requirement_subtitle" class="form-control" style="min-height: 70px">{{ Subtitle }}</textarea>
                </div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>配音方案</black></div>
                <div class="contract-detail_e">
                    <textarea id="requirement_voice" class="form-control" style="min-height: 70px">{{ Voice }}</textarea>
                </div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>背景音方案</black></div>
                <div class="col-xs-9 contract-detail_show">
                    <textarea id="requirement_gbm" class="form-control" style="min-height: 70px">{{ Gbm }}</textarea>
                </div>
            </div>-->
            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>时间长度</black></div>
                <div class="col-xs-9 contract-detail_show">
                    <input id="requirement_long" class="form-control" placeholder="单位（分钟)" value="{{ Long }}">
                </div>
            </div>

            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail contract-detail_r" align="center">
                    <black>项目报价</black>
                    <span class="glyphicon glyphicon-triangle-bottom" style="cursor:pointer" onclick="$('#price_detaile').slideToggle();"></span>
                </div>
            </div>
            <div class="container-fluid" id="price_detaile" hidden>
                <div class="row contract-detail-item">
                    <div class="col-xs-3 contract-detail" align="center"><black>基础价格</black></div>
                    <div class="col-xs-9 contract-detail_show">
                        <div class="input-group">
                            <input type="text" class="form-control" id="basePrice" placeholder="单位：元" value="{{ BasePrice }}"
                                onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="row contract-detail-item">
                    <div class="col-xs-3 contract-detail" align="center"><black>内容策划</black></div>
                    <div class="col-xs-9 contract-detail_show">
                        <div class="input-group">
                            <input type="text" class="form-control" id="schemePrice" placeholder="单位：元" value="{{ SchemePrice }}"
                                onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="row contract-detail-item">
                    <div class="col-xs-3 contract-detail" align="center"><black>拍摄服务</black></div>
                    <div class="col-xs-9 contract-detail_show">
                        <div class="input-group">
                            <input type="text" class="form-control" id="shotPrice" placeholder="单位：元" value="{{ ShotPrice }}"
                                onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="row contract-detail-item">
                    <div class="col-xs-3 contract-detail" align="center"><black>演员模特</black></div>
                    <div class="col-xs-9 contract-detail_show">
                        <div class="input-group">
                            <input type="text" class="form-control" id="actorPrice" placeholder="单位：元" value="{{ ActorPrice }}"
                                onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="row contract-detail-item">
                    <div class="col-xs-3 contract-detail" align="center"><black>配音配乐</black></div>
                    <div class="col-xs-9 contract-detail_show">
                        <div class="input-group">
                            <input type="text" class="form-control" id="musicPrice" placeholder="单位：元" value="{{ MusicPrice }}"
                                onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="row contract-detail-item">
                    <div class="col-xs-3 contract-detail" align="center"><black>后期制作</black></div>
                    <div class="col-xs-9 contract-detail_show">
                        <div class="input-group">
                            <input type="text" class="form-control" id="aePrice" placeholder="单位：元" value="{{ AEPrice }}"
                                onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>押金比例</black></div>
                <div class="col-xs-9 contract-detail_show">
                    <input id="requirement_depositPercent" name="long" class="form-control" placeholder="单位：(0-100)百分比" value="{{ DepositPercent }}"
                            onkeyup="if(isNaN(value))execCommand('undo');if(value > 100)execCommand('undo');" onafterpaste="if(isNaN(value))execCommand('undo')">
                </div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>附件</black></div>
                <div id="follower_attachs" class="container-fluid"></div>
                <div class="col-xs-9 contract-detail_show" style="text-align: center">
                    <div id="fa_object_tree"></div>
                    <button class="btn btn-default" id="add_follower_attach">添加附件</button>
                </div>
            </div>
            <!--<div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>备注信息</black></div>
                <div class="col-xs-9 contract-detail_show">
                    <textarea id="requirement_remark" class="form-control" style="min-height: 100px">{{ Remark }}</textarea>
                </div>
            </div>-->
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <button class="btn btn-success" id="saveSchemeBtn" style="float: right">保存</button>
                <button class="btn btn-success" id="cancelSchemeBtn" style="float: right">取消</button>
                {{ if IsDeny}}
                <button class="btn btn-success" id="reapplySchemeBtn" style="float: right">重新申请</button>
                {{ /if }}
            </div>
        </div>
    </div>
</div>