    {{ each Attachments }}
        <tr style="background: #fff">
            <td style="overflow:hidden;white-space:nowrap;text-align: ">{{ $value.Name }}</td>
            {{ if $value.Type == 0 }}
            <td>视频</td>
            {{ else if $value.Type == 1 }}
            <td>图片</td>
            {{ else if $value.Type == 2 }}
            <td>文档</td>
            {{ else }}
            <td>未知</td>
            {{ /if }}
            <td style="padding:3px;">
                <input type="text" class="form-control input-sm" id={{ "input_ad_description_" + $value.Id }}
                        placeholder="备注信息" style="width:100%;display:none;" value="{{ $value.Description }}">
                <span id={{ "ad_description_" + $value.Id }}>{{ $value.Description }}</span>
            </td>
            <td style="padding:3px;text-align: center">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-sm btn-default save_ad" value="{{ $value.Id }}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-default del_ad" value="{{ $value.AttachmentId }}" name="{{ $value.Id }}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </td>
        </tr>
    {{ /each }}