<div class="container-fluid">
    {{ each requirements }}
    <div class="view-btn" style="margin-top: 20px; cursor: pointer" value="{{ $value.Id }}">
        <div class="container-fluid requirement-block">
            <div class="col-xs-9" style="border-right: solid 1px #ddd">
                <h3 class="requirement-title">
                    <span>{{$value.Title}}</span>
                    {{if $value.CurSegment.Identity == 'draft'}}
                        <a class="publish-btn" style="font-size: 13px;z-index:1000;" value="{{ $value.Id }}">[提交]</a>
                        <a class="requirement_del_Btn" style="font-size: 13px;z-index:1000;" value="{{ $value.Id }}">[删除]</a>
                    {{ else if $value.CurSegment.Identity == 'publish' }}
                        <a class="cancel-publish-btn" style="font-size: 13px;z-index:1000;" value="{{ $value.Id }}">[取消提交]</a>
                    {{ /if }}
                </h3>
                <hr>
                <p>提交时间：<span style="color: #398439">{{ $value.CreateTime | ParseDate }}</span>&nbsp;&nbsp;&nbsp;计划完成时间：<span style="color: #da4f49">{{ $value.Deadline | ParseDate }}</span></p>
                <p>进展：
                    {{ if $value.CurSegment.Identity == 'draft' || $value.CurSegment.Identity == 'publish' || $value.CurSegment.Identity == 'establish' }}
                        商定合同
                    {{ else if $value.CurSegment.Identity == 'payDeposit' }}
                        支付押金
                    {{ else if $value.CurSegment.Identity == 'review' }}
                        成片审核
                    {{ else if $value.CurSegment.Identity == 'payAll' }}
                        支付尾款
                    {{ else if $value.CurSegment.Identity == 'retainage' }}
                        交付
                    {{ else if $value.CurSegment.Identity == 'finish' }}
                        完成
                    {{ /if }}
                    <span class="glyphicon glyphicon-comment" style="
                            margin-left: 20px;
                            {{ if $value.Status <= 3 }}
                            color: #FFAF09
                            {{ else if $value.Status > 3 }}
                            color: #009933
                            {{ /if }}
                            " title="商定合同"></span>
                    <span class="glyphicon glyphicon-arrow-right" style="
                            {{ if $value.Status <= 3 }}
                            color: #aaa
                            {{ else if $value.Status > 3 }}
                            color: #009933
                            {{ /if }}
                            "></span>
                    <span class="glyphicon glyphicon-shopping-cart" style="
                            {{ if $value.Status <= 3 }}
                            color: #aaa
                            {{ else if $value.Status == 4 }}
                            color: #FFAF09
                            {{ else if $value.Status > 4 }}
                            color: #009933
                            {{ /if }}
                            " title="支付押金"></span>
                    <span class="glyphicon glyphicon-arrow-right" style="
                            {{ if $value.Status <= 4 }}
                            color: #aaa
                            {{ else if $value.Status > 4 }}
                            color: #009933
                            {{ /if }}
                            "></span>
                    <span class="glyphicon glyphicon-eye-open" style="
                            {{ if $value.Status <= 4 }}
                            color: #aaa
                            {{ else if $value.Status == 5 }}
                            color: #FFAF09
                            {{ else if $value.Status > 5 }}
                            color: #009933
                            {{ /if }}
                            " title="审核"></span>
                    <span class="glyphicon glyphicon-arrow-right" style="
                            {{ if $value.Status <= 5 }}
                            color: #aaa
                            {{ else if $value.Status > 5 }}
                            color: #009933
                            {{ /if }}
                            "></span>
                    <span class="glyphicon glyphicon-credit-card" style="
                            {{ if $value.Status <= 5 }}
                            color: #aaa
                            {{ else if $value.Status == 6 }}
                            color: #FFAF09
                            {{ else if $value.Status > 6 }}
                            color: #009933
                            {{ /if }}
                            " title="支付尾款"></span>
                    <span class="glyphicon glyphicon-arrow-right" style="
                            {{ if $value.Status <= 6 }}
                            color: #aaa
                            {{ else if $value.Status > 6 }}
                            color: #009933
                            {{ /if }}
                            "></span>
                    <span class="glyphicon glyphicon-film" style="
                            {{ if $value.Status <= 6 }}
                            color: #aaa
                            {{ else if $value.Status == 7 }}
                            color: #FFAF09
                            {{ else if $value.Status > 7 }}
                            color: #009933
                            {{ /if }}
                            " title="交付"></span>
                </p>
            </div>
            <div class="col-xs-3" style="text-align: center">
                {{ if $value.CurSegment.Identity == 'draft'
                        || $value.CurSegment.Identity == 'publish'}}
                <div class="requirement-follower-bubble">
                    <span>
                        {{ $value.followerCount }}
                    </span>
                </div>
                <p style="color: #aaa; margin-top: 5px">
                    {{ if $value.followerCount == 0 }}
                        未有方案申请
                    {{ else }}
                        有方案申请
                    {{ /if }}
                </p>
                {{ else }}
                    {{ each $value.Contract }}
                        <div class="row" style="padding:10px 15px 5px">
                            <img class="requirement-follower-portrait" src="{{ $value.ServiceUser.Domain.Portrait }}" value="{{ $value.ServiceUser.Domain.Id }}">
                            <p style="margin-top: 5px"><strong>{{ $value.ServiceUser.Domain.CompanyName }}</strong></p>
                        </div>
                    {{ /each }}
                {{ /if }}
            </div>
        </div>
    </div>
    {{ /each }}
    {{ if requirements.length == 0 }}
        <div style="text-align: center">
            <h3 style="color: #aaa">您无此类需求哦</h3>
        </div>
    {{ /if }}
</div>