{% extends "mobile/promote.html" %}
{% block body %}
    <div class="container">
        <div class="col-xs-12 container-fluid" style="text-align: center; margin-top: 20px;padding: 0">
            <button id="logout" class="btn btn-default btn-lg" style="font-size: 50px" {% if not bregisted %}disabled="disabled"{% endif %}>注销</button>
        </div>
    </div>
{% endblock %}
{% block toolbar %}
{% endblock %}
{% block script %}
    <script>
        var jump = "{{ path }}";
        $("#logout").click(function(e){
            if (confirm("确定注销吗？") != true)
                return;

            $.ajax({
                type: "POST",
                url: "/mobile/logout",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({}),
                success:function(data){
                    if (data['bSuccess'])
                    {
                        alert(data['error']);
                        window.location.href = "/mobile/promote";
                    }
                    else
                        alert(data['error']);
                }
            });
        });
    </script>
{% endblock %}