{% extends 'mobile/frame.html' %}
{% block head %}
    <header style="color:#fff;background: #69360e;">
        <div style="width: 100%;display:table;">
            <div style="display: inline-block;margin: 14px 0px 8px 30px;">
                <span style="font-size: 40px;">制作管理</span>
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
    <div id="pageContent" class="container-fluid">
        <!--Null:0, Created:1, Published:2, Contracting:3, PayDeposit:4, Reviewing:5, PayAll:6, Retainage:7, Last:8 -->
        {% if req.Status == 8 %}<!-- last-->
            <div class="panel panel-default" style="padding:10px;margin-top: 20px">
                <div class="panel-heading">
                    <span style="font-size: 34px;color: #ff9000"><strong>项目完结</strong></span>
                </div>
                <div class="panel-body">
                    <div class="container-fluid" style="padding:20px;text-align: center;">
                        <span style="font-size: 30px;">感谢您选择商影联盟！</span>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if req.Status >= 7 %}<!-- Retainage -->
            <div class="panel panel-default" style="padding:10px;margin-top: 20px">
                <div class="panel-heading">
                    <span style="font-size: 34px;color: #ff9000"><strong>项目交付</strong></span>
                </div>
                <div class="panel-body">
                    {% if  checkAttachment[0].Status!=2 %}
                    <div class="container-fluid screen">
                        <div id ="video_check_container" class="container-fluid" style="margin:15px 0px 15px 0px;">
                            <div id="video_check_player" style="margin:0 auto;"></div>
                            <input id="video_check_path" value="{{ checkAttachment[0].Object.File.VideoFile }}" hidden>
                            <input id="video_check_attachID" value="{{ checkAttachment[0].Id }}" hidden>
                        </div>

                    </div>
                    {% if  not IsService %}
                    <p style="text-align: center;font-size: 28px">
                                <a href='/session#/requirement/{{req.Id }}'value="{{checkAttachment[0].Id }}" style="margin-right: 2px;">请登陆网站进行视频下载</a>
                                <!--<a value="{{checkAttachment[0].Id }}">保存</a>-->
                            </p>
                      {%endif%}
                    {%endif%}
                </div>

                {% if req.Status == 7 %}
                <div class="panel-footer" style="text-align:center;overflow-y: auto">
                {% if IsService %}
                    <strong>请等待用户下载视频并确认</strong>
                {% else %}
                    <button id="ContractOver-btn" style="font-size: 28px;padding: 10px 30px 10px 30px;background-color: #f68e14;color: #FFFFFF;float:right;">确认项目完成</button>
                {% endif %}
                </div>

                {% endif %}
            </div>
        {% endif %}

        {% if req.Status >= 6 %}<!--Payall---->
            <div class="panel panel-default" style="padding:10px;margin-top: 20px">
                <div class="panel-heading">
                    <span style="font-size: 34px;color: #ff9000"><strong>尾款信息</strong></span>
                    <span style="font-size: 28px;color: #ff9000;margin:10px 10px;float: right;">{% if req.Status == 6 %}未支付{% else %}已支付{% endif %}</span>
                </div>
                <div class="panel-body">
                {% if restOrder != None %}
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">订单号：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ restOrder.Order.SerialNumber }}</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">创建时间：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ restOrder.Order.CreateTime }}</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">支付给：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ restOrder.Order.Receiver.Domain.CompanyName }}</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">开户行：</div>
                        <div class="col-xs-9" style="font-size: 32px;">中国农业银行八里桥支行</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">账号：</div>
                        <div class="col-xs-9" style="font-size: 32px;">11041401040017767</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">尾款金款：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ restOrder.Order.Amount }}元</div>
                    </div>
                    {% else %}
                    <div class="container-fluid" style="padding:20px;text-align: center;">
                        <span>无订单</span>
                    </div>
                    {% endif %}
                </div>
                {% if req.Status == 6 %}

                <div class="panel-footer" style="text-align:center;overflow-y: auto;">
                    {% if IsService %}
                        <strong>请等待用户支付尾款
                        </strong>

                    {%else%}
                         <button id="comfirm-pay-btn" style="font-size: 28px;padding: 10px 30px 10px 30px;background-color: #f68e14;color: #FFFFFF;float:right;">通知平台已支付</button>

                    {%endif%}
                </div>
                {% endif %}
            </div>
        {% endif %}

        {% if req.Status >= 5 %}<!-- Reviewing -->
            <div class="panel panel-default" style="padding:10px;margin-top: 20px">
                <div class="panel-heading">
                    <span style="font-size: 34px;color: #ff9000"><strong>审片窗口</strong></span>
                </div>
                <div class="panel-body">

                    {% if checkAttachment | length() != 0 %}
                     <!--有视频没被驳回-->
                    {% if  checkAttachment[0].Status!=2%}
                    <div class="container-fluid screen">
                        <div id ="video_check_container" class="container-fluid" style="margin:15px 0px 15px 0px;">
                            <div id="video_check_player" style="margin:0 auto;"></div>
                            <input id="video_check_path" value="{{ checkAttachment[0].Object.File.VideoFile }}" hidden>
                            <input id="video_check_attachID" value="{{ checkAttachment[0].Id }}" hidden>
                        </div>
                    </div>
                    {%else%}
                        {% if IsService %}
                                 <div class="container-fluid" style="padding:20px;text-align: center;">
                                   <strong>视频已被驳回，请上传新视频</strong>
                                    </div>
                        {% else %}
                              <div class="container-fluid" style="padding:20px;text-align: center;">
                                   <strong>视频已被驳回，请等待平台上传新视频</strong>
                                                </div>
                        {% endif %}
                    {%endif%}
                    {% else %}
                    <div class="container-fluid" style="padding:20px;text-align: center;">
                        {% if IsService %}
                        <span>暂无可审视频，请登陆网站进行上传</span>
                        {% else %}
                        <span>暂无可审视频</span>
                          {% endif %}
                    </div>
                    {% endif %}
                </div>
                <!--有片，并且有没被驳回的片-->
                {% if req.Status == 5 and checkAttachment | length() != 0 and checkAttachment[0].Status!=2%}
                <div class="panel-footer" style="text-align:center;overflow-y: auto;">
                      {% if IsService %}
                    <span style="font-size: 34px"><strong>等待客户审片</strong></span>
                        {% else %}
                    <button id='pass-video-btn' style="font-size: 28px;padding: 10px 30px 10px 30px;background-color: #f68e14;color: #FFFFFF;float:right;">通过并支付尾款</button>
                    <button id='reject-video-btn'style="font-size: 28px;padding: 10px 30px 10px 30px;background-color: #f68e14;color: #FFFFFF;float:right;">再修改</button>                          {% endif %}

                </div>
                {% endif %}
            </div>
        {% endif %}

        {% if req.Status >= 4 %}<!--PayDeposit-->
            <div class="panel panel-default" style="padding:10px;margin-top: 20px">
                <div class="panel-heading">
                    <span style="font-size: 34px;color: #ff9000"><strong>首付款信息</strong></span>
                    <span style="font-size: 28px;color: #ff9000;margin:10px 10px;float: right;">{% if req.Status == 4 %}未支付{% else %}已支付{% endif %}</span>
                </div>
                <div class="panel-body">
                {% if rentOrder != None %}
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">订单号：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ rentOrder.Order.SerialNumber }}</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">创建时间：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ rentOrder.Order.CreateTime }}</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">支付给：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ rentOrder.Order.Receiver.Domain.CompanyName }}</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">开户行：</div>
                        <div class="col-xs-9" style="font-size: 32px;">中国农业银行八里桥支行</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">账号：</div>
                        <div class="col-xs-9" style="font-size: 32px;">11041401040017767</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">预付金款：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ rentOrder.Order.Amount }}元</div>
                    </div>
                {% else %}
                    <div class="container-fluid" style="padding:20px;text-align: center;">
                        <span>无订单</span>
                    </div>
                {% endif %}
                </div>
                {% if req.Status == 4 %}
                <div class="panel-footer" style="text-align:center;overflow-y: auto;">
                      {% if IsService %}
                    <span style="font-size: 34px"><strong>等待用户支付预付款</strong></span>
                    {% else %}
                    <button id="comfirm-beforepay-btn" style="font-size: 28px;padding: 10px 30px 10px 30px;background-color: #f68e14;color: #FFFFFF;float:right;">通知平台已支付</button>
                    {% endif %}

                </div>

                {% endif %}
            </div>
        {% endif %}

        {% if req.Status >= 3 %}<!--contracting-->
            <div class="panel panel-default" style="padding:10px;margin-top: 20px">
                <div class="panel-heading">
                    <span style="font-size: 34px;color: #ff9000"><strong>方案信息</strong></span>
                    <span style="font-size: 28px;color: #ff9000;margin:10px 10px;float: right;">
                        {% if req.Status == 3 %}
                        沟通中{% else %}已通过{% endif %}
                    </span>
                </div>
                <div class="panel-body">
                    {% if follower | length() == 0 %}
                    <h3 class="req-title" style="text-align:center;">
                        {% if IsService %}
                         已接洽，请登陆网站添加方案
                         {% else %}
                        已接洽，请等待新方案
                         {% endif %}
                    </h3>
                    {% else %}
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">画面类型：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ follower[0].Format}}</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">基本方案：</div>
                        <div class="col-xs-9" style="font-size: 32px;min-height: 100px;">{{ follower[0].Script}}</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">时间长度：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ follower[0].Long}}</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">
                            项目报价
                            <span class="glyphicon glyphicon-triangle-bottom" style="cursor:pointer" onclick="$('#price_detail_items').slideToggle();"></span>
                        </div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ follower[0].Amount}}元</div>
                    </div>
                    <div class="container-fluid" id="price_detail_items" hidden>
                        <div class="row contract-detail-item">
                            <div class="col-xs-3" style="font-size: 32px;">基础价格：</div>
                            <div class="col-xs-9" style="font-size: 32px;">{{ follower[0].BasePrice}}元</div>
                        </div>
                        <div class="row contract-detail-item">
                            <div class="col-xs-3" style="font-size: 32px;">内容策划：</div>
                            <div class="col-xs-9" style="font-size: 32px;">{{ follower[0].SchemePrice}}元</div>
                        </div>
                        <div class="row contract-detail-item">
                            <div class="col-xs-3" style="font-size: 32px;">拍摄服务：</div>
                            <div class="col-xs-9" style="font-size: 32px;">{{ follower[0].ShotPrice}}元</div>
                        </div>
                        <div class="row contract-detail-item">
                            <div class="col-xs-3" style="font-size: 32px;">演员模特：</div>
                            <div class="col-xs-9" style="font-size: 32px;">{{ follower[0].ActorPrice}}元</div>
                        </div>
                        <div class="row contract-detail-item">
                            <div class="col-xs-3" style="font-size: 32px;">配音配乐：</div>
                            <div class="col-xs-9" style="font-size: 32px;">{{ follower[0].MusicPrice}}元</div>
                        </div>
                        <div class="row contract-detail-item">
                            <div class="col-xs-3" style="font-size: 32px;">后期制作：</div>
                            <div class="col-xs-9" style="font-size: 32px;">{{ follower[0].AEPrice}}元</div>
                        </div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">押金比例：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ follower[0].DepositPercent }}%</div>
                    </div>
                    {% endif %}
                </div>
                {% if req.Status == 3 and follower | length() > 0 %}
                <div class="panel-footer" style=";text-align:center;overflow-y: auto;">
                    {% if IsService %}
                    <span style="font-size: 34px"><strong>等待客户审核</strong></span>
                    {% else %}
                    <button id='acceptReqProducer' style="font-size: 28px;padding: 10px 30px 10px 30px;background-color: #f68e14;color: #FFFFFF;float:right;">同意，并支付预付款</button>
                    <button id='denyReqProducer' style="font-size: 28px;padding: 10px 30px 10px 30px;background-color: #f68e14;color: #FFFFFF;float:right;">再修改</button>
                    {% endif %}

                </div>
                {% endif %}
            </div>
        {% endif %}

        {% if req.Status >= 1 %}<!--created+published-->
            <div class="panel panel-default" style="padding:10px;margin-top: 20px">
                <div class="panel-heading">
                    <span style="font-size: 34px;color: #ff9000"><strong>需求信息</strong></span>
                    <span style="font-size: 28px;color: #ff9000;margin:10px 10px;float: right;">{% if req.Status == 1 %}草稿{% else %}
                        {% if IsService and req.Status <= 2%}
                        未申请
                     {% else %}
                        已提交
                    {% endif %}
                        {% endif %}</span>
                </div>
                <div class="panel-body">
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">视频名称：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ req.Title }}</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">简要描述：</div>
                        <div class="col-xs-9" style="font-size: 32px;min-height: 100px;">{{ req.Detail }}</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">价格预算：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ req.Amount }}元</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">交付时间：</div>
                        <div class="col-xs-9" style="font-size: 32px;">{{ req.Deadline }}</div>
                    </div>
                    <div class="row contract-detail-item">
                        <div class="col-xs-3" style="font-size: 32px;">参考作品：</div>
                        <div class="col-xs-9" style="font-size: 32px;">
                            <a href={{req.Refer}} target="_blank">{{req.ReferName}}</a>
                        </div>
                    </div>
                    <input id="request_id" value="{{ req.Id }}" hidden>
                    <!--很多个方案 但是都是取第一个-->
                  {% if follower %}
                        <input id="follower_id" value="{{ follower[0].Id }}" hidden>
                        <input id="follower_producer_id" value="{{ follower[0].FollowerProducerId }}" hidden>
                    {% endif  %}
                     {% if checkAttachment %}
                        <input id="checkAttachment_id" value="{{ checkAttachment[0].Id }}" hidden>
                    {% endif  %}

                    <input id="contract_id" value="{{ req.ContractId }}" hidden>
                </div>
                {% if req.Status == 1 %}
                <div class="panel-footer" style="overflow-y: auto">
                    <!--<button id = 'comfirm-publish-btn'style="font-size: 28px;padding: 10px 30px 10px 30px;background-color: #f68e14;color: #FFFFFF;float:right;">提交</button>-->
                    <button id='edit-publish-btn' style="font-size: 28px;padding: 10px 30px 10px 30px;background-color: #f68e14;color: #FFFFFF;float:right;">编辑</button>
                </div>
                {% elif req.Status == 2 %}
                     {% if IsService %}
                        <div class="panel-footer" style="overflow-y: auto">
                            <button id='ask-requirement-btn' style="font-size: 28px;padding: 10px 30px 10px 30px;background-color: #f68e14;color: #FFFFFF;float:right;">即刻申请</button>
                        </div>
                     {% else %}
                        <div class="panel-footer"  id='cancel-publish-btn' style="overflow-y: auto">
                                    <button style="font-size: 28px;padding: 10px 30px 10px 30px;background-color: #f68e14;color: #FFFFFF;float:right;">取消提交</button>
                                </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        <div class="container-fluid" style="height: 100px"></div><!--用于垫底-->
    </div>
    <script src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/script/template/template.js"></script>
    <script type="text/javascript" src="/static/mobile/require/require.min.js"></script>
    <script src="/static/mobile/mreqdetail.js"></script>
    <script src="/static/script/player/ckplayer/ckplayer.js"></script>
    <script type="text/javascript" >

    </script>
    <script type="text/javascript">
        function checkBroweser(){
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM)
                return 0;
            else
               return 1;
        }

        var iWidth = $('#video_check_container').width();
        var iHeight = iWidth * 3 / 4;

        if (checkBroweser()==0){
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            if (bIsIpad || bIsIphoneOs)
                var videoFilePath = $('#video_check_path').val()
                <!--原始的被修改的-->
                <!--var videoFilePath = $('#video_check_path').val().replace('123.57.157.64:8080','123.57.157.64:800');-->
            else
                var videoFilePath=$('#video_check_path').val();
            var flashvars=null ;
            var video=[videoFilePath+'->video/mp4'];
            var support=['all'];
            var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
            var flashvars={
                p:1,
                e:1
            };
            CKobject.embedHTML5('video_check_player','ckplayer_a1', iWidth,iHeight,video,flashvars,support);
        }else{
            var videoFilePath=$('#video_check_path').val();
            var flashvars=null ;
            var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
            var video=[videoFilePath+'->video/mp4'];
            flashvars={
                f:videoFilePath,
                c:0,
                b:1,
                k:'',
                n:'',
                h:'4',
                q:'start',
                p:1,
                h:4
            };

            CKobject.embedSWF('/static/script/player/ckplayer/ckplayer.swf','video_check_player','ckplayer_a1',iWidth,iHeight,flashvars,params);
        }
    </script>
    <script src="/static/mobile/requirement.js"></script>
    <script src="/static/mobile/mycontract.js"></script>

{% endblock %}





