{% extends "mobile/promote.html" %}
{% block body %}
    <div class="container-fluid" style="padding: 350px 180px 0px 180px;">
        <form action="registernewuser" method="post">
            <div class="row col-xs-12" style="margin-bottom: 30px;">
                <span style="font-size: 30px;">手机号：</span>
                <input type="text" name="phone" style="width:410px;font-size: 32px;border: 0px;margin: 0px;">
            </div>
            <div class="row col-xs-12" style="padding-right: 0px;">
                <span style="font-size: 30px;">验证码：</span>
                <input type="text" name="IdentityCode" style="width: 251px;font-size: 32px;border: 0px;margin: 0px;">
                <button class="btn btn-default2 btn-lg" id="SendIdentityCode" style="font-size: 28px;padding: 5px;color: #fff;background-color: #f68e14;">发送验证码</button>
            </div>
            <hr>
            <div class="row col-xs-12" style="margin-top: 50px;text-align: center;">
                <button class="btn btn-default2 btn-lg" type="submit" style="font-size: 32px;padding: 10px 30px 10px 30px;">登录</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block toolbar %}
{% endblock %}
{% block script %}
    <script>
        $('[name=phone]').blur(function(){
            //$(this).val()
        });
        
        $('#SendIdentityCode').unbind('clicked').click(function () {
            var phone = $('[name=phone]').val();
            var identity = $('[name=IdentityCode]').val();

            if( !phone){
                alert('手机号不能为空！');
                return;
            }

            if( !identity){
                alert('验证码不能为空！');
                return;
            }

            $.ajax({
                url: 'GetIdentityCode',
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    Phone: phone,
                    IdentityCode: identity
                }),
                success: function (data) {
                },
                error: function () {
                    alert('网络连接异常，请检查!');
                }
            });
        });
    </script>
{% endblock %}
