{% extends "mobile/frame.html" %}
{% block body%}
<div class="container-fluid screen">
    <div class="container-fluid text-center" style="margin-top:15px; padding: 0">
        <div id="video_player" style="margin:0 auto;"></div>
        <input id="video_path" value="{{ object.File.VideoFile}}" hidden>
        <input id="video_obj" value="{{ object.Id }}" hidden>
        <input id="video_name" value="{{ object.Name }}" hidden>
    </div>
</div>
<div class="container-fluid" style="margin-top: 10px;margin-bottom: 5px;color: #69360e;">
    <span style="font-size: 34px;padding-left: 5px;"><strong>{{ object.Name }}</strong></span>
    {% if zone_item%}
    <button id="favorite" class="btn btn-default" style="font-size: 25px;margin: 2px 2px 0px 5px;float: right">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <span id="cb_info">{{ zone_item.Favorite }}</span>
    </button>
    <button id="viewcount" class="btn btn-default" style="font-size: 25px;margin: 2px 2px 0px 5px;float: right">
        <span class="glyphicon glyphicon-eye-open"></span>
        <span>{{ zone_item.ViewCount }}</span>
    </button>
    {% endif %}
</div>
<div class="container-fluid" style="margin-top: 10px;margin-bottom: 5px;">
    <div class="col-xs-8">
        {% if object.Tag%}<small style="text-overflow:ellipsis;">{{ object.Tag }}</small>{% endif %}
        {% if object.Description%}<h2 class="wxpromotebox">{{ object.Description }}</h2>{% endif %}
        <p style="font-size: 25px">{{ object.ModifyTime.strftime('%Y-%m-%d') }}</p>
    </div>
    <div class="col-xs-4">
        <p>&nbsp;</p>
        {% if zone_item%}
        <p style="font-size: 25px;color:#69360e;text-align: right">{% if zone_item.ReferPrice %}参考价：{{ zone_item.ReferPrice|int()}}元{% else %}&nbsp;{% endif %}</p>
        <button id="player_request" style="font-size: 32px;padding:10px 8px 10px 8px;float: right;border-radius:5px;background-color: #f68e14;color: #FFFFFF">做类似视频</button>
        {% endif %}
    </div>
</div>
{% if zone_item%}
<div class="container-fluid" style="background-color: #eee">
    <hr style="border-color: #ccc;margin-bottom: 10px">
    {% if logined%}
    <div class="container-fluid">
        <div class="col-xs-10" style="padding: 0;font-size: 30px;">
            <input id="player-comment" style="font-size: 32px;width: 100%;padding: 4px 2px 4px 2px;" placeholder="添加评论..."
                    onfocus="$('.toolbar').hide()" onblur="$('.toolbar').show()"/>
        </div>
        <div class="col-xs-2" style="float: right;">
            <button id="btn-comment" class="btn btn-default" style="font-size: 30px;float: right">
                <span class="glyphicon glyphicon-user"></span>
                <span>回复</span>
            </button>
        </div>
    </div>
    {% endif%}
    <p style="font-size: 35px;margin: 20px 0px 0px 15px;text-align: left">全部评论</p>
    <hr style="border-color: #ccc; margin-top: 0px">
    <div id="comment-area" style="margin-bottom: 15px">
        {% if comments | length() > 0 %}
            {% include "index/player_comment.html" %}
        {% else %}
            <div class="text-center">
                <h2 style="color:#ccc;margin:25px auto">暂无评论</h2>
            </div>
        {% endif %}
    </div>
</div>
{% endif%}
<div class="container-fluid" style="background-color: #fff;">
    <div style="height: 110px;margin: 20px 50px 20px 50px;">
        <div class="col-xs-2">
            <img src="/image/logo256.png" style="height:110px;">
        </div>
        <div class="col-xs-4" style="text-align: left;top: 28%">
            <span style="font-size:50px;"><black>商影联盟</black></span>
        </div>
        <div class="col-xs-6" style="text-align: left;top: 28%">
            <h4>中国优秀视频制作人组织</h4>
            <h4>提供高品质的视频策划、拍摄和制作</h4>
        </div>
    </div>
    <hr style="border-color: #ccc">
    <div style="width: 100%;margin: 0px 0px 0px 20px;">
        <div class="col-xs-7">
            <h4>业务总监：张洪</h4>
            <h4>移动电话：18611828618</h4>
            <h4>固定电话：010-85388138</h4>
            <h4>办公地址：北京市朝阳区双桥康惠园3号院</h4>
            <h4>联盟网址：www.zuopianzi.com</h4>
        </div>
        <div class="col-xs-1">
            <img src="/image/weixin_2.png">
        </div>
        <div class="col-xs-4">
            <img src="/image/weixinCode.jpg" style="width: 90%; height: auto">
        </div>
    </div>
</div>

<script src="/static/script/player/ckplayer/ckplayer.js"></script>
<script type="text/javascript">
    function checkBroweser(){
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM)
            return 0;
        else
           return 1;
    }

    if (checkBroweser()==0){
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        if (bIsIpad || bIsIphoneOs)
            var videoFilePath = $('#video_path').val().replace('123.57.157.64:8080','123.57.157.64:800');
        else
            var videoFilePath=$('#video_path').val();
        var flashvars=null ;
        var video=[videoFilePath+'->video/mp4'];
        var support=['all'];
        var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
        var flashvars={
            p:1,
            e:1
        };
        CKobject.embedHTML5('video_player','ckplayer_a1',window.innerWidth - 40,560,video,flashvars,support);
    }else{
        var videoFilePath=$('#video_path').val();
        var flashvars=null ;
        var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
        var video=[videoFilePath+'->video/mp4'];
        flashvars={
            f:videoFilePath,
            c:0,
            b:1,
            k:'',
            n:'',
            h:'4',
            q:'start',
            p:1,
            h:4
        };
        CKobject.embedSWF('/static/script/player/ckplayer/ckplayer.swf','video_player','ckplayer_a1',window.innerWidth - 40,560,flashvars,params);
    }

    $('#btn-comment').unbind('click').click(function(){
        $.ajax({
            type: "POST",
            url:"/addVideoComment",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                Content:$('#player-comment').val(),
                ObjectId:$('#video_obj').val()
            }),
            success: function (data) {
                if(data.bSuccess != null)
                    alert('评论失败，请检查网络。');
                else{
                    $('#comment-area').html(data);
                    $('#player-comment').val('');
                }
            },
            error:function(){
                alert('请检查网络。');
            }
        });
    });

    $('#player_request').unbind('click').click(function(){
        $.cookie('refer_obj',$('#video_obj').val(),{path:'/'});
        $.cookie('refer_name',$('#video_name').val(),{path:'/'});

        self.location = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7d438d00f2f8e9ec&redirect_uri=http://jianpianzi.com/mobile/submit&response_type=code&scope=snsapi_base&state=1#wechat_redirect';
    });

    var timestamp = '{{ timestamp }}';
    var appId = '{{ appId }}';
    var nonceStr = '{{ nonceStr }}';
    var signature = '{{ signature }}';
    var objshared = true;

    {% if not object.BShare %}
        objshared = false;
    {% endif %}

    var imgPath = '{{ object.File.Path }}';
    if (imgPath.indexOf('http') == -1)
        imgPath = 'http://jianpianzi.com' + imgPath;

    var description = '';
    var descTimeline = '{{ object.Name }}';

    {% if object.Description %}
        description = '{{ object.Description }}';

        descTimeline += ' - ';
        descTimeline += '{{ object.Description }}';
    {% endif %}

    wx.config({
        appId: appId,
        timestamp: timestamp,
        nonceStr: nonceStr,
        signature: signature,
        jsApiList: ['onMenuShareAppMessage', 'onMenuShareTimeline']
    });
    wx.ready(function(){
        //分享给朋友
        wx.onMenuShareAppMessage({
            title: '{{ object.Name }}', // 分享标题
            desc: description, // 分享描述
            link: 'jianpianzi.com/mobile/share/{{ object.Id }}', // 分享链接
            imgUrl: imgPath, // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () { // 用户确认分享后执行的回调函数
                if( !objshared)
                    shareObj({{ object.Id }});
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            },
            fail: function(){
            }
        });
        //分享到朋友圈
        wx.onMenuShareTimeline({
            title: descTimeline, // 分享标题
            link: 'jianpianzi.com/mobile/share/{{ object.Id }}', // 分享链接
            imgUrl: imgPath, // 分享图标
            success: function () { // 用户确认分享后执行的回调函数
                if( !objshared)
                    shareObj({{ object.Id }});
            },
            cancel: function () {
                //用户取消分享后执行的回调函数
            },
            fail: function(){
            }
        });
    });
    wx.error(function(res){
         alert("errorMSG: " + JSON.stringify(res));
    });

    function shareObj(objectId){
        $.ajax({
            type: "POST",
            url: "/cloud/modifyShareProperty",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({ObjectId: objectId, BShare: true}),
            success: function (data) {
                if (data.errorCode == null) {
                    window.location.reload();
                }
                else{
                    alert("分享失败,问题描述: " + data.errorMsg);
                }
            },
            error: function () {
                alert("分享文件操作失败，网络异常");
            }
        });
    }

    {% if zone_item %}
    $('#favorite').unbind('click').click(function(){
        $.ajax({
            type: "POST",
            url: "/mobile/favorVideo",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({ ZoneItemId:{{ zone_item.Id }}}),

            success: function (data) {
                if( data.bSuccess)
                    $('#cb_info').text( '' + data.count);
                else if ( data.path)
                    window.location.href = data.path;
            },
            error:function(){
                alert('请检查网络。');
            }
        });
    });
    {% endif %}
</script>
{% endblock %}
{% block toolbar%}
{% endblock %}