<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="../../script/bootstrap-3.2.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../css/styles.css"/>
</head>
<body>
    <div class="container-fluid" >
        <ul class="col-md-1 nav nav-pills nav-stacked" role="tablist" style="background:#eee;padding:5px 5px 0 5px;padding-bottom:29%;">
            <li role="presentation" class="active"><a href="#RequirementUser" role="tab" data-toggle="tab">需求方列表</a></li>
            <li role="presentation"><a href="#ServiceUser" role="tab" data-toggle="tab">服务商列表</a></li>
            <li role="presentation"><a href="#requirement" role="tab" data-toggle="tab">需求条目</a></li>
            <li role="presentation" ><a href="#contract" role="tab" data-toggle="tab">合同条目</a></li>
            <li role="presentation"><a href="#order" role="tab" data-toggle="tab"><small>合同交易记录</small></a></li>
            <li role="presentation"><a href="#updata" role="tab" data-toggle="tab"><small>增值服务订单</small></a></li>
            <li role="presentation"><a href="#admin_main" role="tab" data-toggle="tab">广告位设置</a></li>
            <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">平台设置</a></li>
        </ul>
        <div class="col-md-11 tab-content">
            <div role="tabpanel" class="tab-pane active" id="requirementUser"></div>
            <div role="tabpanel" class="tab-pane" id="ServiceUser">..2.</div>
            <div role="tabpanel" class="tab-pane" id="order"></div>
            <div role="tabpanel" class="tab-pane" id="requirement"></div>
            <div role="tabpanel" class="tab-pane" id="contract"></div>
            <div role="tabpanel" class="tab-pane" id="updata"></div>
            <div role="tabpanel" class="tab-pane" id="admin_main"></div>
            <div role="tabpanel" class="tab-pane" id="settings">..4.</div>
        </div>
    </div>
</body>
</html>