<h2>需求方列表</h2>
<table class="table table-hover table-condensed table-bordered" style="border:solid 1px #aaa;">
    <thead>
        <tr>
            <td>Id</td>
            <td>昵称</td>
            <td>Email</td>
            <td>真实姓名</td>
            <td>电话</td>
            <td>支付宝</td>
            <td>余额</td>
            <td>创建时间</td>
            <td>上一次登录时间</td>
            <td>简介</td>
        </tr>
    </thead>
    <tbody>
    {{each user}}
    {{if $value.Domain.IsService}}
        <tr>
            <td>{{$value.Id}}</td>
            <td>{{$value.NickName}}</td>
            <td>{{$value.Email}}</td>
            <td>{{$value.RealName}}</td>
            <td>{{$value.CellPhone}}</td>
            <td>{{$value.Domain.Alipay}}</td>
            <td>{{$value.Domain.Count}}</td>
            <td>{{$value.CreateTime | ParseTime}}</td>
            <td>{{$value.LeastTime}}</td>
            <td><abbr title="{{$value.Domain.Intro}}">个人简介</abbr></td>
        </tr>
    {{/if}}
    {{/each}}
    </tbody>
</table>
