<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <include file="Public/head" />
</head>
<body>



<div class="row">
    <div class="col-md-1" style="margin-left: 30px">
        <h3>角色列表</h3>
        <h5>(共{$count}条记录)</h5>
    </div>
</div>
<a href="role_info" style="position:absolute;float: left;margin-top: 60px" class="btn btn-primary pull-right">
    <i  class="fa fa-plus"></i>添加角色</a>


<table class="table table-hover table-condensed table-striped table-bordered" style="margin-top: 100px"  >
                <thead>
                <tr>
                    <th>角色ID</th>
                    <th>角色名称</th>
                    <th>描述</th>

                    <th>操作</th>

                </tr>
                </thead>
                <tbody>
                <volist name='data' id='v'>
                    <tr id="{$v.role_id}">
                        <td >{$v.role_id}</td>
                        <td >{$v.role_name}</td>
                        <td >{$v.role_desc}</td>
                        <td >
                            <a class="btn btn-primary"  href="role_info?id={$v.role_id}"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger"data-url="{:U('Admin/roleHandle')}" data-act="del" data-id="{$v.role_id}" onclick="delfunc(this)"><i class="fa fa-trash-o"></i></a>

                        </td>
                    </tr>
                    <tr>
                </volist>
                </tbody>
            </table>

</body>
</html>