<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="page-title"  style="position: relative" >
    <h2>评论<a href="javascript:history.go(-1)" style="top: 30%;" class="arrow-left backpage"></a></h2>
</div>
<div>
<form method="post"   action="__SELF__"  style="padding-top:5%" >
    <div class="weui-cell__bd">
        <textarea class="weui-textarea" placeholder="评论" rows="8" name="content"></textarea>
    </div>
    <div class="weui-btn-area" style="margin-top: 20%">
        <button class="weui-btn weui-btn_primary"   >确定</button>
    </div>
</form>

</div>
</body>
<script>


    $(document).ready(function () {
        $(".weui-btn.weui-btn_primary").click(function(){

        });
    });
</script>
</html>