<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" id="operLog">
            <div class="btn-group" style="float:right" data-toggle="buttons">
                <label id="operFilter_success" class="btn btn-default active" title="显示所有日志">
                    <input type="radio" name="options" autocomplete="off"><span class="glyphicon glyphicon-ok-sign"></span>
                </label>
                <label id="operFilter_info" class="btn btn-default" title="显示警告和错误日志">
                    <input type="radio" name="options" autocomplete="off"><span class="glyphicon glyphicon-info-sign"></span>
                </label>
                <label id="operFilter_failed" class="btn btn-default" title="只显示错误日志">
                    <input type="radio" name="options" autocomplete="off"><span class="glyphicon glyphicon-remove-sign"></span>
                </label>
            </div>
            <button class="btn btn-default" id="oper_clear" style="float:right; margin-right: 5px"><span class="glyphicon glyphicon-trash"></span></button>
            <div class="panel-body">
                <div class="col-md-2">
                    <h4><strong>操作日志</strong></h4>
                </div>
                <div class="col-md-10" id="operLogArea">
                </div>
            </div>
        </div>
        <!--<div class="panel panel-default" id="requirementLog">
            <div class="panel-body">
                <div class="col-md-3">
                    <h4><strong>需求日志</strong></h4>
                </div>
                <div class="col-md-9">
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="contractLog">
            <div class="panel-body">
                <div class="col-md-3">
                    <h4><strong>合同日志</strong></h4>
                </div>
                <div class="col-md-9">
                </div>
            </div>
        </div>-->
    </div>
    <!--<div class="col-md-3">
        <nav id="navbar-example2" class="affix-top">
            <ul class="nav">
                <li><a href="#operLog">操作日志</a></li>
                <li><a href="#requirementLog">需求日志</a></li>
                <li><a href="#contractLog">合同日志</a></li>
            </ul>
        </nav>
    </div>-->
</div>