<h3 style="margin:10px 0 20px 0" align="center">资金管理</h3>
<hr>
<div class="panel panel-default" style="border-radius:0;margin:10px 0">
    <div class="panel-body" >
        <div class="col-md-3">
            <blockquote style="margin:0;padding:0 20px;">
                <h4><strong>平台余额</strong></h4>
            </blockquote>
        </div>
        <div class="col-md-9">
            <div class="well row" style="padding:10px;margin:10px" id="simple_recharge">
                <div class="col-md-3" >
                    我的余额：
                </div>
                <div class="col-md-9">
                    <strong>{{ user.Domain.Count }}元</strong>
                    <p id="Recharge" class="ReBinding-btn">
                        充值与提现 <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                    </p>
                </div>
            </div>
            <div class="container-fluid" id="detail_recharge" hidden>
                <h4>平台余额充值</h4>
                <hr>
                <div class="row">
                    <div class="col-md-5">
                        <p><strong>充值金额</strong></p>
                        ￥ <input type="text" id="charge-account" class="form-control " style="width:100px;display: inline-block"
                            onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"
                            onblur="this.value=this.value.replace(/(\.\d{1})\d*$/,'\$1')">
                    </div>
                    <div class="col-md-7">
                        <p><strong>余额充值说明</strong></p>
                        <ul style="color:#666">
                            <li>平台余额可以随时转现，我们不会收取任何手续费用。</li>
                            <li>您的余额只能在商影联盟平台上交易和使用，您的交易[退款]将会存入余额中。</li>
                            <li>转出时请确保您的支付宝账号真实可用，我们会将余额打到您的支付宝账户。</li>
                            <li>请不要相信任何询问或提供您密码的短信或消息，我们绝不会需要您的密码。</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="container-fluid">
                    <button id="Recharge-Submit" class="btn btn-success" style="float: right;">进入充值页面</button>
                    <button id="BackUp" class="btn btn-danger" style="float: right;margin-right:5px">取消</button>
                </div>
                <div class="container-fluid">
                    <h4>余额转现服务</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-5">
                            <p><strong>转现金额</strong></p>
                            ￥ <input id="account-apply" class="form-control" style="width:100px;display: inline-block">
                            <p><red>* {{if user.Domain.Alipay }}您的支付宝：{{ user.Domain.Alipay }}{{ else }}暂无绑定支付宝，请在下面的支付宝设置绑定{{ /if }}</red></p>
                            {{ if bShowApplyMoney }}
                            <button id="account-apply-submit" class="btn btn-success" style="float: right;">申请转现</button>
                            {{ /if }}
                        </div>
                        <div class="col-xs-7">
                            <p><strong>余额转现说明</strong></p>
                            <ul style="color:#666">
                                <li>平台余额可以随时转现，我们不会收取任何手续费用。</li>
                                <li>您的转现申请会提交到网站后台，我们会对您的信息进行核实并完成转现操作。</li>
                                <li>转出时请确保您的支付宝账号真实可用，我们会将余额打到您的支付宝账户。</li>
                                <li>请不要相信任何询问或提供您密码的短信或消息，我们绝不会需要您的密码。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <h4>转现记录</h4>
                        <hr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>申请时间</th>
                                    <th>转现金额</th>
                                    <th>状态</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{ each user.ApplyMoney }}
                                <tr>
                                    <td>{{ $value.CreateTime | ParseTime3 }}</td>
                                    <td>{{ $value.Money }}</td>
                                    <td>
                                    {{ if $value.Status == 0 }}
                                    <red>申请中</red>
                                    {{ else if $value.Status == 1 }}
                                    <strong>拒绝</strong>
                                    {{ else if $value.Status == 2 }}
                                    <green>通过</green>
                                    {{ /if }}
                                    </td>
                                </tr>
                            {{ /each }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ if user.Domain.IsService }}
<div class="panel panel-default" style="border-radius:0;margin:10px 0">
    <div class="panel-body" >
        <div class="col-md-3">
            <blockquote style="margin:0;padding:0 20px;">
                <h4><strong>会员服务</strong></h4>
            </blockquote>
        </div>
        <div class="col-md-9">
            <div class="well row" style="padding:10px;margin:10px" id="simple_tax_recharge">
                <div class="col-md-3" >
                    截止日期：
                </div>
                <div class="col-md-9">
                    <strong>{{ user.Domain.ExpireTime | ParseTime3 }}</strong>
                    <p id="Recharge_tax" class="ReBinding-btn">
                        立刻充值 <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                    </p>
                </div>
            </div>
            <div class="container-fluid" id="detail_tax_recharge" hidden>
                <h4>续费 ({{ MemberShipTax }}元 / 年)</h4>
                <hr>
                <div class="row">
                    <div class="col-md-5">
                        <p><strong>选择续费年限</strong></p>
                        <input type="text" id="charge-tax" class="form-control " style="width:100px;display: inline-block"
                        onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"
                        onblur="this.value=this.value.replace(/(\.\d{1})\d*$/,'')"> 年
                    </div>
                    <div class="col-md-7">
                        <p><strong>会员年费说明</strong></p>
                        <ul style="color:#666">
                            <li>会员可以在平台上接触到大量视频制作需求</li>
                            <li>为了您享受更好的服务体验，我们仅收取小额的会员费用</li>
                            <li>为了不影响您的接单，请确保在会员服务截止日期前完成充值</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <span style="font-size: 20px; color: #a9302a">支付金额: ￥<span id="tax_amount">0</span></span>
                <button id="Tax-Recharge-Submit" class="btn btn-success" style="float: right;">进入充值页面</button>
                <button id="tax_backup" class="btn btn-danger" style="float: right;margin-right:5px">取消</button>
            </div>
        </div>
    </div>
</div>
{{ /if }}
{{ if user.Domain.IsService }}
<div class="panel panel-default" style="border-radius:0;margin:10px 0">
    <div class="panel-body" >
        <div class="col-md-3">
            <blockquote style="margin:0;padding:0 20px;">
                <h4><strong>竞价排名</strong></h4>
            </blockquote>
        </div>
        <div class="col-md-9">
            <div class="well row" style="padding:10px;margin:10px" id="simple_domain_price">
                <div class="col-md-3" >
                    当前竞价价格：
                </div>
                <div class="col-md-9">
                    <strong>￥<span id="domain_price_text">{{ user.Domain.Price }}</span></strong>
                    <p id="change_price" class="ReBinding-btn">
                        更改价格 <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                    </p>
                </div>
            </div>
            <div class="container-fluid" id="detail_domain_price" hidden>
                <h4>竞价排名
                    {{ if user.Domain.Count < user.Domain.Price }}
                    <small><red>您的账户余额不足，排名系统将不起作用，充值后恢复</red></small>
                    {{ /if }}
                </h4>
                <hr>
                <div class="row">
                    <div class="col-md-5">
                        <p><strong>更改竞价价格</strong></p>
                        <input type="text" id="domain_price" class="form-control " style="width:100px;display: inline-block"
                        onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"
                        onblur="this.value=this.value.replace(/(\.\d{1})\d*$/,'\$1')"> 元
                    </div>
                    <div class="col-md-7">
                        <p><strong>竞价排名说明</strong></p>
                        <ul style="color:#666">
                            <li>由于首页展示空间有限，所以平台采用竞价排名机制来决定排列顺序</li>
                            <li>竞价价格决定了案例在首页的排名顺序</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <span style="font-size: 20px; color: #a9302a">当前能进入前十排名的竞价价格为：{{ domainPrice }}元</span>
                <button id="price_Submit" class="btn btn-success" style="float: right;">提交</button>
                <button id="price_backup" class="btn btn-danger" style="float: right;margin-right:5px">取消</button>
            </div>
        </div>
    </div>
</div>
{{ /if }}
<div class="panel panel-default" style="border-radius:0;margin:10px 0">
    <div class="panel-body" >
        <div class="col-md-3">
            <blockquote style="margin:0;padding:0 20px;">
                <h4><strong>支付宝设置</strong></h4>
            </blockquote>
        </div>
        <div class="col-md-9">
            {{if !user.Domain.Alipay || Modify}}
                <div class="container-fluid">
                    {{ if Modify }}
                    <h4>解绑或更改支付宝账号</h4>
                    {{ else }}
                    <red>您尚未绑定支付宝账号，请绑定</red>
                    {{ /if }}
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>支付宝账号</strong></p>
                        <input type="text" id="alipay-account" class="form-control " placeholder="{{ user.Domain.Alipay }}" style="width:300px;display: inline-block"
                        onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"
                        onblur="this.value=this.value.replace(/(\.\d{1})\d*$/,'')">
                        <p><red>* 请务必正确输入支付宝账号信息</red></p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>支付宝绑定说明</strong></p>
                        <ul style="color:#666">
                            <li>制作商用户需要绑定支付宝。</li>
                            <li>绑定的支付宝账户可以随时解绑。</li>
                            <li>请确保您的支付宝账号真实可用，我们会将交易金额打到您的支付宝账户。</li>
                            <li>请不要相信任何询问或提供您密码的短信或消息，我们绝不会需要您的密码。</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <button class="btn btn-success" id="binding-submit" style="float: right">绑定</button>
                {{ if Modify }}
                    <button id="alipay-BackUp" class="btn btn-danger" style="float: right;margin-right:5px">取消</button>
                {{ /if }}
            {{else}}
                <div class="well row" style="padding:10px;margin:10px">
                    <div class="col-md-3">
                        <p style="margin:0"><green><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></green>
                        已绑定支付宝账号</p>
                    </div>
                    <div class="col-md-9">
                        <code>{{user.Domain.Alipay}}</code>
                        <p id="ReBinding" class="ReBinding-btn">
                            解绑或更改支付宝账号 <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </p>
                    </div>
                </div>
                <!--<div class="panel panel-success" style="margin:10px">
                    <div class="panel-heading">
                        <p class="panel-title">实名制信息</p>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            {{ if user.RealName}}
                                <p><strong>真shi{{ user.RealName }}</strong></p>
                            {{ /if }}
                            {{ if  user.CellPhone}}
                                <span> {{ user.CellPhone }}</span><br>
                            {{ /if }}
                            {{ if user.Domain.CompanyAddr }}
                                <span> {{ user.Domain.CompanyAddr }}</span><br>
                            {{ /if }}
                            {{ if user.Domain.CompanyLicense}}
                                <span> {{ user.Domain.CompanyLicense | LicenseFormat}}</span><br>
                            {{ /if }}
                        </div>
                    </div>
                </div>-->
            {{/if}}
        </div>
    </div>
</div>



