{{ each operLog }}
{{ if $value.bShow }}
<div class="col-md-12 logCenter-item">
    <div class="col-sm-1" align="center" style="border-right: solid 1px #000">
        {{ if $value.level == 'success' }}
        <span class="logCenter-mark glyphicon glyphicon-ok-sign" style="color: #008000"></span>
        {{ else if $value.level == 'info' }}
        <span class="logCenter-mark glyphicon glyphicon-info-sign" style="color: #003399"></span>
        {{ else if $value.level == 'failed' }}
        <span class="logCenter-mark glyphicon glyphicon-remove-sign" style="color: #a9302a"></span>
        {{ /if }}
    </div>
    <div class="col-sm-11">
        <h5 style="margin:0;
        {{ if $value.level == 'success' }}
        color:#008000"
        {{ else if $value.level == 'info' }}
        color:#003399"
        {{ else if $value.level == 'failed' }}
        color:#a9302a"
        {{ /if }}
        >{{ $value.msg }}</h5>
        <p style="margin: 0">{{ $value.time }}xxxxx</p>
    </div>
</div>
{{ /if }}
{{ /each }}