<div class="col-index text-center">
    <h2>升级为企业账号</h2>
    <hr>
    <p>建立企业后，</p>
    <p><strong>您将可以增加企业成员，共享数据。</strong></p>
    <p>了解更多详情请点击<a>商影团队服务协议</a>。</p>
    <p>请完善信息以便推广和传播。<h4><red>请完善以下基本信息</red></h4></p>
    <br>
    <div class="container">
        <div class="col-xs-5">
            <label class="vipinfo text-right">企业真实名称</label>
        </div>
        <div class="col-xs-4">
            <input class=" form-control " id="domain_new_name_input" placeholder="企业名称"/>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-5">
            <label class="vipinfo text-right">企业联系人姓名</label>
        </div>
        <div class="col-xs-4"><input class="form-control" id="CellPhone" placeholder="联络人姓名"/></div>
    </div>
    <button class="btn btn-lg btn-green" id="tovip-next-submit" style="margin-top:10px"><strong>升级为企业账号</strong></button>
</div>
