<div class="updata"  style="min-height:500px;">
    <div class="sub-nav">
        <div class="container">
            <div style="position:absolute;margin:10px 50px 0 0;padding:0">
                <h3 style="margin:5px 0"><black> 管理中心 </black></h3>
            </div>
            <ul style="float:right">
                <li class="tovip-hover" style="background:#fff" onclick="$('.tovip-hover').css('background','#eee');$(this).css('background','#fff')">
                    <p id="updata-index" class="tovip"> 首页</p>
                </li>
                {{ if user.Domain.Status == 0}}
                <li id="tovip-submit" class="tovip-hover" onclick="$('.tovip-hover').css('background','#eee');$(this).css('background','#fff')">
                    <img src="image/domain.png" class="img-circle" style="height:25px;"/>
                    <p class="tovip" > 建立企业账号</p>
                </li>
                {{ else }}
                <li id="gotoUserSettingPage" class="tovip-hover" onclick="$('.tovip-hover').css('background','#eee');$(this).css('background','#fff')">
                    <img src="image/domain.png" class="img-circle" style="height:25px;"/>
                    <p class="tovip" > 基本设置</p>
                </li>
                {{ /if }}
                <li id="extend" class="tovip-hover" onclick="$('.tovip-hover').css('background','#eee');$(this).css('background','#fff')">
                    <img src="image/cloud.png" class="img-circle" style="height:25px;"/>
                    <p  class="tovip"> 云空间管理</p>
                </li>
                <!--<li id="SelfSetting" class="tovip-hover" onclick="$('.tovip-hover').css('background','#eee');$(this).css('background','#fff')">
                    <img src="image/safer.png" class="img-circle" style="height:25px;"/>
                    <p class="tovip"> 个人设置</p>
                </li>-->
                <li id="ShowWall" class="tovip-hover" onclick="$('.tovip-hover').css('background','#eee');$(this).css('background','#fff')">
                    <img src="image/playstore.png" class="img-circle" style="height:25px;"/>
                    <p class="tovip">展示页</p>
                </li>
                <li id="Money" class="tovip-hover" onclick="$('.tovip-hover').css('background','#eee');$(this).css('background','#fff')">
                    <img src="image/safer.png" class="img-circle" style="height:25px;"/>
                    <p class="tovip"> 资金管理</p>
                </li>
                <li id="logCenter" class="tovip-hover" onclick="$('.tovip-hover').css('background','#eee');$(this).css('background','#fff')">
                    <img src="image/moreDescription.png" class="img-circle" style="height:25px;"/>
                    <p class="tovip"> 日志中心</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="container" id="updata-content">
        <div class="container-fluid" style="padding:20px 50px;background:#c0ebd7;">
            <div class="col-xs-1">
                <img src="{{ user.Domain.Portrait }}" class="img-circle" style="height:85px;width:85px;"/>
            </div>
            <div class="col-xs-4 " style="padding-left:40px">
                <h3 style="margin-top:25px">{{ user.Domain.CompanyName }}</h3>
            </div>
            <div class="col-xs-3 text-right" >
                <h4 style="margin-top:30px">账户余额：{{ user.Domain.Count}}元</h4>
            </div>
            <div class="col-xs-1 text-right" style="padding: 0">
                <h4  style="margin-top:30px">存储空间</h4>
            </div>
            <div class="col-xs-3" style="margin-top:30px;">
                <div class="progress">
                    <div class="progress-bar  progress-bar-info" role="progressbar"
                         aria-valuenow="{{user.Domain.UsedSize/(user.Domain.DefaultStorageSize + user.Domain.ExtendStorageSize)*100 | FloatFormat}}" aria-valuemin="0" aria-valuemax="100"
                         style="width:{{(user.Domain.UsedSize / (user.Domain.DefaultStorageSize + user.Domain.ExtendStorageSize))*100 | FloatFormat}}%;">
                        <span style="position: absolute;color:#000;left:20%">
                            ({{user.Domain.UsedSize / 1024 /1024 /1024| FloatFormat}}/{{(user.Domain.DefaultStorageSize + user.Domain.ExtendStorageSize) / 1024 /1024 /1024| FloatFormat}} GB)
                            {{(user.Domain.UsedSize / (user.Domain.DefaultStorageSize + user.Domain.ExtendStorageSize))*100 | FloatFormat}}%
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="updata-content">
            {{ if user.DomainId != null}}
            <div class="updata-model" onclick="$('#gotoUserSettingPage').click();">
                <div style="height:100px;margin-bottom:10px;cursor:pointer">
                    <img src="image/domain.png" class="img-circle" style="height:100px;"/>
                </div>
                <h4>基本设置</h4>
                <p style="margin:-5px">团队组织，内部分享</p>
            </div>
            {{ /if }}
            <div class="updata-model" onclick="$('#extend').click()">
                <div style="height:100px;margin-bottom:10px;cursor:pointer">
                    <img src="image/cloud.png" class="img-circle" style="height:100px;"/>
                </div>
                <h4>云空间管理</h4>
                <p style="margin:-5px">内部空间，随时存储</p>
            </div>
            <div class="updata-model" onclick="$('#ShowWall').click()">
                <div style="height:100px;margin-bottom:10px;cursor:pointer">
                    <img src="image/playstore.png" class="img-circle" style="height:100px;"/>
                </div>
                <h4>展示页</h4>
                <p style="margin:-5px">分享视频，展示精彩</p>
            </div>
            <div class="updata-model" onclick="$('#Money').click()">
                <div style="height:100px;margin-bottom:10px;cursor:pointer">
                    <img src="image/safer.png" class="img-circle" style="height:100px;"/>
                </div>
                <h4>资金管理</h4>
                <p style="margin:-5px">平台保安全，交易更方便</p>
            </div>
            <div class="updata-model" onclick="$('#logCenter').click()">
                <div style="height:100px;margin-bottom:10px;cursor:pointer">
                    <img src="image/moreDescription.png" class="img-circle" style="height:100px;"/>
                </div>
                <h4>日志中心</h4>
                <p style="margin:-5px">各类通知，及时知晓</p>
            </div>
        </div>
    </div>
</div>
