<div class="modal-dialog  modal-md" style="text-align:left;">
    <div class="modal-content">
        <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span-->
                    <!--class="sr-only">Close</span></button>-->
            <h4 class="modal-title" id="contract_detail_dialog_title">{{ if bDir }}请选择文件夹{{ else }}请选择文件{{ /if }}</h4>
        </div>
        <div class="modal-body">
           <div class="btn-group" data-toggle="buttons-radio" id="filePicker_SpaceSelector">
                {{each spaces}}
                {{if $value.spaceType=="selfSpace"}}
                <button class="btn btn-primary" data-toggle='{{$index==curSpace?"button":""}}' value="{{$index}}">{{$value.spaceName}}</button>
                {{/if}}
                {{/each}}
            </div>
            <div id="filepickerDialog_filetree">
            </div>
            <div id="filepickerDialog_fileSelectedShow"></div>
        </div>
        <div class="modal-footer">
            <button id="filepickerDialog_confirm" type="button" class="btn btn-primary">{{ if bDir }}保存文件{{ else }}添加文件{{ /if }}</button>
            <button id="filepickerDialog_cancel" type="button" class="btn btn-primary">取消</button>
        </div>
    </div>
</div>
