<div class="panel-body" style="padding: 0">
  <a class="list-group-item"><span class="font-bold">基础价格： </span>
    <span class="price_list">{{obj.BasePrice}}</span>元
    <input class="form-control basePrice_edit price_input" type="text" value="{{ obj.BasePrice }}">
  </a>
  <a class="list-group-item"><span class="font-bold">内容策划价格： </span>
    <span class="price_list">{{obj.SchemePrice}}</span>元
    <input class="form-control schemePrice_edit price_input" type="text" value="{{ obj.SchemePrice }}">
  </a>
  <a class="list-group-item"><span class="font-bold">拍摄服务价格： </span>
    <span class="price_list">{{obj.ShotPrice}}</span>元
    <input class="form-control shotPrice_edit price_input" type="text" value="{{ obj.ShotPrice }}">
  </a>
  <a class="list-group-item"><span class="font-bold">演员模特： </span>
    <span class="price_list">{{obj.ActorPrice}}</span>元
    <input class="form-control actorPrice_edit price_input" type="text" value="{{ obj.ActorPrice }}">
  </a>
  <a class="list-group-item"><span class="font-bold">配音配乐： </span>
    <span class="price_list">{{obj.MusicPrice}}</span>元
    <input class="form-control musicPrice_edit price_input" type="text" value="{{ obj.MusicPrice }}">
  </a>
  <a class="list-group-item"><span class="font-bold">后期制作： </span>
    <span class="price_list">{{obj.AEPrice}}</span>元
    <input class="form-control aePrice_edit price_input" type="text" value="{{ obj.AEPrice }}">
  </a>
</div>