<div class="panel-body" style="padding: 0">
    {{if obj.fileId}}
    <a class="list-group-item"><span class="font-bold">文件大小： </span>{{obj.size | ToMB}}</a>
    {{/if}}
    <a class="list-group-item"><span class="font-bold">上传时间： </span>{{obj.createTime | ParseTime}}</a>
    <a class="list-group-item"><span class="font-bold">修改时间： </span>{{obj.modifyTime | ParseTime}}</a>
    <a class="list-group-item"><span class="font-bold">描述： </span>
        <span class="description_list">{{obj.description}}</span>
        <input class="form-control description_edit description_input" type="text" value="{{ obj.description }}">
    </a>
</div>