<div class="panel-body" style="padding: 0">
  <a class="list-group-item">
      <span class="share_list" class="font-bold">{{ if obj.BShare }}<green>该视频已分享</green>{{ else }}该视频未分享{{ /if }}</span>
      <div class="checkbox share_input">
        <label>
            <input class="share_check" type="checkbox" {{ if obj.BShare }}checked{{ /if }}> 分享该视频
        </label>
      </div>
  </a>
  <a class="list-group-item">
    <span class="font-bold">竞价排名金额： </span>
    <span class="share_list price">{{obj.Price}}</span>
    <span class="font-bold">元</span>
    <input class="form-control price_edit share_input" type="text" value="{{ obj.Price }}">
  </a>
</div>