<div class="panel-body" style="padding: 0">
    {{ if type == 0 }}
    <a class="list-group-item video_input" id="objectVideo_portrait"></a>
    <a class="list-group-item"><span class="font-bold">镜头： </span>
        <span class="video_list">{{obj.camera}}</span>
        <input class="form-control camera_edit video_input" type="text" value="{{ obj.camera }}">
    </a>
    <a class="list-group-item"><span class="font-bold">场记： </span>
        <span class="video_list">{{obj.script}}</span>
        <input class="form-control script_edit video_input" type="text" value="{{ obj.script }}">
    </a>
    <a class="list-group-item"><span class="font-bold">一级分类： </span>
        {{ each category_1 }}
        {{ if $index == obj.category_1 }}
            <span class="video_list">{{$value.Name}}</span>
        {{ /if }}
        {{ /each }}
        <select class="form-control input-sm video_input" id="category_1">
            <option></option>
            {{ each category_1 }}
            <option value="{{ $index }}" {{ if $index == obj.category_1 }}selected{{ /if }}>{{ $value.Name }}</option>
            {{ /each }}
        </select>
    </a>
    <a class="list-group-item"><span class="font-bold">二级分类： </span>
        {{ each category_2 }}
        {{ if $index == obj.category_2 }}
            <span class="video_list">{{$value.Name}}</span>
        {{ /if }}
        {{ /each }}
        <select class="form-control input-sm video_input" id="category_2">
            {{ each category_2 }}
            {{ if $value.ParentId == obj.category_1 }}
            <option value="{{ $index }}" {{ if $index == obj.category_2 }}selected{{ /if }}>{{ $value.Name }}</option>
            {{ /if }}
            {{ /each }}
        </select>
    </a>
    <a class="list-group-item"><span class="font-bold">标签： </span>
        <span class="video_list">{{obj.tag}}</span>
        <select class="form-control input-sm video_input" id="tag_normal" style="margin-bottom: 5px; width: 50%">
            <option></option>
            {{ each tags }}
            <option>{{ $value.Name }}</option>
            {{ /each }}
        </select>
        <input class="form-control category_edit video_input" type="text" value="{{ obj.tag }}">
    </a>
    {{ /if }}
</div>