<div class="panel-group property_{{ obj.id }}" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne" style="text-decoration: none">
            基本信息 <span id="expand-span" class="glyphicon glyphicon-triangle-top"></span>
        </a>
            <button id="editDescription" class="btn btn-default property-btn description_list">编辑</button>
            <button id="cancelDescription" class="btn btn-default property-btn des_edit">取消</button>
            <button id="saveDescription" class="btn btn-default property-btn des_edit">保存</button>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      {{include 'template/storage/o_p_base.html'}}
    </div>
  </div>
  {{ if type == 0 }}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="text-decoration: none">
          视频属性 <span id="expand-span" class="glyphicon glyphicon-triangle-bottom"></span>
        </a>
        <button id="editVideo" class="btn btn-default property-btn video_list">编辑</button>
        <button id="cancelEditVideo" class="btn btn-default property-btn video_edit">取消</button>
        <button id="saveEditVideo" class="btn btn-default property-btn video_edit">保存</button>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      {{include 'template/storage/o_p_video.html'}}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none">
          分享 <span id="expand-span" class="glyphicon glyphicon-triangle-bottom"></span>
        </a>
        <button id="editShare" class="btn btn-default property-btn share_list">编辑</button>
        <button id="cancelEditShare" class="btn btn-default property-btn share_edit">取消</button>
        <button id="saveEditShare" class="btn btn-default property-btn share_edit">保存</button>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      {{include 'template/storage/o_p_share.html'}}
    </div>
  </div>
    {{ if IsService }}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-decoration: none">
          报价 <span id="expand-span" class="glyphicon glyphicon-triangle-bottom"></span>
        </a>
        <button id="editPrice" class="btn btn-default property-btn price_list">编辑</button>
        <button id="cancelEditPrice" class="btn btn-default property-btn price_edit">取消</button>
        <button id="saveEditPrice" class="btn btn-default property-btn price_edit">保存</button>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      {{include 'template/storage/o_p_price.html'}}
    </div>
  </div>
    {{ /if }}
  {{ /if }}
</div>