<div class="objectDescription">
    <div class="list-group">
        {{ if !flag }}
        <a class="list-group-item disabled"><span style="font-weight: bold">资源库空间</span></a>
        <a class="list-group-item" id="storageChart"></a>
        {{ else }}
        <a class="list-group-item disabled"><span style="font-weight: bold">文件详情</span>
		<button id="editDescription" class="btn btn-default" style="float:right; margin-top: -7px">编辑</button>
        <button id="cancelDescription" class="btn btn-default" style="float:right; margin-top: -7px; display: none">取消</button>
        <button id="saveDescription" class="btn btn-default" style="float:right; margin-top: -7px;display: none">保存</button>
		</a>
        <a class="list-group-item"><span style="font-weight: bold">名称： </span>{{obj.name}}</a>
        {{if obj.fileId}}
        <a class="list-group-item"><span style="font-weight: bold">文件大小： </span>{{obj.size | ToMB}}</a>
        {{/if}}
        <a class="list-group-item"><span style="font-weight: bold">上传时间： </span>{{obj.createTime | ParseTime}}</a>
        <a class="list-group-item"><span style="font-weight: bold">修改时间： </span>{{obj.modifyTime | ParseTime}}</a>
        {{ if type == 0 }}
        <a class="list-group-item" id="objectVideo_portrait" style="display:none; width:100%;height:auto;background-size: 100% auto; background-position: center center; background-repeat: no-repeat"></a>
        {{ /if }}
        <a class="list-group-item"><span style="font-weight: bold">描述： </span>
            <span class="description_list">{{obj.description}}</span>
            <input class="form-control description_edit description_input" type="text" style="width:100%; display: none" value="{{ obj.description }}">
        </a>
        <a class="list-group-item"><span style="font-weight: bold">镜头： </span>
            <span class="description_list">{{obj.camera}}</span>
            <input class="form-control camera_edit description_input" type="text" style="width:100%; display: none" value="{{ obj.camera }}">
        </a>
        <a class="list-group-item"><span style="font-weight: bold">场记： </span>
            <span class="description_list">{{obj.script}}</span>
            <input class="form-control script_edit description_input" type="text" style="width:100%; display: none" value="{{ obj.script }}">
        </a>
        <a class="list-group-item"><span style="font-weight: bold">标签： </span>
            <span class="description_list">{{obj.tag}}</span>
            <input class="form-control category_edit description_input" type="text" style="width:100%; display: none" value="{{ obj.tag }}">
        </a>
        {{ /if }}
    </div>
</div>
