<div class="page-header" style="margin: 0">
    <span class="quitObjectViewer glyphicon glyphicon-menu-left" style="font-size:15px;cursor:pointer"></span>
    <h4 style="margin:0;display:inline-block;cursor:default">{{ objectName }}</h4>
</div>
{{ if bHasSpace }}
<div class="container col-xs-1">
</div>
{{ /if }}

{{ if bHasSpace }}
<div class="container col-xs-10 objectViewerContent" style="text-align:center">
{{ else }}
<div class="container col-xs-12 objectViewerContent" style="text-align:center">
{{ /if }}
    {{ if objectType == 0 }}
    <div id="videoPlayer">
    </div>
    {{ else if objectType == 1 }}
    <img id="imagePlayer" style="max-height: 500px">
    {{ else if objectType == 2 }}
    <iframe id="pdfPlayer"></iframe>
    <iframe id="txtPlayer" frameborder="no"></iframe>
    {{ /if }}
</div>
{{ if bHasSpace }}
<div class="container col-xs-1"></div>
{{ /if }}