<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="/script/bootstrap-3.2.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/script/uploadify/uploadify.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <style type="text/css">
    .orderDetail dd{line-height: 30px}
    .orderDetail dt{line-height: 30px}
    </style>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/highcharts/4.0.4/highcharts.js"></script>
    <script type="text/javascript" src="/script/uploadify/jquery.uploadify.js"></script>
    <script type="text/javascript" src="/script/sortElement/jquery.sortElements.js"></script>
</head>
<body>
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="/admin/index">首页</a></li>
            <li role="presentation"><a href="/admin/platform/storage">运营管理</a></li>
            <li role="presentation"><a href="/admin/user">用户管理</a></li>
            <li role="presentation"><a href="/admin/promote/activity">推广配置</a></li>
        </ul>
        <!--<ul class="col-md-1 nav nav-pills nav-stacked" role="tablist" style="position:sticky;top:0;border-right: solid 1px #eee;padding:5px;">
            <li role="presentation"><a href="/admin/UserList">用户列表</a></li>
            <li role="presentation"><a href="/admin/ServerList">服务商列表</a></li>
            <li role="presentation"><a href="/admin/RequirementList">需求列表</a></li>
            <li role="presentation" ><a href="/admin/ContractList">合同列表</a></li>
            <li role="presentation"><a href="order" role="tab" data-toggle="tab"><small>合同交易记录</small></a></li>
            <li role="presentation"><a href="updata" role="tab" data-toggle="tab"><small>增值服务订单</small></a></li>
            <li role="presentation"><a href="admin_main" role="tab" data-toggle="tab">广告位设置</a></li>
            <li role="presentation"><a href="settings" role="tab" data-toggle="tab">平台设置</a></li>
            <li role="presentation"><a href="/admin/logout">注销</a></li>
        </ul>-->
        <div class="container">
        {% block body %}
            <div class="panel panel-default" style="margin-top: 20px">
                <div class="panel-body" id="index_content">
                </div>
            </div>
            <script type="text/javascript">
            var colors = Highcharts.getOptions().colors;
            var categories = ['总注册用户','需求方', '制作商', '活跃需求方', '活跃制作商'];
            var data = [
                {y: {{ params.userCount }}, color: colors[0]},
                {y: {{ params.customerCount }}, color: colors[1]},
                {y: {{ params.producerCount }}, color: colors[2]},
                {y: {{ params.activeCustomerCount }}, color: colors[3]},
                {y: {{ params.activeProducerCount }}, color: colors[4]}
            ];
            $('#index_content').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '平台用户量统计表'
                },
                subtitle: {
                    text: 'users in our platform'
                },
                xAxis: {
                    categories: categories
                },
                yAxis: {
                    title: {
                        text: '个数'
                    }
                },
                plotOptions: {
                    column: {
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: colors[0],
                            style: {
                                fontWeight: 'bold'
                            },
                            formatter: function() {
                                return this.y +'人';
                            }
                        }
                    }
                },
                tooltip: {
                    formatter: function() {
                        s = this.x +':<b>'+ this.y +'人</b><br>';
                        return s;
                    }
                },
                series: [{
                    name: ' ',
                    data: data,
                    color: 'white'
                }],
                credits: { enabled:false }
            })
            </script>
        {% endblock %}
        </div>
    </div>
</body>
</html>