<!DOCTYPE html>
<html>
<head lang="ch">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>CloudMedia</title>
    <!-- Bootstrap -->
    <link href="script/bootstrap-3.2.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <script type="text/javascript" src="script/jquery-1.11.1/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="script/bootstrap-3.2.0/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container main">
        <div class="row text-center">
            <div class=" well" style="width:400px;margin:30px auto;">
                <h2 class="text-center" style="margin-bottom:30px;">&nbsp;Admin Login&nbsp;</h2>
                <form action="adminLogin" role="form" method="post">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label col-md-4" style="padding-top:5px;">UserName</label>
                        <input type="text" name="UserName" class="form-control" style="width:60%;margin-bottom: 10px"placeholder="用户名">
                        <label class="control-label col-md-4"style="padding-top:5px;">PassWord</label>
                        <input  type="password" name="Password" class="form-control" style="width:60%"placeholder="密码">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul class=flashes>
                                {% for category, message in messages %}
                                  <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                        <button type="submit" class="btn btn-success" style="margin:20px;">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>