{% extends "admin/admin_index.html" %}
{% block body %}
<h2>合同条目</h2>
<table class="table table-hover table-condensed table-bordered" style="border:solid 1px #aaa;">
    <thead>
        <tr>
            <td>#</td>
            <td>标题</td>
            <td>价格</td>
            <td>需求方</td>
            <td>服务商</td>
            <td>服务商支付宝</td>
            <td>状态</td>
            <td>时间</td>
            <td>操作</td>
            <td>详情</td>
        </tr>
    </thead>
    <tbody>
    {% for value in contract %}
        <tr>
            <td>{{value.Id}}</td>
            <td>{{value.Title}}</td>
            <td>{{value.Amount}}</td>
            <td>{{value.CustomerUserId}}</td>
            <td>{{value.ServiceUser.NickName}}</td>
            <td>{{value.ServiceUser.Domain.Alipay}}</td>
            <td>
                {% if value.Status == 5 %}完成合同{% endif %}
                {% if value.Status == 1 %}申请建立合同{% endif %}
                {% if value.Status == 2 %}商定合同{% endif %}
                {% if value.Status == 3 %}已支付押金{% endif %}
                {% if value.Status == 4 %}已完成成片审核{% endif %}
            </td>
            <td>{{value.CreateTime }}</td>
            <td>
                {{value.PayState}}
                <button class="btn btn-sm btn-danger btn-modifyPayState" value="{{value.Id}}" style="padding:0px 2px;">付款</button>
            </td>
            <td><abbr title="{{value.Detail}}">合同详情</abbr></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}