{% extends "admin/platform_manage.html" %}
{% block platformBody %}
    <h3>中止合同申请列表</h3>
    <hr>
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <table class="table table-striped objectTable">
              <thead>
                <tr>
                    <th>#</th>
                    <th>申请者</th>
                    <th>所属公司</th>
                    <th>申请时间</th>
                    <th>处理状态</th>
                    <th>查看详情</th>
                </tr>
              </thead>
              <tbody>
              {% for v in params %}
                <tr>
                    <th scope="row">{{ v.ContractId }}</th>
                    <td>{{ v.ApplyUser.NickName }}</td>
                    <td>{{ v.ApplyUser.Domain.CompanyName }}</td>
                    <td>{{ v.ApplyTime }}</td>
                    {% if v.Status == 'apply' %}
                    <td>未审核</td>
                    {% elif v.Status == 'deny' %}
                    <td>审核未通过</td>
                    {% elif v.Status == 'abort' %}
                    <td>审核通过</td>
                    {% endif %}
                    <td><a href="/admin/platform/contract/{{ v.ContractId }}">查看</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endblock %}