{% extends "admin/platform_manage.html" %}
{% block platformBody %}
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <div id="platform_storage_content"></div>
        </div>
        <div class="container" style="text-align: center; margin: 20px">
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1"> 显示所有
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2"> 按年显示
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3"> 按月显示
            </label>
        </div>
        <div class="container" style="margin: 20px" id="dateSelector" hidden>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="input-group">
                    <label for="year_group" class="input-group-addon">年份</label>
                    <select class="form-control" id="year_group" name="yeargroup">
                        {% for value in params.years %}
                            <option>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <label for="month_group" class="input-group-addon">月份</label>
                    <select class="form-control disabled" id="month_group" name="monthgroup">
                        <option>一月</option>
                        <option>二月</option>
                        <option>三月</option>
                        <option>四月</option>
                        <option>五月</option>
                        <option>六月</option>
                        <option>七月</option>
                        <option>八月</option>
                        <option>九月</option>
                        <option>十月</option>
                        <option>十一月</option>
                        <option>十二月</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        </div>
    </div>
    <script type="text/javascript">
        var monthMap = {'一月': 1,'二月': 2,'三月': 3,'四月': 4,'五月': 5,'六月': 6,'七月': 7,'八月': 8,'九月': 9,
            '十月': 10,'十一月': 11,'十二月': 12};
        var categories = [
                    {% for value in params.timeCategory %}
                        '{{ value }}',
                    {% endfor %}
                ];
        var userStorage = {{ params.userStorage }};
        var usedStorage = {{ params.usedStorage }};
        var platformStorage = {{ params.platformStorage }};
        var filter = 'all';
        initCharts();
        $('#inlineRadio1').attr('checked', 'checked');
        $('#inlineRadio1').unbind('click').click(function(){
            $('#dateSelector').hide();
            window.location.href = '/admin/platform/storage';
        });
        $('#inlineRadio2').unbind('click').click(function(){
            filter = 'year';
            getData();
            $('#dateSelector').show();
        });
        $('#inlineRadio3').unbind('click').click(function(){
            filter = 'month';
            getData();
            $('#dateSelector').show();
        });
        $('#year_group').change(function(){
            getData();
        });
        $('#month_group').change(function(){
            getData();
        });
        function getCurYear(){
            return $('#year_group').val();
        }
        function getCurMonth(){
            return monthMap[$('#month_group').val()];
        }
        function getData(){
            var year = parseInt(getCurYear());
            var month = getCurMonth();
            $.ajax({
                type: "POST",
                url: "/admin/platform/storage",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    filter: filter,
                    year: year,
                    month: month
                }),
                success: function (response) {
                    categories = response.timeCategory;
                    userStorage = response.userStorage;
                    usedStorage = response.usedStorage;
                    platformStorage = response.platformStorage;
                    initCharts();
                }
            });
        }
        function initCharts(){
            $('#platform_storage_content').highcharts({
                title: {
                    text: '平台云空间统计表'
                },
                subtitle: {
                    text: 'storage info of out platform'
                },
                xAxis: {
                    categories: categories
                },
                yAxis: {
{#                    allowDecimals: false,#}
                    title: {
                        text: 'GB'
                    }
                },
                tooltip: {
                    formatter: function () {
                        return  this.x + " " + this.series.name + "：" + this.y + 'GB'
                    },
                    valueSuffix: '°C'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: '用户总空间',
                    data: userStorage
                }, {
                    name: '用户已使用空间',
                    data: usedStorage
                }, {
                    name: '平台总空间',
                    data: platformStorage
                }],
                credits: { enabled:false }
            });
        }
    </script>
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <div class="container-fluid">
                <h3>平台空间-<green>[<span id="text_storageSize">{{ params.curPlatformStorage }}</span>GB]<green></h3>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" id="input_storageSize" placeholder="更新数据，单位GB">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="updateStorage" type="button">更新</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <hr>
            <div class="container-fluid">
                <h3>用户云空间管理</h3>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" id="input_searchUser" placeholder="查找用户">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="searchUser">查找</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="container-fluid" id="userlist_container" style="min-height: 100px"></div>
        </div>
    </div>
    <script type="text/javascript">
    $('#updateStorage').click(function(){
        $.ajax({
            type: "POST",
            url: "/admin/platform/storage/update",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                storageSize: parseInt($('#input_storageSize').val())
            }),
            success: function (response) {
                window.location.href = '/admin/platform/storage';
            }
        });
    });
    $('#searchUser').click(function(){
        $.ajax({
            type: "POST",
            url: "/admin/platform/storage/search",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                filter: $('#input_searchUser').val()
            }),
            success: function (response) {
                $('#userlist_container').html(response);
            }
        });
    });
    </script>
{% endblock %}