<div class="conainer-fluid" style="margin-top: 20px">
    <div class="container-fluid" id="userlist_content">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>管理员</th>
              <th>家庭组名称</th>
              <th>制作商</th>
              <th>公司名称</th>
              <th>云空间<th>
            </tr>
          </thead>
          <tbody>
          {% for user in params %}
            <tr>
              <td>{{ user.NickName }}</td>
              <td>{{ user.Domain.DomainName }}</td>
              {% if user.Domain.IsService %}
                <td>是</td>
              {% else %}
                <td>否</td>
              {% endif %}
              <td>{{ user.Domain.CompanyName }}</td>
              <td><button class="btn btn-default checkUser" value="{{ user.Id }}" name="{{ user.NickName }}">查看</button></td>
              <td hidden><input type="text" class="totalStorage" value="{{ user.Domain.DefaultStorageSize + user.Domain.ExtendStorageSize }}"></td>
              <td hidden><input type="text" class="defaultStorage" value="{{ user.Domain.DefaultStorageSize }}"></td>
              <td hidden><input type="text" class="extendStorage" value="{{ user.Domain.ExtendStorageSize }}"></td>
              <td hidden><input type="text" class="usedStorage" value="{{ user.Domain.UsedSize }}"></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="container-fluid" hidden id="change_user_storageSize">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><red>用户当前默认空间-(<span id="text_userStorage"></span>GB)</red></span>
                <input type="text" class="form-control" id="input_change_ss" aria-describedby="basic-addon1" placeholder="单位GB">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="change_ss">更改</button>
                </span>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <script>
        $('.checkUser').click(function(e){
            var id = $(e.currentTarget).attr('value');
            var name = $(e.currentTarget).attr('name');
            var colors = Highcharts.getOptions().colors;
            var categories = ['总空间大小','默认大小', '扩展大小', '已使用大小'];
            var data = [
                {y: parseInt($(e.currentTarget).parent().parent().find('.totalStorage').val()) / 1024 / 1024 / 1024, color: colors[0]},
                {y: parseInt($(e.currentTarget).parent().parent().find('.defaultStorage').val()) / 1024 / 1024 / 1024, color: colors[1]},
                {y: parseInt($(e.currentTarget).parent().parent().find('.extendStorage').val()) / 1024 / 1024 / 1024, color: colors[2]},
                {y: parseInt($(e.currentTarget).parent().parent().find('.usedStorage').val()) / 1024 / 1024 / 1024, color: colors[3]}
            ];
            $('#text_userStorage').text(parseInt($(e.currentTarget).parent().parent().find('.defaultStorage').val()) / 1024 / 1024 / 1024);
            $('#change_user_storageSize').show();
            $('#change_ss').click(function(){
                $.ajax({
                    type: "POST",
                    url: "/admin/platform/storage/updateUserSize",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        userId: id,
                        storageSize: parseInt($('#input_change_ss').val())
                    }),
                    success: function (response) {
                        $('#text_userStorage').text(response);
                        data[1].y = response;
                        initCharts();
                    }
                });
            });
            function initCharts(){
                $('#userlist_content').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: '用户\"' + name + '\"的空间使用情况'
                    },
                    subtitle: {
                        text: 'user storage info'
                    },
                    xAxis: {
                        categories: categories
                    },
                    yAxis: {
                        title: {
                            text: 'GB'
                        }
                    },
                    plotOptions: {
                        column: {
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: colors[0],
                                style: {
                                    fontWeight: 'bold'
                                },
                                formatter: function() {
                                    return this.y +'GB';
                                }
                            }
                        }
                    },
                    tooltip: {
                        formatter: function() {
                            var s = this.x +':<b>'+ this.y +'GB</b><br>';
                            return s;
                        }
                    },
                    series: [{
                        name: ' ',
                        data: data,
                        color: 'white'
                    }],
                    credits: { enabled:false }
                })
                $("body,html").animate({scrollTop:$("#userlist_content").offset().top},200);
            }
            initCharts();
        });
    </script>
</div>