{% extends "admin/platform_manage.html" %}
{% block platformBody %}
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <div id="platform_trade_content"></div>
        </div>
        <div class="container" style="text-align: center; margin: 20px">
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1"> 显示所有
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2"> 按年显示
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3"> 按月显示
            </label>
        </div>
        <div class="container" style="margin: 20px" id="dateSelector" hidden>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="input-group">
                    <label for="year_group" class="input-group-addon">年份</label>
                    <select class="form-control" id="year_group" name="yeargroup">
                        {% for value in params.years %}
                            <option>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <label for="month_group" class="input-group-addon">月份</label>
                    <select class="form-control disabled" id="month_group" name="monthgroup">
                        <option>一月</option>
                        <option>二月</option>
                        <option>三月</option>
                        <option>四月</option>
                        <option>五月</option>
                        <option>六月</option>
                        <option>七月</option>
                        <option>八月</option>
                        <option>九月</option>
                        <option>十月</option>
                        <option>十一月</option>
                        <option>十二月</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        </div>
    </div>
    <div class="container-fluid" style="text-align: center">
        <button class="btn btn-default" onclick="window.location.href = '/admin/platform/trade/contractOrder?page=1'">查看订单详情</button>
    </div>
    <script type="text/javascript">
        var monthMap = {'一月': 1,'二月': 2,'三月': 3,'四月': 4,'五月': 5,'六月': 6,'七月': 7,'八月': 8,'九月': 9,
            '十月': 10,'十一月': 11,'十二月': 12};

        var categories = [
                    {% for value in params.timeCategory %}
                        '{{ value }}',
                    {% endfor %}
                ];
        var contractAmount = [
                    {% for value in params.contractAmount %}
                        {{ value }},
                    {% endfor %}
                ];
        var extendStorageAmount = [
                    {% for value in params.extendStorageAmount %}
                        {{ value }},
                    {% endfor %}
                ];
        var rechargeAccountAmount = [
                    {% for value in params.rechargeAccountAmount %}
                        {{ value }},
                    {% endfor %}
                ];
        var memberShipTaxAmount = [
                    {% for value in params.memberShipTaxAmount %}
                        {{ value }},
                    {% endfor %}
                ];
        var totalAmount = [
                    {% for value in params.totalAmount %}
                        {{ value }},
                    {% endfor %}
                ];
        var filter = 'all';
        initCharts();
        $('#inlineRadio1').attr('checked', 'checked');
        $('#inlineRadio1').unbind('click').click(function(){
            $('#dateSelector').hide();
            window.location.href = '/admin/platform/trade';
        });
        $('#inlineRadio2').unbind('click').click(function(){
            filter = 'year';
            getData();
            $('#dateSelector').show();
        });
        $('#inlineRadio3').unbind('click').click(function(){
            filter = 'month';
            getData();
            $('#dateSelector').show();
        });
        $('#year_group').change(function(){
            getData();
        });
        $('#month_group').change(function(){
            getData();
        });
        function getCurYear(){
            return $('#year_group').val();
        }
        function getCurMonth(){
            return monthMap[$('#month_group').val()];
        }
        function getData(){
            var year = parseInt(getCurYear());
            var month = getCurMonth();
            $.ajax({
                type: "POST",
                url: "/admin/platform/trade",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    filter: filter,
                    year: year,
                    month: month
                }),
                success: function (response) {
                    categories = response.timeCategory;
                    contractAmount = response.contractAmount;
                    extendStorageAmount = response.extendStorageAmount;
                    rechargeAccountAmount = response.rechargeAccountAmount;
                    memberShipTaxAmount = response.memberShipTaxAmount;
                    totalAmount = response.totalAmount;
                    initCharts();
                }
            });
        }
        function initCharts(){
            $('#platform_trade_content').highcharts({
                title: {
                    text: '平台交易量统计表'
                },
                subtitle: {
                    text: 'trade info of out platform'
                },
                xAxis: {
                    categories: categories
                },
                yAxis: {
                    title: {
                        text: '元'
                    }
                },
                tooltip: {
                    formatter: function () {
                        return  this.x + " " + this.series.name + "：" + this.y + '元'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: '总交易量',
                    data: totalAmount
                }, {
                    name: '合同交易量',
                    data: contractAmount
                }, {
                    name: '云空间交易量',
                    data: extendStorageAmount
                }, {
                    name: '制作商充值交易量',
                    data: rechargeAccountAmount
                }, {
                    name: '会员会费交易量',
                    data: memberShipTaxAmount
                }],
                credits: { enabled:false }
            });
        }
    </script>
{% endblock %}