{% extends "admin/platform_manage.html" %}
{% block platformBody %}
<table class="table">
    <thead>
        <tr>
            <th>用户名</th>
            <th>支付宝账号</th>
            <th>申请时间</th>
            <th>转现金额</th>
            <th>用户余额</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    {% for i in param.list %}
        <tr>
            <td>{{ i.Domain.CompanyName }}</td>
            <td>{{ i.Domain.Alipay }}</td>
            <td>{{ i.CreateTime }}</td>
            <td>{{ i.Money }}</td>
            <td>{{ i.Domain.Count }}</td>
            <td>
                {% if i.Status==0 %}
                    <red>新申请</red>
                {% endif %}
                {% if i.Status==2 %}
                    <green>通过</green>
                {% endif %}
                {% if i.Status==1 %}
                    <strong>拒绝</strong>
                {% endif %}
            </td>
            <td>
                {% if i.Status == 0 %}
                <select class="selector">
                    <option>通过</option>
                    <option>拒绝</option>
                </select>
                <button class="btn-success submit" value="{{ i.Id }}">提交</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
<script type="text/javascript">
    $(".submit").unbind("click").click(function(e){
        var applyId = $(e.currentTarget).attr("value");
        var status = $(e.currentTarget).parent().find('.selector').val();
        if (status == '通过')
            status = 2;
        else if (status == '拒绝')
            status = 1;
        $.ajax({
            type: "POST",
            url: "/admin/platform/apply",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                ApplyId: applyId,
                Status: status
            }),
            error: function(){
                alert("error");
            },
            success: function(){
                alert('ok');
                window.location.reload();
            }
        });
    });
</script>
{% endblock %}