{% extends "admin/admin_index.html" %}
{% block body %}
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="/admin/promote/activity">活动页设置</a></li>
        <li role="presentation"><a href="/admin/promote/share">分享视频设置</a></li>
        <li role="presentation"><a href="/admin/promote/boutique">精品视频设置</a></li>
        <li role="presentation"><a href="/admin/promote/channel">频道设置</a></li>
        <li role="presentation"><a href="/admin/promote/producer">制作商设置</a></li>
        <li role="presentation"><a href="/admin/promote/user">客户设置</a></li>
        <li role="presentation"><a href="/admin/promote/login">登录页设置</a></li>
    </ul>
    <div class="container-fluid">
    {% block promoteBody %}
    {% endblock %}
    </div>
{% endblock %}