{% extends "admin/promote_manage.html" %}
{% block promoteBody %}
    <pre>
        <h4>登录页图片</h4>
        <img src="{{ path }}" style="width:100%">
    </pre>
    <input type="file" id="upload">
<script type="text/javascript">
        $("#upload").uploadify({
            'buttonText': '上传',
            'hideButton': true,
            'wmode': 'transparent',
            'swf': "/script/uploadify/uploadify.swf",
            'height': 34,
            'uploader': '/cloud/uploadFile/easy?useAge=loginImage',
            'onUploadSuccess': function (file, data, response) {
                var obj = JSON.parse(data);
                if (obj.errorMsg == undefined) {
                    var path = obj.filePath;
                    $.ajax({
                        type: "POST",
                        url: "/admin/promote/login",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify({
                            path: path
                        }),
                        success: function () {
{#                            window.location.href = '/admin/promote/login';#}
                            window.location.reload();
                        }
                    });
                } else {
                    alertState("上传文件失败，错误信息：" + obj.errorMsg, "failed");
                }
            },
            onUploadError: function (file, errorCode, errorMsg) {
                alertState("上传文件失败，错误信息：" + errorMsg, "failed");
            }
        });
</script>
{% endblock %}