{% extends "admin/promote_manage.html" %}
{% block promoteBody %}
<div class="container-fluid">
    <div class="page-header">
        <h3>精品视频设置</h3>
    </div>
    {% for value in params.sortByCategory %}
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <h3>频道--{{ value }}</h3>
            <hr>
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>序号</th>
                    <th>公司名称</th>
                    <th>申请案例</th>
                    <th class="col-md-1">查看视频</th>
                    <th class="col-md-1">置为精品</th>
                </tr>
              </thead>
              <tbody>
              {% for item in params.sortByCategory[value] %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ item.Domain.CompanyName }}</td>
                  <td>{{ item.Object.Name }}</td>
                    <td><button class="btn btn-default checkVideo" value="{{ item.Object.Id }}">查看</button></td>
                  {% if item.Boutique %}
                    <td><button class="btn btn-success checkBoutique" name="uncheckbout" value="{{ item.Id }}">取消</button></td>
                  {% else %}
                    <td><button class="btn btn-default checkBoutique" name="checkbout" value="{{ item.Id }}">设定</button></td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
    <script type="text/javascript">
        $('.checkVideo').click(function(e){
            var targetId = $(e.currentTarget).attr('value');
            window.open('/player/' + targetId);
        });
        $('.checkBoutique').click(function(e){
            var targetId = $(e.currentTarget).attr('value');
            var text = $(e.currentTarget).attr('name');
            var boutique = 1;
            if(text == "uncheckbout")
                boutique = 0;
            $.ajax({
                type: "POST",
                url: "/admin/promote/boutique",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    operator: "modifyBoutique",
                    targetId: targetId,
                    Boutique: boutique,
                }),
                success: function () {
                    window.location.href = '/admin/promote/boutique';
                }
            });
        });
    </script>
{% endblock %}