{% extends "admin/promote_manage.html" %}
{% block promoteBody %}
    <div class="container-fluid panel panel-default templateContent" style="margin-top: 20px">
        <ul class="list-group">
            <a class="list-group-item"><h4>编辑频道模版</h4></a>
            <a class="list-group-item"><strong>当前频道：{{ params.category_1.Name }} > {{ params.category_2.Name }}</strong></a>
            <div class="input-group" style="margin:20px">
                <label for="requirement_detail" class="input-group-addon"><red>具体描述</red></label>
                    <textarea id="requirement_detail" rows="2" class="form-control" placeholder="具体需求描述" style="height: 300px"></textarea>
            </div>
            <div class="input-group" style="margin:20px">
                <label for="requirement_long" class="input-group-addon"><red>视频时长</red></label>
                <input id="requirement_long" name="long" class="form-control" placeholder="请注明时长单位（如：分钟）">
            </div>
            <div class="input-group" style="margin:20px">
                <label for="requirement_format" class="input-group-addon"><red>视频画质</red></label>
                <select class="form-control" id="requirement_format" name="format">
                    <option></option>
                    <option>高清</option>
                    <option>标清</option>
                    <option>4K</option>
                    <option>其他</option>
                </select>
            </div>
            <div class="input-group" style="margin:20px">
                <label class="input-group-addon">字幕要求</label>
                <input id="subtitle" name="subtitle" class="form-control" placeholder="需要字幕的视频请填写">
            </div>
            <div class="input-group" style="margin:20px">
                <label class="input-group-addon">角标要求</label>
                <input id="symbol" name="symbol" class="form-control" placeholder="具体角标要求">
            </div>
            <div class="input-group" style="margin:20px">
                <label class="input-group-addon">配音要求 </label>
                <input id="voice" name="voice" class="form-control" placeholder="需要配音的视频请填写">
            </div>
            <div class="input-group" style="margin:20px">
                <label for="gbm" class="input-group-addon">背景音乐</label>
                <input id="gbm" name="gbm" class="form-control" placeholder="背景音乐类型或主题">
            </div>
            <div class="input-group" style="margin:20px">
                <label for="place" class="input-group-addon">地点要求</label>
                <input id="place" name="place" class="form-control" placeholder="拍摄地点要求">
            </div>
            <div class="input-group" style="margin:20px">
                <label for="refer" class="input-group-addon">参考视频</label>
                <input id="refer" name="refer" class="form-control" placeholder="请给出参考视频的相关链接">
            </div>
            <a class="list-group-item" style="text-align: center">
                <button class="btn-success btn" id="save">保存</button>
                <button class="btn-danger btn" id="del">删除</button>
            </a>
        </ul>
    <pre id="orgDetail" hidden>{{ params.rTemplate.Detail }}</pre>
    </div>
    <script type="text/javascript">
    init();
    $('#save').click(function(){
        save();
    });
    $('#del').click(function(){
        del();
    });
    function init(){
        var publishTab = $('.templateContent');
        var obj = {};
        parseDetail($('#orgDetail').text(), obj);
        publishTab.find("#requirement_detail").val(obj.Detail);
        publishTab.find("#requirement_long").val(obj.Long);
        publishTab.find("#requirement_format").val(obj.Format);
        publishTab.find("#voice").val(obj.Voice);
        publishTab.find("#subtitle").val(obj.Subtitle);
        publishTab.find("#gbm").val(obj.Gbm);
        publishTab.find("#place").val(obj.Place);
        publishTab.find("#refer").val(obj.Refer);
        publishTab.find("#symbol").val(obj.Symbol);
    }
    function parseDetail(detail, data){
        var groups = detail.split("@");
        for (var i = 0; i < groups.length; i++){
            var temp = groups[i].split("$");
            data[temp[0]] = temp[1];
        }
    }
    function groupDetail(){
        var detail = {};
        var publishTab = $('.templateContent');
        detail = 'Detail$' + publishTab.find("#requirement_detail").val() + '@';
        detail += 'Long$' + publishTab.find("#requirement_long").val() + '@';
        detail += 'Format$' + publishTab.find("#requirement_format").val() + '@';
        detail += 'Voice$' + publishTab.find("#voice").val() + '@';
        detail += 'Subtitle$' + publishTab.find("#subtitle").val() + '@';
        detail += 'Gbm$' + publishTab.find("#gbm").val() + '@';
        detail += 'Place$' + publishTab.find("#place").val() + '@';
        detail += 'Refer$' + publishTab.find("#refer").val() + '@';
        detail += 'Symbol$' + publishTab.find("#symbol").val();
        return detail;
    }
    function save(){
        var c2Id = {{ params.category_2.Id }};
        $.ajax({
            type: "POST",
            url: "/admin/promote/channel/template",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                c2Id: c2Id,
                operator: 'save',
                detail: groupDetail()
            }),
            success: function () {
                window.location.href = '/admin/promote/channel';
            }
        });
    }
    function del(){
        var c2Id = {{ params.category_2.Id }};
        $.ajax({
            type: "POST",
            url: "/admin/promote/channel/template",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                c2Id: c2Id,
                operator: 'del'
            }),
            success: function () {
                window.location.href = '/admin/promote/channel';
            }
        });
    }
    </script>
{% endblock %}