{% extends "admin/admin_index.html" %}
{% block body %}
<h2>服务商列表</h2>
<table class="table table-hover table-condensed table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>邮箱</th>
        <th>昵称</th>
        <th>执照</th>
        <th>真实姓名</th>
        <th>电话</th>
        <th>证件</th>
        <th>创建时间</th>
        <th>上一次登录时间</th>
        <th>余额</th>
        <th style="padding:5px 0;min-width:45px">成交量</th>
    </tr>
    </thead>
    <tbody >
    {% for value in user %}
    {% if value.Domain.IsService==1 %}
    <tr class="requirement_item">
        <td>{{value.Id}}</td>
        <td>{{value.Email }}</td>
        <td>{{value.NickName}}</td>
        <td>{{value.Domain.CompanyLicense}}</td>
        <td>{{value.RealName}}</td>
        <td>{{value.CellPhone}}</td>
        <td>证件照</td>
        <td>{{value.CreateTime}}</td>
        <td>{{value.LeastTime}}</td>
        <td>{{value.Domain.Count}}</td>
        <td><h6>{{ value.Domain.Trade}}</h6></td>
    </tr>
    <tr style="border-bottom:solid 2px #000">
        <td  style="padding: 0" ><h6>星级</h6><h6>{{ value.Domain.StartLevel }}</h6></td>
        <td>
            {{value.Domain.UsedSize}}/{{value.Domain.DefaultStorageSize + value.Domain.ExtendStorageSize }}
            <h6>已使用<red><strong>{{value.Domain.UsedSize/(value.Domain.DefaultStorageSize + value.Domain.ExtendStorageSize)*100}}%</strong></red></h6>
        </td>
        <td>
            <div class="progress" style="width:200px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{value.Domain.UsedSize/(value.Domain.DefaultStorageSize + value.Domain.ExtendStorageSize)*100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{value.Domain.UsedSize/(value.Domain.DefaultStorageSize + value.Domain.ExtendStorageSize)*100}}%;">
                </div>
            </div>
        </td>
        <td>
           <h6>家庭组名称</h6><h6>{{ value.Domain.DomainName }}</h6>
        </td>
        <td>
            <h6>公司名称</h6><h6>{{ value.Domain.CompanyName }}</h6>
        </td>
        <td>
            <h6>公司地址</h6><h6>{{ value.Domain.CompanyAddress }}</h6>
        </td>
        <td>
            <h6>公司地址</h6><h6>{{ value.Domain.CompanyAddress }}</h6>
        </td>
        <td>
            <h6>公司电话</h6><h6>{{ value.Domain.CompanyPhone }}</h6>
        </td>
        <td>
            <h6>公司传真</h6><h6>{{ value.Domain.CompanyFax }}</h6>
        </td>
        <td>
            <h6>空间</h6><h6>{{ value.Domain.ZoneName }}</h6>
        </td>
        <td>
            <abbr title="{{value.Domain.Intro}}">简介</abbr>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}