{% extends "admin/user_manage.html" %}
{% block userBody %}
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <h4>查找用户</h4>
            <hr>
            <div class="container-fluid">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" id="input_searchUser" placeholder="查找用户">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="searchUser">查找</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            {% if params %}
            <div class="container-fluid" id="userlist_content" style="margin-top: 20px">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>管理员</th>
                      <th>家庭组名称</th>
                      <th>制作商</th>
                      <th>公司名称</th>
                      <th>详细内容</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for user in params %}
                    <tr>
                      <td>{{ user.NickName }}</td>
                      <td>{{ user.Domain.DomainName }}</td>
                      {% if user.Domain.IsService %}
                        <td>是</td>
                      {% else %}
                        <td>否</td>
                      {% endif %}
                      <td>{{ user.Domain.CompanyName }}</td>
                      <td><button class="btn btn-default checkUser" value="{{ user.Id }}" name="{{ user.NickName }}">查看</button></td>
                      <td hidden><input type="text" class="totalStorage" value="{{ user.Domain.DefaultStorageSize + user.Domain.ExtendStorageSize }}"></td>
                      <td hidden><input type="text" class="defaultStorage" value="{{ user.Domain.DefaultStorageSize }}"></td>
                      <td hidden><input type="text" class="extendStorage" value="{{ user.Domain.ExtendStorageSize }}"></td>
                      <td hidden><input type="text" class="usedStorage" value="{{ user.Domain.UsedSize }}"></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <h4>添加制作商</h4>
            <hr>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="input-group" style="margin-top: 20px">
                    <span class="input-group-addon" id="basic-addon5">公司名称</span>
                    <input type="text" class="form-control user_companyName" placeholder="" aria-describedby="basic-addon5">
                </div>
                <div class="input-group" style="margin-top: 20px">
                    <span class="input-group-addon" id="basic-addon5">公司邮箱</span>
                    <input type="text" class="form-control user_companyEmail" placeholder="" aria-describedby="basic-addon5">
                </div>
                <div class="input-group" style="margin-top: 20px">
                    <span class="input-group-addon" id="basic-addon5">公司电话</span>
                    <input type="text" class="form-control user_cellPhone" placeholder="" aria-describedby="basic-addon5">
                </div>
                <div class="input-group" style="margin-top: 20px">
                    <span class="input-group-addon" id="basic-addon2">用户密码</span>
                    <input type="text" class="form-control user_pwd" placeholder="" aria-describedby="basic-addon2">
                </div>
                <div class="input-group" style="margin-top: 20px">
                    <span class="input-group-addon" id="basic-addon2">免费使用时间</span>
                    <input type="text" class="form-control user_expireTime" placeholder="单位：月" aria-describedby="basic-addon2">
                </div>
                <div style="text-align: center">
                    <button class="btn btn-default" type="button" id="addProducer" style="margin-top: 20px">添加</button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <script type="text/javascript">
    $('#searchUser').click(function(){
        window.location.href = '/admin/user/search?filter=' + $('#input_searchUser').val();
    });
    $('.checkUser').click(function(e){
        var id = $(e.currentTarget).attr('value');
        window.location.href = '/admin/user/' + id;
    });
    $('#addProducer').click(function(){
        $.ajax({
            type: "POST",
            url: "/admin/user/addProducer",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                companyName: $('.user_companyName').val(),
                email: $('.user_companyEmail').val(),
                cellPhone: $('.user_cellPhone').val(),
                pwd: $('.user_pwd').val(),
                rewardTime: $('.user_expireTime').val()
            }),
            success: function (d) {
                if (d.result == 'success')
                    alert('添加成功');
                else if (d.result == 'exist')
                    alert('已有重复制作商')
            }
        });
    });
    </script>
{% endblock %}