<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>筑影学堂</title>

<link rel="stylesheet" href="{$Think.const.CSS_URL}weui.min.css">
<link rel="stylesheet" href="{$Think.const.CSS_URL}jquery-weui.min.css">

<script src="{$Think.const.JS_URL}jquery.js"></script>
<script>



</script>
<script>
</script>
<body>


<div class= "weui-form-preview ">
  
    <div class= "weui-form-preview__bd ">
        <div class= "weui-form-preview__item ">
            <label class= "weui-form-preview__label ">课程名字</label>
            <span class= "weui-form-preview__value ">{$data.course_title}</span>
        </div>


        <div class= "weui-form-preview__item " style="padding-top: 10px;padding-bottom: 10px">
            <label class= "weui-form-preview__label ">报名人数</label>
            <span class= "weui-form-preview__value " >{$data.people_count}</span>
        </div>

        <div class= "weui-form-preview__item ">
            <label class= "weui-form-preview__label ">课程单价</label>
            <span class= "weui-form-preview__value " id="eachprice">{$data.course_price}</span>
        </div>

        <div class= "weui-form-preview__item ">
            <label class= "weui-form-preview__label ">节省金额</label>
            <span class= "weui-form-preview__value " id="bonus">{$data.cheap_price}</span>
        </div>



        <div class= "weui-form-preview__item ">
            <label class= "weui-form-preview__label ">应付金额</label>
            <span class= "weui-form-preview__value " style="font-size:22px;color: #bf0f0f ;font-weight:bold">{$data.final_price}</span>
        </div>
    </div>
    <div class= "weui-form-preview__ft ">
        <a  class= "weui-form-preview__btn weui-form-preview__btn_primary " href= "javascript:callpay()">立即支付</a>
    </div>
</div>
</body>
