<footer>
    <div class="main">
        <div style="margin:10px auto">
            <img src="image/logo.png" style="height:30px;"> | <span style="margin:0 10px">jianpianzi.com</span>
        </div>
        <div class="container-fluid"  style="padding:0 0 20px 0;margin:0 auto 20px auto;border-bottom: solid 1px #e3e3e3">
            <div class="col-md-3">
                <p><h5 onclick="$().GoToUrl('/storagePage')"><strong>媒体库</strong></h5></p>
                <p onclick="$().GoToUrl('/storagePage');$('#0').click()">我的云</p>
                <p onclick="$().GoToUrl('/storagePage');$('#1').click()">他人分享</p>
                <p onclick="$().GoToUrl('/storagePage');$('#2').click()">我的分享</p>
            </div>
            <div class="col-md-3">
                <p><h5><strong>交易平台</strong></h5></p>
                <p onclick="$().GoToUrl('/requirementPage')">我的需求</p>
                <p onclick="$().GoToUrl('/requirementPage')">寻找分享</p>
                <p onclick="$().GoToUrl('/contractPage')">合同状态</p>
            </div>
            <div class="col-md-3">
                <p><h5 onclick="$().GoToUrl('/UpdataPage')"><strong>后台管理</strong></h5></p>
                <p onclick="$().GoToUrl('/UpdataPage');$('#gotoUserSettingPage').click();">家庭组</p>
                <p onclick="$().GoToUrl('/UpdataPage');$('#extend').click();">空间扩容</p>
                <p onclick="$().GoToUrl('/UpdataPage');$('#Money').click();">账户充值</p>
                <p onclick="$().GoToUrl('/UpdataPage');$('#ShowWall').click();">分享精彩</p>
            </div>
            <div class="col-md-3">
                <p ><h5 onclick="$().GoToUrl('/UserInfoPage')"><strong>账号信息</strong></h5></p>
                <p onclick="$().GoToUrl('/UserInfoPage');$('#Info').click()">个人信息</p>
                <p onclick="$().GoToUrl('/UserInfoPage');$('#Safe').click()">安全设置</p>
            </div>
        </div>
    </div>

    <div class="main" style="margin-bottom: 40px">
        <div class="row">
            <div class="col-md-5" align="left">
                <div class="col-md-8" align="right">
                    <h4> 二维码扫描<br>移动端登录</h4>
                </div>
                <div class="col-md-3">
                    <img src="image/2dcode.png" style="height:80px;"/>
                </div>
            </div>
            <div class="col-md-7" style="margin:20px 0;">
                <div class="col-md-3"></div>
                <div class="col-md-2" style="padding-left:5px;height:30px;border-right: solid 1px #34495e">
                    <a id="icon-weibo" href="http://weibo.com/1631941987/profile" target="_blank"></a>
                </div>
                <div class="col-md-2" style="height:30px;border-right: solid 1px #34495e">
                    <a id="icon-weixin" href="#" title="QQ:529450714"></a>
                </div>
                <div class="col-md-2" style="height:30px;">
                    <a id="icon-qq" href="#" title="QQ:529450714"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="main" align="center" style="margin:10px auto">
        <h5>© Huiteng 2015 服务中心 | 关于我们 | 版权申明 | 版本更新 | 帮助中心 | 问题反馈</h5>
        <h6>Copyright CN All Rights Reserved 京ICP证 号 京公网安备 号 </h6>
    </div>
</footer>
