<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page-title"  >
    <h2><span>签到详情</span><a href="{:U('user/index')}" style="top: 30%;" class="arrow-left backpage"></a></h2>
</div>
<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">我的签到</div>

</div>
<div class="weui-cells" style="margin-bottom: 20%">

    <volist name="course" id="course">
        <h1 style="padding: 3%; ">课程标题：{$course.title}</h1>
        <h1 style="padding: 3%; ">主讲：{$course.speaker}</h1>
        <h1 style="padding: 3%; ">地点：{$course.address}</h1>
        <h1 style="padding: 3%; ">开课时间：{$course.starttime}</h1>
        <h1 style="padding: 3%; ">联系电话：{$course.phone}</h1>
        <h1 style="padding: 3%; ">签到次数：{$course.use_count}</h1>
        <h1 style="padding: 3%; ">最新签到时间：{$course.createtime}</h1>
        <h1 style="padding: 3%; ">凭证码：{$course.evidence}</h1>
    </volist>

</div>
</body>
</html>