<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <h4 class="modal-title">添加团队用户</h4>
        </div>
        <div class="modal-body">
            <ul>
                <li>
                    <input id="domain_user_add_userDomainName" type="text" class="form-control" placeholder="用户名">
                </li>
                <li>
                    <input id="domain_user_add_userDomainPwd" type="text" class="form-control" placeholder="密码">
                </li>
                <li>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>选择</th>
                            <th>角色</th>
                            <th>权限</th>
                        </tr>
                        </thead>
                        <tbody id="domain_user_add_role_selector">
                        {{each roles}}
                        <tr>
                            <td class="role_id" style="display: none">{{$index}}</td>
                            <td class="role_check"><input type="checkbox" name="user"></td>
                            <td class="role_name">{{$value.Name}}</td>
                            <td class="role_right">
                                {{if $value.DomainAdmin}}
                                是
                                {{else}}
                                否
                                {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button id="domain_user_add_commit" type="button" class="btn btn-primary">添加</button>
        </div>
    </div>
</div>