{{each users}}
<tr>
    <td class="user_id" style="display: none">{{$index}}</td>
    <td>{{$value.name}}</td>
    <td>
        {{each $value.roles as role}}
        {{role.name}}&nbsp
        {{/each}}
    </td>
    <td>
        {{if $value.domainAdmin}}
        是
        {{else}}
        否
        {{/if}}
    </td>
    {{if ownerUserId == $value.id}}
    <td><a class="linkCursor"><img src="image/delete_dis.png"/></a>
        {{else}}
    <td class="domain_user_delete_Btn"><a title="删除" class="linkCursor"><img src="image/delete.png"/></a>
        {{/if}}
    </td>
    <td class="domain_user_modify_Btn"><a title="修改用户信息" class="linkCursor"><img src="image/modify.png"/></a>
    </td>
</tr>
{{/each}}