<div class="modal-dialog  modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <h4 class="modal-title">添加角色</h4>
        </div>
        <div class="modal-body">
            <ul>
                <li>
                    <input id="domain_role_add_roleName_input" type="text" class="form-control" placeholder="角色名">
                </li>
                <li class="object_rightGroup">
                    <input id="domain_role_add_right_write" type="checkbox" name="right"><span>写入</span>
                </li>
                <li class="object_rightGroup">
                    <input id="domain_role_add_right_create" type="checkbox" name="right"><span>创建</span>
                </li>
                <li class="object_rightGroup">
                    <input id="domain_role_add_right_delete" type="checkbox" name="right"><span>删除</span>
                </li>
                <li class="object_rightGroup">
                    <input id="domain_role_add_right_download" type="checkbox" name="right"><span>下载</span>
                </li>
                <li class="object_rightGroup">
                    <input id="domain_role_add_right_share" type="checkbox" name="right"><span>共享</span>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button id="domain_role_add_commit" type="button" class="btn btn-primary">添加</button>
        </div>
    </div>
</div>