<div class="row">
    <div class="col-xs-12">
        <h3>编辑角色
            <button id="role_cancel" class="btn btn-warning" style="float:right">取消</button>
            <button id="role_save" class="btn btn-info" style="float:right">保存</button>
        </h3>
        <p>添加新的角色，并赋予丰富的权限功能</p>
        <div class="col-xs-12"  style="border:solid 1px #eee">
            <div class="col-xs-12" style="padding:15px;border-bottom:solid 1px #eee">
                <h4><strong>新角色名</strong></h4>
                <input class="roleSetting_name form-control" placeholder="角色名" style="width: 300px;margin:10px 0">
            </div>
            <div class="rightSetting_level_1"></div>
        </div>
    </div>
</div>