<div class="functionalArea_panel">

    <div class="main">
        <div class="roleSetting_panel">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-xs-5">角色名</th>
                        <th class="col-xs-5">权限</th>
                        <th class="col-xs-1">删除</th>
                        <th class="col-xs-1">修改</th>
                    </tr>
                </thead>
                <tbody id="domain_role_list">
                    <!--domain_role.html 角色列表模板-->
                </tbody>
            </table>
            <div class="text-center">
                <a title="添加角色" id="addSomething" class="btn-sm btn btn-green" style="margin:10px 0 20px">添加角色</a>
            </div>
        </div>
    </div>
</div>