<table class="table table-striped">
    <thead>
    <tr>
        <th>选择</th>
        <th>Email</th>
        <th>所属云</th>
        <th>云中用户名</th>
    </tr>
    </thead>
    <tbody id="searchResult">
    {{each}}
    <tr>
        <td class="searchUser_id" style="display: none">{{$value.Id}}</td>
        <td class="searchUser_check"><input type="radio" checked="checked" name="user"></td>
        <td class="searchUser_email">{{$value.Email}}</td>
        {{if $value.Domain != null}}
        <td class="searchUser_domain">{{$value.Domain.DomainName}}</td>
        <td class="searchUser_domainName">{{$value.DomainName}}</td>
        {{/if}}
    </tr>
    {{/each}}
    </tbody>
</table>