<div class="functionalArea_panel">
    <div id="userSetting_panel">
        <div class="row">
            <div class="col-xs-6">
                <h4>{{ Domain.DomainName }}</h4>
            </div>
            <div class="col-xs-6">
                <span title="企业角色管理" id="roleSetting"  class="domain_r">角色管理</span>
                <span class="domain_r" onclick="$('#profile').hide();$('#list').fadeIn();$('#role').hide()">用户信息</span>
                <span class="domain_r" onclick="$('#profile').fadeIn();$('#list').hide();$('#role').hide()">企业信息</span>
            </div>
        </div>
        <hr>
    </div>
    <div id="role" hidden></div>
    <div class="container-fluid" id="profile" >
        <div class="col-xs-12 text-center">
            <!--
            <img src="{{ Domain.Portrait }}" style="width:35px;height:35px;border-radius:10px;display:inline-block">
            <h4 style="display:inline-block;vertical-align:middle;margin:0 20px;"> 查看或修改企业信息 </h4>
            <button id="open" class="btn" style="border-radius:30px;background:rgba(0,0,0,0);"
                    onclick="$('#close').show();$('#infoPanel').slideDown();$(this).hide()">&or;</button>
            <button id="close"class="btn" style="display: none;background:rgba(0,0,0,0);"
                    onclick="$('#open').show();$('#infoPanel').slideUp();$(this).hide()"> &and; </button>
            -->
        </div>
        <div class="col-xs-12" id="infoPanel">
            <div id="storage-tree-position" style="position:absolute;z-index:100;left:250px;top: -75px;"></div>
            <div class="container-fluid" id="storageTree"></div>
            <div class="row" style="margin-top:20px;">
                <div class="col-xs-4 ">
                    <div class="text-center" style="margin-bottom:20px ">
                        <h4><strong>企业信息</strong></h4>
                    </div>
                    <div id="portrait_part" style="width:150px;height:150px;margin:0 auto"></div>
                </div>
                <div class="col-xs-7">
                    <dl class="dl-horizontal">
                        <dt>企业名称</dt>
                        <dd><input class="form-control" id="CompanyName-edit" placeholder="请填写企业的真实名称" value="{{Domain.CompanyName}}"></dd>
                        <dt>企业登录名</dt>
                        <dd><input class="form-control" id="DomainName-edit" placeholder="请填写企业登录名称" value="{{Domain.DomainName}}"></dd>
                        <dt>地址</dt>
                        <dd><input class="form-control" id="Address-edit" placeholder="请填写公司地址" value="{{Domain.CompanyAddr}}"></dd>
                        <dt>联系人</dt>
                        <dd><input class="form-control" id="CompanyCelPhone-edit" placeholder="对外联系人" value="{{Domain.CompanyCelPhone}}"></dd>
                        <dt>联系电话</dt>
                        <dd><input class="form-control" class="form-control" id="CompanyPhone-edit"  placeholder="请填写联系电话" value="{{Domain.CompanyPhone}}"></dd>
                        <!--
                        <dt>营业执照</dt>
                        <dd><input class="form-control" class="form-control" id="License-edit" placeholder="团队（公司）执照/联络人身份证号" value="{{Domain.CompanyLicense}}"></dd>
                        -->
                        <dt>邮箱</dt>
                        <dd><input class="form-control" id="CompanyEmail-edit"  placeholder="企业对外邮箱" value="{{Domain.CompanyEmail}}"></dd>
                        <dt>网站</dt>
                        <dd><input class="form-control" id="CompanyFax-edit"  placeholder="请填写企业网站" value="{{Domain.CompanyFax}}"></dd>
                    </dl>
                </div>
            </div>
            <div class="container-fluid text-center">
                <hr>
                <button id="modify-domain-info" class="btn btn-green">保存</button>
                <button class="btn btn-warning" onclick="$('#gotoUserSettingPage').click()">重置</button>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="list" hidden>

        <div class="main">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-xs-3">用户名</th>
                        <th class="col-xs-3">身份</th>
                        <th class="col-xs-4">管理员权限</th>
                        <th class="col-xs-1">删除</th>
                        <th class="col-xs-1">修改</th>
                    </tr>
                </thead>
                <tbody id="domain_user_list">
                    <!--domain_user.html 用户列表模板-->
                </tbody>
            </table>
            <div class="text-center" style="margin-bottom:20px">
                <span title="添加企业用户" id="addUser" class="btn-sm btn btn-green" style="margin:10px 0 20px">添加用户</span>
            </div>
        </div>
    </div>
</div>

<!--添加用户标签-->
<div class="modal fade bs-example-modal-sm" id="domain_user_add_dialog">
    <!--domain_user_add_dialog.html 模板-->
</div>

<!--修改用户标签-->
<div class="modal fade bs-example-modal-sm" id="domain_user_modify_dialog">
    <!--domain_user_modify_dialog.html 模板-->
</div>

<!--创建域标签-->
<div class="modal fade bs-example-modal-sm" id="domain_new_dialog">
    <!--domain_new_dialog.html 模板-->
</div>