{% extends "index/index.html" %}
{% block body %}
<div class="container-fluid text-center" style="background:#69360e;">
    <h3 style="font-size:30px;color:#fff;margin:20px 0 10px">频道精选</h3>
</div>
<div class="container-fluid text-center" style="background:#69360e;">
    <div class="channel-sort-list">
        <div class="channel-label">
            <div class="col-xs-12">
            <input id="category_1" value="{{ channel_1 }}" hidden>
            {% if channel_1 ==0 %}
                <span>全部</span>
            {% else %}
                <a href="/channel">全部</a>
            {% endif %}
            {% for i in category_1 %}
                {% if i.Id==channel_1 %}
                    <span>{{ i.Name }}</span>
                {% else %}
                    <a href="/channel/{{ i.Id }}">{{ i.Name }}</a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="channel-label">
            <div class="col-xs-12">
            <input id="category_2" value="{{ channel_2 }}" hidden>
                {% if channel_2 ==0 %}
                    <span>全部</span>
                {% else %}
                    <a href="/channel/{{ channel_1 }}">全部</a>
                {% endif %}
                {% for i in category_2 if i.ParentId==channel_1%}
                    {% if i.Id==channel_2 %}
                         <span>{{ i.Name }}</span>
                    {% else %}
                        <a href="/channel/{{ i.Id }}">{{ i.Name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid channel" style="width: 80%; min-height: 275px;">
{% if zone_item %}
    {% for i in zone_item %}
        {% if i.Domain.Status == 2 %}
        <div class="col-xs-4" style="padding: 10px 10px;">
            <div class="col-channel">
                <div style="background:#69360e;">
                    <img src="{{ i.Portrait }}" style="width: 100%;" onclick='window.open("/player/{{ i.ObjectId }}")'>
                </div>
                <div class="intro" style="background:#69360e;">
                    <h4>
                        <strong>
                            <span onclick='window.open("/player/{{ i.ObjectId }}")'>{{ i.Object.Name }}</span>
                        </strong>
                    </h4>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% else %}
    <h2 style="color:#777; text-align: center;">暂无此类视频</h2>
{% endif %}
</div>
{% if page_count>1 %}
<div class="col-index">
    <hr>
</div>
<div class=" text-center">
    <nav>
        <ul class="pagination">
            {% if page==1 %}
                <li class="disabled"><a class="pre-page" aria-label="Previous">&larr;</a></li>
            {% else %}
                <li><a href="/channel/{{s_channel}}/{{ pre }}" class="pre-page" aria-label="Previous">&larr;</a></li>
            {% endif %}
            {% for i in range(1,page_count+1) %}
                {% if i==page %}
                <li class="active"><a href="#">{{ i }}</a></li>
                {% else %}
                <li><a href="/channel/{{s_channel}}/{{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page==page_count %}
                <li class="disabled"><a class="next-page" ria-label="Next">&rarr;</a></li>
            {% else %}
                <li><a href="/channel/{{s_channel}}/{{ next }}" class="next-page" ria-label="Next">&rarr;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
</div>
{% endblock %}
