{% extends 'index/index.html' %}
{% block body %}
<div class="col-index">
    <h2 style="color:#6FCC05">我的收藏</h2>
    <hr>
</div>
<div class="col-index">
    {% if params.cp | length() > 0 %}
        <pre style="margin:5px 0;">您收藏了<strong><green> {{ params.cp | length() }} </green></strong>个制作商</pre>
        <div class="container-fluid">
            {% for i in params.cp %}
            <div class="col-xs-4 company-list">
                <div class="col-company text-center">
                    <button class="btn btn-danger delDomain" style="position:absolute;right:5px;padding:3px 5px" value="{{ i.Id }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <div class="row" style="padding:10px 15px 5px;background:#3a5795;color:#fff;">
                        <img src="{{ i.Domain.Portrait }}">
                        <p style="font-size:15px;"><a href="/zone/{{ i.Domain.Id }}" style="color:#fff"><strong>{{ i.Domain.CompanyName }}</strong></a></p>
                    </div>
                    <p><strong>
{#                        星级#}
{#                        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;#}
                        成交量 {{ i.Domain.Trade }}
                        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                        收藏数 {{ i.Domain.Focus }}
                    </strong>
                    </p>
                    <div class="container-fluid company-btn">
                        <a class="btn btn-default" href="/zone/{{ i.Domain.Id }}">查看主页</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if params.cv | length() > 0 %}
        <pre style="margin:5px 0;">您收藏了<strong><green>{{ params.cv | length() }}</green></strong>个视频</pre>
        <div class="container-fluid">
            {% for v in params.cv %}
            <div class="col-xs-3" style="padding:10px 5px;">
                <div class="collection-video-col">
                    <button class="btn btn-danger delObject" style="position:absolute;right:5px;padding:3px 5px" value="{{ v.Id }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <div class="text-center">
                        <a class="video" href="/player/{{ v.ZoneItem.Object.Id }}" style='background-image:url("{{ v.ZoneItem.Portrait }}")'>
                            <div class="filter">
                                <span class="glyphicon glyphicon-play-circle"></span>
                            </div>
                        </a>
                    </div>
                    <hr>
                    <dl class="dl-horizontal" style="margin: 0 0 0 10px;">
                        <dt>视频名称</dt><dd>{{ v.ZoneItem.Object.Name }}</dd>
                        <dt>视频标签</dt><dd>{{ v.ZoneItem.Object.Tag }}</dd>
                        <dt>视频制作</dt><dd><a href="/zone/{{ v.User.DomainId }}">{{ v.User.Domain.CompanyName }}</a></dd>
                    </dl>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    <script type="text/javascript">
        $('.delObject').click(function(e){
            var id = $(e.currentTarget).attr('value');
            delCollection(id, 'video');
        });
        $('.delDomain').click(function(e){
            var id = $(e.currentTarget).attr('value');
            delCollection(id, 'domain');
        });
        function delCollection(id, type){
            $.ajax({
                type: "POST",
                url: "/collection",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    type: type,
                    targetId: id
                }),
                success: function () {
                    location.reload();
                }
            });
        }
    </script>
</div>
{% endblock %}