{% extends "index/index.html" %}
{% block body%}

<div class="container" style="height:65px;margin:50px; ">
    <div class="col-xs-4" style="text-align: right;">
        <h2 style="font-size:45px;margin:5px;"><black>加入我们</black></h2>
    </div>
    <div class="col-xs-4">
        <h4>成为商影联盟的服务客户</h4>
        <h4>只为给客户提供最佳的视频解决方案</h4>
    </div>
    <div class="col-xs-4"style="text-align:left;">
        <img src="image/logo.png" style="height:70px;">
    </div>
</div>
<hr>
<div class="container-fluid" style="margin:50px auto">
    <div class="container" style="width:60%">
        <h3>联系方式：</h3>
        <p>联系人：张洪</p>
        <p>联系电话：186-1182-8618</p>
        <p>网址：www.jianpianzi.com</p>
        <p>邮箱：jianpianzi@126.com</p>
        <p>地址：北京市朝阳区双桥康惠园小区3号院</p>
    </div>
</div>
{% endblock %}