{% extends "index/index.html" %}
{% block body %}
<div class="col-index" style="min-height: 545px;">
   <!-- <div class="col-index">
        <h2 style="color:#6FCC05">&nbsp;商影联盟综合搜索</h2>
    </div>
    <hr>-->
    <div class="col-index" style="margin:50px 0">
        <div class="search">
            <span class="glyphicon glyphicon-search"></span>
            <input id="index-search-input" {% if search %}value="{{ search }}" {% endif %}>
            <button onclick="window.location='/search?search='+$('#index-search-input').val()">搜索视频</button>
        </div>
    </div>
    {% if not domain and not video%}
        <hr>
        <center><h2 style="color:#ddd">抱歉，没有找到 “{{ search }}” 相关的结果。</h2></center>
    {% endif %}
    <ul class="list-group searchpage_ul">
        {% if domain != None and domain | length() %}
        <li class="list-group-item col-md-12">共有 <strong><green> {{ domain | length() }} </green></strong> 条和搜索相关的制作商信息{% if domain | length() > 3 %}<a href="/company" style="float:right">更多</a>{% endif %}</li>
        <li class="list-group-item col-md-12 company-list" style="padding: 0">
            {% for i in domain %}
            {% if i.Status == 2 %}
            {% if loop.index0 < 3 %}
            <div class="col-xs-4">
                <div class="col-company text-center">
                    <div class="row" style="padding:10px 15px 5px;background:#3a5795;color:#fff;">
                        <img src="{{ i.Portrait }}">
                        <p><a  style="font-size:15px;color:#fff;" href="/zone/{{ i.Id }}"><strong>{{ i.CompanyName }}</strong></a></p>
                    </div>
                    <p><strong>
                        <!--星级-->
                        成交量 {{ i.Trade }}
                        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                        收藏数 {{ i.Focus }}
                    </strong>
                    </p>
                    <div class="container-fluid company-btn">
                        <a class="btn btn-default" href="/zone/{{ i.Id }}" target="_blank">查看主页</a>
                        <a class="collect btn btn-default">关注</a>
                        <input value="{{ i.Id }}" hidden>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </li>
        {% endif %}
        {% if video | length() %}
            {% if search != "" %}
                <li class="list-group-item col-md-12">共有<strong><green> {{ video | length() }} </green></strong>条和搜索相关的视频信息</li>
            {% else %}
                <li class="list-group-item col-md-12">最新视频推荐</li>
            {% endif %}
        <li class="list-group-item col-md-12" style="padding: 0">
            {% for v in video %}
            {% if v.Domain.Status == 2 %}
            <div class="col-md-4" style="border-bottom:solid 1px #eee;border-left:solid 1px #ddd; text-align: center">
                <a href="/player/{{ v.Object.Id }}"target="_blank">
                    <img id="producerLogo" src='{{ v.Portrait }}' style="margin-top:10px;width:auto;height:135px;">
                </a>
                <hr style="margin:10px 10px 0">
                <dl class="dl-horizontal" style="text-align:left;margin:0 0 10px">
                  <dt style="height: 30px">视频名称</dt>
                  <dd style="height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ v.Object.Name }}</dd>
                  <dt style="height: 30px;">视频标签</dt>
                  <dd style="height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ v.Object.Tag }}</dd>
                  <!--<dt style="height: 30px">制作商</dt>
                  <dd style="height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><a href="/zone/{{ v.Domain.Id }}">{{ v.Domain.CompanyName }}</a></dd>-->
                </dl>
            </div>
            {% endif %}
            {% endfor %}
        </li>
        {% endif %}
    </ul>
</div>
<script src="{{ url_for('.static', filename='index/company.js') }}"></script>
{% endblock %}