{% extends 'index/index.html' %}
{% block body %}
    <div class="col-index" style="padding:0 15px 10px">
        <h2 style="color:#6FCC05">服务客户</h2>
        <hr>
    </div>
    <div class="col-index">
    {% for i in domain %}
        {% if loop.index % 6 == 1 %}
        <div class="col-xs-12" style="margin-bottom: 80px;">
        {% endif %}
            <div class="col-xs-2 text-center" style="overflow: hidden">
                <a style="font-size:15px;color:#fff;width:100%;" href="/zone/{{ i.Id }}">
                    <img src="{{ i.Portrait }}">
                </a>
                <a href="/zone/{{ i.Id }}">
                    <h4 style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap"><strong>{{ i.CompanyName }}</strong></h4>
                </a>
            </div>
        {% if loop.index % 6 == 0 %}
        </div>
        {% elif loop.index == domain|length %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class=" text-center" style="min-height:213px;">
        <nav>
            <ul class="pagination">
                {% if page==1 %}
                    <li class="disabled"><a class="pre-page" aria-label="Previous">&larr;</a></li>
                {% else %}
                    <li><a href="/company/{{ key }}/{{ pre }}" class="pre-page" aria-label="Previous">&larr;</a></li>
                {% endif %}
                {% for i in range(1,page_count+1) %}
                    {% if i==page %}
                    <li class="active"><a href="#">{{ i }}</a></li>
                    {% else %}
                    <li><a href="/company/{{ key }}/{{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page==page_count %}
                    <li class="disabled"><a class="next-page" ria-label="Next">&rarr;</a></li>
                {% else %}
                    <li><a href="/company/{{ key }}/{{ next }}" class="next-page" ria-label="Next">&rarr;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <script src="{{ url_for('.static', filename='index/company.js') }}"></script>
{% endblock %}