{% extends "index/index.html" %}
{% block body%}
<div class="container-fluid" >
    <div class="container-fluid">
        <div class="zone-banner text-center" style='{%if domain.ZoneBanner%}background-image:url("{{domain.ZoneBanner}}"){%else%}background:#3a5795;{%endif%}'>
            <img src="{{ domain.Portrait }}" >
            <div class="zone-banner-text">
                <h3 style="margin:0;"><strong>{{ domain.CompanyName }}</strong></h3>
            </div>
            {% if domain.IsService %}
            <button class="btn" id="focus" value="{{ domain.Id }}">&nbsp;&nbsp;关注&nbsp;&nbsp;</button>
            <button class="btn" id="require" value="{{ domain.Id }}">提需求</button>
            {% endif %}
            <ul class="nav" role="tablist">
                <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">主页</a></li>
                <li role="presentation"><a href="#photo" role="tab" data-toggle="tab">{% if domain.IsService %}相册{%else%}相册{% endif %}</a></li>
                <li role="presentation"><a href="#video" role="tab" data-toggle="tab">{% if domain.IsService %}视频{%else%}视频{% endif %}</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content col-index" style="box-shadow:0 0 35px #aaa">
            <div role="tabpanel" class="tab-pane fade in active" id="home" style="padding:20px 10px 74px;">
                <div class="row">
                    <div class="col-xs-4" style="padding:0 10px 0 25px;">
                        <blockquote style="margin:0;padding:1px 10px;color:#6FCC05;border-bottom:dashed 1px #eee">
                            <h4 style="margin:5px ">
                                <strong>
                                    {% if domain.IsService %}公司资料{% else %}
                                        {% if domain.Status==2 %}企业资料{% else %}个人资料{% endif %}
                                    {% endif %}
                                </strong>
                            </h4>
                        </blockquote>
{#                            {% if domain.IsService %}#}
{#                                <input id="starlevel" value="{{domain.StarLevel}}" hidden>#}
{#                                星级：#}
{#                            {% endif %}#}
                        <div class="zone-info">
                            {% if domain.IsService %}
                                <p> &nbsp;&nbsp;&nbsp;成交量：{% if domain.Trade%}{{domain.Trade}}{%else%}0{% endif %}
                                &nbsp&nbsp<button id="viewCases" class="btn btn-default btn-sm">查看详情</button></p>
                                <p> &nbsp;&nbsp;&nbsp;被关注：{% if domain.Focus%}{{domain.Focus}}{%else%}0{% endif %}</p>
                            {% endif %}
                            <hr style="border-top:1px dashed #eee;">
                            {% if domain.CompanyAddr %}
                                <p title="地址"><span class="glyphicon glyphicon-map-marker"></span> {{ domain.CompanyAddr }}</p>
                            {% endif %}
                            {% if domain.CompanyCelPhone %}
                                <p title="联系人"><span class="glyphicon glyphicon-user"></span> {{ domain.CompanyCelPhone }}</p>
                            {% endif %}
                            {% if domain.CompanyPhone %}
                                <p title="传真"><span class="glyphicon glyphicon-phone-alt"></span> {{ domain.CompanyPhone }}</p>
                            {% endif %}
                            {% if domain.CompanyEmail %}
                                <p title="邮箱"><span class="glyphicon glyphicon-envelope"></span> {{ domain.CompanyEmail }}</p>
                            {% endif %}
                            {% if domain.CompanyFax %}
                                <p title="网站"><span class="glyphicon glyphicon-globe"></span>{{ domain.CompanyFax }}</p>
                            {% endif %}
                        </div>
                        {% if domain.Intro %}
                        <hr>
                        <div style="margin-top:20px">
                            <blockquote style="margin:0;padding:1px 10px;color:#6FCC05;border-bottom:dashed 1px #eee">
                                <h4 style="margin:5px ">
                                    <strong>
                                        {% if domain.IsService %}公司简介{% else %}
                                            {% if domain.Status==2 %}企业简介{% else %}个人简介{% endif %}
                                        {% endif %}
                                    </strong>
                                </h4>
                            </blockquote>
                            <pre style="background:#fff;border:none;padding:0 10px;margin:0;font-size:14px;font-family:'Microsoft Yahei'">
                                <p>{{ domain.Intro }}</p>
                            </pre>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-8" style="padding-right:30px;border-left:solid 1px #eee">
                        {% if pic %}
                        <blockquote style="margin:0;padding:1px 10px;color:#6FCC05;border-bottom:dashed 1px #eee">
                            <h4 style="margin:5px ">
                                <strong>
                                {% if domain.IsService %}图片{% else %}
                                    {% if domain.Status==2 %}企业相册{% else %}个人相册{% endif %}
                                {% endif %}
                                </strong>
                            </h4>
                        </blockquote>
                        <div class="container-fluid" >
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators" style="margin-bottom:50px;">
                                    {% for value in pic %}
                                        {% if loop.index0==0 %}
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        {% else %}
                                        <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}"></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    {% for value in pic %}
                                        {% if loop.index0==0 %}
                                        <div class="item active">
                                        {% else %}
                                        <div class="item">
                                        {% endif %}
                                            <img src="{{ value.Object.File.Path }}" style="height:400px;margin:auto;box-shadow:0 0 2px #ddd">
                                            <div style="padding:5px 0;text-align:center;position:relative;;color:#333;"><h4>{{ value.Intro }}</h4></div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"
                                        style="background:rgba(0,0,0,0);padding:0px;width:40px;height:150px;top:30%;left:10px">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"
                                        style="background:rgba(0,0,0,0);padding:0px;width:40px;height:150px;top:30%;right:10px">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {%if video %}
                    <div class="row" style="margin:10px;">
                        <blockquote style="margin:0 0 10px;padding:1px 10px;color:#6FCC05;border-bottom:dashed 1px #eee">
                            <h4 style="margin:5px ">
                                <strong>
                                    {% if domain.IsService %}视频展示{% else %}
                                        {% if domain.Status==2 %}企业视频{% else %}我的视频{% endif %}
                                    {% endif %}
                                </strong>
                            </h4>
                        </blockquote>
                        {% for value in video %}
                        <div class="col-xs-2" style="margin:1px 0;padding:1px;height:177px;margin-bottom:1px">
                            <a href="/player/{{value.ObjectId}}"  target="_blank">
                                <img src="{{ value.Portrait }}" style="width:100%;height:124px;">
                                <span class="glyphicon glyphicon-play-circle"
                                      style="position:absolute;color:rgba(255,255,255,0.5);font-size:50px;top:24%;left:37%"></span>
                            </a>
                            <div class="text-center" style="padding:5px;border:solid 1px #eee;border-top:none">
                                <p style="margin:0;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;">
                                    <strong>{{ value.Object.Name }}</strong>
                                </p>
{#                                <p style="margin:0;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;">#}
{#                                    {{ value.Intro }}#}
{#                                </p>#}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="photo" style="padding:0 10px 45px;background:#f2f2f2;min-height:500px">
                <div class="row" >
                    <h3>
                        <span class="glyphicon glyphicon-picture" style="margin:0 20px;font-size:20px"></span>
                        <strong style="color:#6FCC05">
                            {% if domain.IsService %}图片{% else %}
                                {% if domain.Status==2 %}企业相册{% else %}个人相册{% endif %}
                            {% endif %}
                        </strong>
                    </h3>
                {% if pic %}
                    {% for value in pic %}
                        <div class="col-xs-3" style="padding:5px;">
                            <div style="background: #fff;padding-top:1px ">
                                <div style="margin: 10px">
{#                                    <small>{{ value.Domain.CompanyName}}</small>#}
{#                                    <small style="float: right">{{ value.Object.CreateTime }}</small>#}
{#                                    <hr>#}
                                    <p><strong>{{ value.Object.Name|filter_prefex }}</strong></p>
                                    <p> {% if value.Object.Description %}{{ value.Object.Description }}{% endif %}</p>
                                </div>
                                <img src="{{ value.Object.File.Path }}" style="width:100%;">
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1 style="color:#ddd;text-align: center;margin:50px;">暂时还没有照片</h1>
                {% endif %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="video" style="padding:0 10px 45px;background:#f2f2f2;min-height:500px">
                <div class="row">
                    <h3>
                        <span class="glyphicon glyphicon-film" style="margin:0 20px;font-size:20px"></span>
                        <strong style="color:#6FCC05">
                            {% if domain.IsService %}视频展示{% else %}
                                {% if domain.Status==2 %}企业视频{% else %}我的视频{% endif %}
                            {% endif %}
                        </strong>
                    </h3>
                    {% if video %}
                        {% for value in video %}
                            <div class="col-xs-3" style="padding:5px;">
                                <div style="background: #fff;padding-top:1px ">
                                    <div style="margin: 10px">
                                        <small style="width:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">{{ value.Object.Name }}</small>
                                        <small style="float: right;width:62px;overflow: hidden;white-space: nowrap">{{ value.Object.CreateTime }}</small>
                                        <hr>
{#                                        <p style="margin:0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">#}
{#                                            <strong>{{ value.Object.Name }}</strong>#}
{#                                        </p>#}
{#                                        <p style="margin:0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">#}
{#                                            {% if value.Intro %}{{ value.Intro }}{% endif %}#}
{#                                        </p>#}
                                    </div>
                                    <a href="/player/{{ value.ObjectId }}" class="zone-video" style='background-image:url("{{ value.Portrait }}")' target="_blank">
                                        <span class="glyphicon glyphicon-play-circle"></span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h1 style="color:#ddd;text-align: center;margin:50px;">暂时还没有视频</h1>
                    {% endif %}
                </div>
            </div>
        </div>
</div>
<div id="viewCases-modal" class="modal fade bs-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">交易记录</h4>
            </div>
            <div class="modal-body" style="min-height: 350px">
                {% for req in reqs %}
                    <div class="container-fluid" style="box-shadow: 0 0 5px #aaa; margin-bottom: 20px">
                        <div class="container-fluid" style="padding: 10px">
                            <h3>案例：{{ req.Title }}<small>&nbsp&nbsp{{ req.Deadline }}</small></h3>
                            <p>服务客户：{{ req.Publisher.Domain.CompanyName }}</p>
                            <div style="float:right">
                            {% if req.Star %}
                                <span class="star glyphicon
                                {% if req.Star > 0 %}
                                glyphicon-star
                                {% else %}
                                glyphicon-star-empty
                                {% endif %}
                                " style="font-size:16px;color:#CC0000"></span>
                                <span class="star glyphicon
                                {% if req.Star > 1 %}
                                glyphicon-star
                                {% else %}
                                glyphicon-star-empty
                                {% endif %}
                                " style="font-size:16px;color:#CC0000"></span>
                                <span class="star glyphicon
                                {% if req.Star > 2 %}
                                glyphicon-star
                                {% else %}
                                glyphicon-star-empty
                                {% endif %}
                                " style="font-size:16px;color:#CC0000"></span>
                                <span class="star glyphicon
                                {% if req.Star > 3 %}
                                glyphicon-star
                                {% else %}
                                glyphicon-star-empty
                                {% endif %}
                                " style="font-size:16px;color:#CC0000"></span>
                                <span class="star glyphicon
                                {% if req.Star > 4 %}
                                glyphicon-star
                                {% else %}
                                glyphicon-star-empty
                                {% endif %}
                                " style="font-size:16px;color:#CC0000"></span>
                            {% else %}暂无
                                <p></p>
                            {% endif %}
                            </div>
                            <p style="border-bottom: dashed 1px #eee">客户评价：</p>
                            {% if req.Comment %}
                                <p>{{ req.Comment }}</p>
                            {% else %}
                                <p>暂无</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('.static', filename='index/zone.js') }}"></script>
{% endblock %}