{__NOLAYOUT__}
<html lang="en">
<head>
    <title>消息</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="{$Think.const.JS_URL}jquery.js"></script>

    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.css">
    <script rel="stylesheet" src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>


    <link href="{$Think.const.CSS_URL}vendors.css" rel="stylesheet" />

    <link rel="stylesheet" href="{$Think.const.CSS_URL}weui.min.css">
    <link rel="stylesheet" href="{$Think.const.CSS_URL}jquery-weui.min.css">
    <script src="{$Think.const.JS_URL}jquery-weui.js"></script>
    <script src="{$Think.const.JS_URL}fastclick.js"></script>
    <meta charset="UTF-8">
    <title>消息</title>

</head>
<body>
<volist name="data" id="v">

<div  class="weui-media-box weui-media-box_appmsg">

    <div class="weui-media-box__hd">
        <img src="http://www.cunpianzi.com/tpchat/Public/upload/image/logo.jpg" style="margin-bottom:66%;width:40px;height:40px">
    </div>
    <div class="weui-media-box__bd">
        <div class="weui-media-box__title" style="font-size: 12px">
            {$v.admin_username}
        </div>
        <p style="margin-top: 10px;margin-bottom: 10px" class="weui-media-box__desc">
            {$v.content}</p>
        <p  onclick="window.location.href='http://www.baidu.com'" style="margin-top: 10px;margin-bottom: 5px;color: blue;font-size: 12px" class="weui-media-box__desc">
            戳我链接</p>
        <p class="weui-media-box__desc" >
            {$v.createtime}</p>

    </div>
</div>
</volist>

<include file="Public/navbar"/>
</body>
</html>