{% extends "park/parkservebase.html" %}
{% block block_servecontent %}
    <!--- 公司注册 --->
    <div id="ser-regsiter" class="ser-regsiter">
        <div class="head-section">
            <div class="container">
                <h3><span>公司</span><label>注册.</label></h3>
            </div>
        </div>
        <div class="container">
            <div class="company">
                <ul>
                    <li><a>
                        <span class="company-tit show">我要开公司</span>
  <span class="company-con show pb25">
<span class="company-ico show"><span class="show company-ico00 company-ico0"></span></span>
<span class="company-name show">内资公司注册</span>
<em>1</em>
<var>元起</var>
</span>
                    </a></li>
                    <li><a>
                        <span class="company-tit show">我想先给公司起名</span>
  <span class="company-con show pb25">
  <span class="company-ico show"><span class="show company-ico01 company-ico0"></span></span>
<span class="company-name show">内资公司注册</span>
<em>1</em>
<var>元起</var>
</span>
                    </a></li>
                    <li><a>
                        <span class="company-tit show">我要给公司核实</span>
  <span class="company-con show pb25">
  <span class="company-ico show"><span class="show company-ico02 company-ico0"></span></span>
<span class="company-name show">内资公司注册</span>
<em>100</em>
<var>元起</var>
</span>
                    </a></li>
                    <li><a>
                        <span class="company-tit show">我要变更公司信息</span>
  <span class="company-con show pb25">
  <span class="company-ico show"><span class="show company-ico03 company-ico0"></span></span>
<span class="company-name show">内资公司注册</span>
<em>300</em>
<var>元起</var>
</span>
                    </a></li>
                    <li><a>
                        <span class="company-tit show">我需要做年报</span>
  <span class="company-con show pb25">
  <span class="company-ico show"><span class="show company-ico04 company-ico0"></span></span>
<span class="company-name show">内资公司注册</span>
<em>400</em>
<var>元起</var>
</span>
                    </a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>

        </div>

    </div>
    <!--- 公司注册 --->
{% endblock %}
