{% extends "park/parkservebase.html" %}
{% block block_servecontent %}
    <!--- 知识产权 --->
    <div id="ser-chanq" class="ser-chanq">
    <div class="head-section">
        <div class="container">
            <h3><span>知识</span><label>产权.</label></h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s21.jpg') }}" alt="...">
                    <p>补办商标证书</p>
                    <p>单价：<span>1500元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s22.jpg') }}" alt="...">
                    <p>商标撤回申请</p>
                    <p>单价：<span>500元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s23.jpg') }}" alt="...">
                    <p>作品著作权变更</p>
                    <p>单价：<span>1,000元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s24.jpg') }}" alt="...">
                    <p>撤销三年不使用商标申请</p>
                    <p>单价：<span>2000元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s25.jpg') }}" alt="...">
                    <p>专利转让</p>
                    <p>单价：<span>1,000元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s26.jpg') }}" alt="...">
                    <p>专利权利恢复请求</p>
                    <p>单价：<span>1500元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s27.jpg') }}" alt="...">
                    <p>专利变更代理组织</p>
                    <p>单价：<span>50元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s28.jpg') }}" alt="...">
                    <p>专利变更</p>
                    <p>单价：<span>900元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s29.jpg') }}" alt="...">
                    <p>商标续展</p>
                    <p>单价：<span>2400元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s290.jpg') }}" alt="...">
                    <p>商标转让</p>
                    <p>单价：<span>2000元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s291.jpg') }}" alt="...">
                    <p>商标变更</p>
                    <p>单价：<span>900元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s292.jpg') }}" alt="...">
                    <p>商标注册（VIP）</p>
                    <p>单价：<span>899元</span></p>
                </a>
            </div>
        </div>

    </div>
    <!--- 知识产权 --->
{% endblock %}
