{% extends "park/parkservebase.html" %}
{% block block_servecontent %}
    <!--- 法律服务 --->
    <div id="ser-fal" class="ser-fal">
    <div class="head-section">
        <div class="container">
            <h3><span>法律</span><label>服务.</label></h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s30.jpg') }}" alt="...">
                    <p>合同审核</p>
                    <p>单价：<span>599元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s31.jpg') }}" alt="...">
                    <p>合同撰写</p>
                    <p>单价：<span>499元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s32.jpg') }}" alt="...">
                    <p>合伙协议</p>
                    <p>单价：<span>799元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s33.jpg') }}" alt="...">
                    <p>公司章程</p>
                    <p>单价：<span>988元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s34.jpg') }}" alt="...">
                    <p>律师函</p>
                    <p>单价：<span>599元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s35.jpg') }}" alt="...">
                    <p>法律顾问</p>
                    <p>单价：<span>999元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s36.jpg') }}" alt="...">
                    <p>合同大礼包</p>
                    <p>单价：<span>3,000元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s37.jpg') }}" alt="...">
                    <p>法律维权</p>
                    <p>单价：<span>2,000元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s30.jpg') }}" alt="...">
                    <p>公司章程</p>
                    <p>单价：<span>988元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s33.jpg') }}" alt="...">
                    <p>律师函</p>
                    <p>单价：<span>599元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s32.jpg') }}" alt="...">
                    <p>合同审核</p>
                    <p>单价：<span>599元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s31.jpg') }}" alt="...">
                    <p>合同撰写</p>
                    <p>单价：<span>499元</span></p>
                </a>
            </div>
        </div>
    </div>
    <!--- 法律服务 --->
{% endblock %}
