{% extends "park/parkservebase.html" %}
{% block block_servecontent %}
    <!--- 行政审批 --->
    <div id="ser-xingz" class="ser-xingz">
    <div class="head-section">
        <div class="container">
            <h3><span>行政</span><label>审批.</label></h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s60.jpg') }}" alt="...">
                    <p>高新技术企业认定</p>
                    <p>单价：<span>30,000元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s61.jpg') }}" alt="...">
                    <p>国家强制性产品认证</p>
                    <p>单价：<span>面议</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s62.jpg') }}" alt="...">
                    <p>三位一体化体系认证</p>
                    <p>单价：<span>9,000元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s63.jpg') }}" alt="...">
                    <p>ISO20000认证</p>
                    <p>单价：<span>75,000元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s64.jpg') }}" alt="...">
                    <p>400电话</p>
                    <p>单价：<span>1200元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s65.jpg') }}" alt="...">
                    <p>旅行社经营许可证</p>
                    <p>单价：<span>面议</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s66.jpg') }}" alt="...">
                    <p>道路运输经营许可证</p>
                    <p>单价：<span>面议</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s67.jpg') }}" alt="...">
                    <p>消毒产品生产企业卫生许可证</p>
                    <p>单价：<span>面议</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s68.jpg') }}" alt="...">
                    <p>危险化学品经营许可证</p>
                    <p>单价：<span>面议</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s69.jpg') }}" alt="...">
                    <p>化妆品卫生许可证</p>
                    <p>单价：<span>面议</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s691.jpg') }}" alt="...">
                    <p>互联网药品信息服务资格证</p>
                    <p>单价：<span>面议</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s692.jpg') }}" alt="...">
                    <p>餐饮服务许可证</p>
                    <p>单价：<span>面议</span></p>
                </a>
            </div>
        </div>

    </div>
    <!--- 行政审批 --->
{% endblock %}

