<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中传·汇腾线上文化创意园</title>
    <link href="{{ url_for('static', filename='css/park/bootstrap.css')}}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='park/jquery.min.js') }}"></script>
    <!-- Custom Theme files -->
    <link href="{{ url_for('static', filename='css/park/style.css')}}" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!---- animated-css ---->
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/park/animate.css')}}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='park/jquery.corner.js') }}"></script>
    <script src="{{ url_for('static', filename='park/wow.min.js') }}"></script>
    <script>
        new WOW().init();
    </script>
    <!---- animated-css ---->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="{{ url_for('static', filename='park/move-top.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='park/easing.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!---- start-smoth-scrolling---->
    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!----start-top-nav-script---->
    <script>
        $(function() {
            var pull = $('#pull');
            menu = $('nav ul');
            menuHeight = menu.height();
            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });
            $(window).resize(function() {
                var w = $(window).width();
                if (w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
    <!----//End-top-nav-script---->
</head>

<script type="text/javascript">
    $(document).ready(function(){
        {% if name %}
            $('a[href$={{ name }}').addClass('cur');
        {% endif %}
    })
</script>
<body>
<div class="bg">
    <!----- start-header---->
    <div class="container">
        <div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
            <div class="top-header">
                <div class="logo" style="font-size:medium;">
                	<a href="/park"><img src="{{ url_for('.static', filename='image/park/logo1.png') }}" style="height:40px;"/><span style="font-size:24px;margin-left:15px;">中传·汇腾线上文创园</span></a>
                </div>
                <!----start-top-nav---->
                {#                <nav class="top-nav"  style="width:900px;margin-left:240px;">#}
                {#                    <ul class="top-nav">#}
                {#                        <li class="serve-a"><a href="#ser-regsiter" class="scroll">公司注册</a></li>#}
                {#                        <li class="serve-a"><a href="#ser-tax" class="scroll">财税服务</a></li>#}
                {#                        <li class="serve-a"><a href="#ser-chanq" class="scroll">知识产权</a></li>#}
                {#                        <li class="page-scroll serve-a"><a href="#ser-fal" class="scroll">法律服务</a></li>#}
                {#                        <li class="page-scroll serve-a"><a href="#ser-hr" class="scroll">人事社保</a></li>#}
                {#                        <li class="page-scroll serve-a"><a href="#ser-xingz" class="scroll">行政审批</a></li>#}
                {#                        <li class="page-scroll serve-a"><a href="#ser-zib" class="scroll">资本运作</a></li>#}
                {#                    </ul>#}
                {#                    <a href="#" id="pull"><img src="{{ url_for('.static', filename='image/park/nav-icon.png') }}" title="menu" /></a> </nav>#}
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!----- //End-header---->
    <!---- banner-info ---->

    <!---- banner-info ---->

    <!--- portfolio ---->

    <!-- start-portfolio-script-->
    <script type="text/javascript" src="./js/jquery.mixitup.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var filterList = {
                init: function() {

                    // MixItUp plugin
                    // http://mixitup.io
                    $('#portfoliolist').mixitup({
                        targetSelector: '.portfolio',
                        filterSelector: '.filter',
                        effects: ['fade'],
                        easing: 'snap',
                        // call the hover effect
                        onMixEnd: filterList.hoverEffect()
                    });

                },
                hoverEffect: function() {
                    // Simple parallax effect
                    $('#portfoliolist .portfolio').hover(
                            function() {
                                $(this).find('.label').stop().animate({
                                    bottom: 0
                                }, 200, 'easeOutQuad');
                                $(this).find('img').stop().animate({
                                    top: -30
                                }, 500, 'easeOutQuad');
                            },
                            function() {
                                $(this).find('.label').stop().animate({
                                    bottom: -40
                                }, 200, 'easeInQuad');
                                $(this).find('img').stop().animate({
                                    top: 0
                                }, 300, 'easeOutQuad');
                            }
                    );

                }

            };
            // Run the show!
            filterList.init();
        });
    </script>
</div>
<div class="container" style="padding: 2em 0 2em;">
    <div class="filter">
        <ul>
            <li style="list-style:none;">
                <span class="title">服务产品</span>
                <div class="cate">
                    <a href="parkserve_reg">工商服务</a>
                    <a href="parkserve_tax">财会税务</a>
                    <a href="parkserve_ipr">知识产权</a>
                    <a href="parkserve_law">法律服务</a>
                    <a href="parkserve_hr">人事社保</a>
                    <a href="parkserve_goverappro">行政审批</a>
                    <a href="parkserve_capital">资本运作</a>
                </div>
            </li>
            {% if name %}
                <li style="list-style:none;">
                    {% if name=="parkserve_reg" %}
                        <span class="title">工商服务</span>
                        <div class="cate">
                            <a href="#">注册公司</a>
                            <a href="#">公司变更</a>
                            <a href="#">公司年报</a>
                        </div>
                        {% elif name=="parkserve_tax" %}
                        <span class="title">财会税务</span>
                        <div class="cate">
                            <a href="#">税务服务</a>
                            <a href="#">代理记账</a>
                        </div>
                        {% elif name=="parkserve_ipr" %}
                        <span class="title">知识产权</span>
                        <div class="cate">
                            <a href="#">商标</a>
                            <a href="#">专利</a>
                            <a href="#">著作权</a>
                        </div>
                        {% elif name=="parkserve_law" %}
                        <span class="title">法律服务</span>
                        <div class="cate">
                            <a href="#">合同撰写</a>
                            <a href="#">合同审核</a>
                            <a href="#">合伙协议</a>
                            <a href="#">股权协议</a>
                            <a href="#">公司章程</a>
                            <a href="#">律师函</a>
                            <a href="#">法律维权</a>
                            <a href="#">法律顾问</a>
                        </div>
                        {% elif name=="parkserve_hr" %}
                        <span class="title">人事社保</span>
                        <div class="cate">
                            <a href="#">社保代缴</a>
                            <a href="#">社保开户</a>
                            <a href="#">公积金开户</a>
                        </div>
                        {% elif name=="parkserve_goverappro" %}
                        <span class="title">行政审批</span>
                        <div class="cate">
                            <a href="#">金融备案</a>
                            <a href="#">网络游戏</a>
                            <a href="#">增值电信</a>
                            <a href="#">影视电影</a>
                            <a href="#">道路运输</a>
                            <a href="#">食品饮料</a>
                            <a href="#">个护化妆</a>
                            <a href="#">图书音像</a>
                            <a href="#">餐饮美食</a>
                            <a href="#">母婴玩具</a>
                            <a href="#">医药保健</a>
                            <a href="#">旅游旅行</a>
                            <a href="#">进出口权</a>
                            <a href="#">双软高新</a>
                            <a href="#">管理体系认证</a>
                            <a href="#">网络营销</a>
                        </div>
                        {% elif name=="parkserve_capital" %}
                        <span class="title">资本运作</span>
                        <div class="cate">
                            <a href="#">投融资挂牌上市</a>
                        </div>
                        {% else %}
                        <!---->
                    {% endif %}
                </li>
                <!--script type="text/javascript">
                    $(function(){ $('.filter').find('.title').last().text($('.filter').find('.cur').last().text());})
                </script-->
            {% endif %}
        </ul>
    </div>
</div>

<!--内容-->
{% block block_servecontent %}
{% endblock %}
<!--内容-->
<!--页脚-->
{% block foot %}
    <script src="{{ url_for('.static', filename='index/head.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
    <footer>
        <!--div class="container-fluid" style="background:#ccc">
            <div class="col-index">
                <div class="row" style="padding:30px 0 15px">
                    <div class="col-xs-1 text-right">
                        <img src="{{ url_for('.static', filename='image/过程.png') }}">
                    </div>
                    <div class="col-xs-2" style="padding: 0; cursor: pointer" onclick="window.open('/aboutus')">
                        <h3 style="margin: 5px 0">过程保障</h3>
                        <p>环节清晰，全程可视化</p>
                    </div>
                    <div class="col-xs-1 text-right" >
                        <img src="{{ url_for('.static', filename='image/品质.png') }}">
                    </div>
                    <div class="col-xs-2"style="padding: 0; cursor: pointer" onclick="window.open('/aboutus')">
                        <h3 style="margin: 5px 0">品质保障</h3>
                        <p>专业审片功能，把控视频质量</p>
                    </div>
                    <div class="col-xs-1 text-right" >
                        <img src="{{ url_for('.static', filename='image/资金.png') }}">
                    </div>
                    <div class="col-xs-2"style="padding: 0; cursor: pointer" onclick="window.open('/aboutus')">
                        <h3 style="margin: 5px 0">资金保障</h3>
                        <p>平台监控，公正可靠</p>
                    </div>
                    <div class="col-xs-1 text-right">
                        <img src="{{ url_for('.static', filename='image/帮助.png') }}">
                    </div>
                    <div class="col-xs-2" style="padding: 0; cursor: pointer" onclick="window.open('/aboutus')">
                        <h3 style="margin: 5px 0">帮助中心</h3>
                        <p>您的操作指南</p>
                    </div>
                </div>
            </div>
        </div-->
        <div class="col-index" style="padding:40px 0 0">
            <div class="row" >
                <div class="col-xs-1" style="padding-right: 0">
                    <strong>友情链接</strong>
                </div>
                <div class="col-xs-8">
                    <ul class="footer-link">
                        <li><a href="http://www.iqiyi.com"  target="_blank">爱奇艺</a></li>
                        <li><a href="http://www.youku.com"  target="_blank">优酷</a></li>
                        <li><a href="http://www.wandafilm.com/" title="万达电影网" target="_blank" rseat="万达电影网">万达电影网</a></li>
                        <li><a href="http://www.hbstars.com/Default.shtml" title="华谊兄弟" target="_blank" rseat="华谊兄弟">华谊兄弟</a></li>
                        <li><a href="http://www.ixingmei.com/" title="星美" target="_blank" rseat="星美">星美</a></li>
                        <li><a href="http://www.ewang.com/" title="光线影业" target="_blank" rseat="光线影业">光线影业</a></li>
                        <li><a href="http://www.m1905.com/" title="电影网" target="_blank" rseat="电影网">电影网</a></li>
                        <li><a href="http://www.huacemedia.com/" title="华策影视" target="_blank" rseat="华策影视">华策影视</a></li>
                        <li><a href="http://www.b-cinema.cn/" title="百老汇" target="_blank" rseat="百老汇">百老汇</a></li>
                        <li><a href="http://video.baidu.com/index.html" title="百度视频" target="_blank" rseat="百度视频">百度视频</a></li>
                        <li><a href="http://baike.baidu.com/" title="百度百科" target="_blank" rseat="百度百科">百度百科</a></li>
                        <li><a href="http://www.hao123.com/" title="hao123" target="_blank" rseat="hao123">hao123</a></li>
                        <li><a href="http://open.baidu.com/coop/v.html" title="百度V计划" target="_blank" rseat="百度V计划">百度V计划</a></li>
                        <li><a href="http://www.cnrmobile.com/" title="央广视讯" target="_blank" rseat="央广视讯">央广视讯</a></li>
                        <li><a href="http://www.hualu.com.cn/" title="华录百纳" target="_blank" rseat="华录百纳">华录百纳</a></li>
                        <li><a href="http://tieba.baidu.com/index.html" title="百度贴吧" target="_blank" rseat="百度贴吧">百度贴吧</a></li>
                        <li><a href="http://iqiyi.tmall.com" title="爱奇艺天猫店" target="_blank" rseat="爱奇艺天猫店">爱奇艺天猫店</a></li>
                        <li><a href="http://www.znds.com/" title="智能电视网" target="_blank" rseat="智能电视网">智能电视网</a></li>
                    </ul>
                </div>
                <div class="col-xs-1">
                    <img src="/image/weixin_2.png">
                </div>
                <div class="col-xs-2">
                    <img src="/image/weixinCode.jpg" style="width: 75%; height: auto">
                </div>
            </div>
        </div>
        <hr style="border-color:#333">
        <div class="col-index row" style="padding-top: 20px">
            <div class="col-xs-8" style="padding:5px 0 0">
                <h4 style="font-size:15px;font-weight:700">
                    <a href="/sitemap" style="padding:0 10px 0 0">网站地图</a> |
                    <a href="/aboutus" style="padding:0 10px">关于我们</a> |
                    <a href="/contact" style="padding:0 10px">联系我们</a> |
                    <a href="/contact" style="padding:0 10px">使用条款</a> |
                    <a href="/contact" style="padding:0 10px">隐私政策</a>
                </h4>
            </div>
            <div class="col-xs-4 text-right">
                <p style="margin: 0">Copyright © 2015 Huiteng Inc. 保留所有权利</p>
                <p><small>京公安网安备 京ICP备14037622号</small></p>
            </div>
    </footer>
{% endblock %}
<!--页脚-->

</body>

</html>
