{% extends "park/parkservebase.html" %}
{% block block_servecontent %}
    <!--- 财税服务 --->
    <div id="ser-tax" class="ser-tax">
    <div class="head-section">
        <div class="container">
            <h3><span>财税</span><label>服务.</label></h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s1.jpg') }}" alt="...">
                    <p>一般纳税人企业代记账（30笔建账/月）</p>
                    <p>单价：<span>300~350元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s11.jpg') }}" alt="...">
                    <p>更换地税CA证书</p>
                    <p>单价：<span>200~300元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s12.jpg') }}" alt="...">
                    <p>国地税CA网上续费</p>
                    <p>单价：<span>120元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s13.jpg') }}" alt="...">
                    <p>银行开户许可证变更</p>
                    <p>单价：<span>500元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s14.jpg') }}" alt="...">
                    <p>开立基本账户</p>
                    <p>单价：<span>：670元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s15.jpg') }}" alt="...">
                    <p>进出口企业代理记账（外资30笔建帐/月）</p>
                    <p>单价：<span>2,000~2,500元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s16.jpg') }}" alt="...">
                    <p>外资代表处代理记账（外资30笔建帐/月）</p>
                    <p>单价：<span>800~850元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s17.jpg') }}" alt="...">
                    <p>小规模纳税人企业代理记账（外资30笔建帐/）</p>
                    <p>单价：<span>800~850元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s18.jpg') }}" alt="...">
                    <p>一般纳税人企业代理记账（30笔建账/月）</p>
                    <p>单价：<span>1,000~1,100元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s19.jpg') }}" alt="...">
                    <p>一般纳税人认定</p>
                    <p>单价：<span>1,500~3,500元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s1.jpg') }}" alt="...">
                    <p>小规模纳税人企业代理记账（外资30笔建帐/）</p>
                    <p>单价：<span>800~850元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s20.jpg') }}" alt="...">
                    <p>进出口企业代理记账（内资30笔建账/月）</p>
                    <p>单价：<span>2,000~2,500元</span></p>
                </a>
            </div>
        </div>
    </div>
    <!--- 财税服务 --->
{% endblock %}

