<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中传.汇腾线上文化创意园</title>
    <link href="{{ url_for('static', filename='css/park/bootstrap.css')}}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='park/jquery.min.js') }}"></script>
    <!-- Custom Theme files -->
    <link href="{{ url_for('static', filename='css/park/style.css')}}" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    </script>
    <!---- animated-css ---->
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/park/animate.css')}}"/>
            <script type="text/javascript" src="{{ url_for('static', filename='park/jquery.corner.js') }}"></script>
    <script src="{{ url_for('static', filename='park/wow.min.js') }}"></script>
    <script>
        new WOW().init();
    </script>
    <!---- animated-css ---->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="{{ url_for('static', filename='park/move-top.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='park/easing.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!---- start-smoth-scrolling---->
    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!----start-top-nav-script---->
    <script>
        $(function() {
            var pull = $('#pull');
            menu = $('nav ul');
            menuHeight = menu.height();
            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });
            $(window).resize(function() {
                var w = $(window).width();
                if (w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
    <!----//End-top-nav-script---->
</head>

<body>
<div class="bg">
    <!----- start-header---->
    <div class="container">
        <div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
            <div class="top-header">
                <div class="logo"><a href="index.html"><img src="{{ url_for('.static', filename='image/park/logo1.png') }}" style="height:40px;"/><span style="font-size:24px;margin-left:15px;">中传·汇腾线上文创园</span></a> </div>
                <!----start-top-nav---->
                <nav class="top-nav"  style="width:900px;margin-left:240px;">
                    <ul class="top-nav">
                        <li class="serve-a"><a href="#ser-regsiter" class="scroll">公司注册</a></li>
                        <li class="serve-a"><a href="#ser-tax" class="scroll">财税服务</a></li>
                        <li class="serve-a"><a href="#ser-chanq" class="scroll">知识产权</a></li>
                        <li class="page-scroll serve-a"><a href="#ser-fal" class="scroll">法律服务</a></li>
                        <li class="page-scroll serve-a"><a href="#ser-hr" class="scroll">人事社保</a></li>
                        <li class="page-scroll serve-a"><a href="#ser-xingz" class="scroll">行政审批</a></li>
                        <li class="page-scroll serve-a"><a href="#ser-zib" class="scroll">资本运作</a></li>
                    </ul>
                    <a href="#" id="pull"><img src="{{ url_for('.static', filename='image/park/nav-icon.png') }}" title="menu" /></a> </nav>
                <div class="clearfix"> </div>
            </div>
        </div>

    </div>
    <!----- //End-header---->
    <!---- banner-info ---->

    <!---- banner-info ---->

    <!--- portfolio ---->

    <!-- start-portfolio-script-->
    <script type="text/javascript" src="./js/jquery.mixitup.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var filterList = {
                init: function() {

                    // MixItUp plugin
                    // http://mixitup.io
                    $('#portfoliolist').mixitup({
                        targetSelector: '.portfolio',
                        filterSelector: '.filter',
                        effects: ['fade'],
                        easing: 'snap',
                        // call the hover effect
                        onMixEnd: filterList.hoverEffect()
                    });

                },
                hoverEffect: function() {
                    // Simple parallax effect
                    $('#portfoliolist .portfolio').hover(
                            function() {
                                $(this).find('.label').stop().animate({
                                    bottom: 0
                                }, 200, 'easeOutQuad');
                                $(this).find('img').stop().animate({
                                    top: -30
                                }, 500, 'easeOutQuad');
                            },
                            function() {
                                $(this).find('.label').stop().animate({
                                    bottom: -40
                                }, 200, 'easeInQuad');
                                $(this).find('img').stop().animate({
                                    top: 0
                                }, 300, 'easeOutQuad');
                            }
                    );

                }

            };
            // Run the show!
            filterList.init();
        });
    </script>
</div>
<div class="container" style="padding: 2em 0 2em;">
    <div class="filter">
        <ul>
            <li style="list-style:none;">
                <span class="title">服务产品</span>
                <div class="cate">
                    <a href="/parkserve_reg">工商服务</a>
                    <a href="parkserve_tax">财会税务</a>
                    <a href="parkserve_ipr">知识产权</a>
                    <a class="cur" href="parkserve_law">法律服务</a>
                    <a href="parkserve_hr">人事社保</a>
                    <a href="parkserve_goverappro">行政审批</a>
                    <a href="parkserve_capital">资本运作</a>
                </div>
            </li>
            <li style="list-style:none;">
                <span class="title">法律服务</span>
                <div class="cate">
                    <a href="#">合同撰写</a>
                    <a href="#">合同审核</a>
                    <a href="#">合伙协议</a>
                    <a href="#">股权协议</a>
                    <a href="#">公司章程</a>
                    <a href="#">律师函</a>
                    <a href="#">法律维权</a>
                    <a href="#">法律顾问</a>
                </div>
            </li>
            <script type="text/javascript">
                $(function(){ $('.filter').find('.title').last().text($('.filter').find('.cur').last().text());})
            </script>
        </ul>
    </div>
</div>
<!--- 公司注册 --->
<div id="ser-regsiter" class="ser-regsiter">
    <div class="head-section">
        <div class="container">
            <h3><span>公司
</span><label>注册.</label></h3>
        </div>
    </div>
    <div class="container">
        <div class="company">
            <ul>
                <li><a>
                    <span class="company-tit show">我要开公司</span>
  <span class="company-con show pb25">
<span class="company-ico show"><span class="show company-ico00 company-ico0"></span></span>
<span class="company-name show">内资公司注册</span>
<em>1</em>
<var>元起</var>
</span>
                </a></li>
                <li><a>
                    <span class="company-tit show">我想先给公司起名</span>
  <span class="company-con show pb25">
  <span class="company-ico show"><span class="show company-ico01 company-ico0"></span></span>
<span class="company-name show">内资公司注册</span>
<em>1</em>
<var>元起</var>
</span>
                </a></li>
                <li><a>
                    <span class="company-tit show">我要给公司核实</span>
  <span class="company-con show pb25">
  <span class="company-ico show"><span class="show company-ico02 company-ico0"></span></span>
<span class="company-name show">内资公司注册</span>
<em>100</em>
<var>元起</var>
</span>
                </a></li>
                <li><a>
                    <span class="company-tit show">我要变更公司信息</span>
  <span class="company-con show pb25">
  <span class="company-ico show"><span class="show company-ico03 company-ico0"></span></span>
<span class="company-name show">内资公司注册</span>
<em>300</em>
<var>元起</var>
</span>
                </a></li>
                <li><a>
                    <span class="company-tit show">我需要做年报</span>
  <span class="company-con show pb25">
  <span class="company-ico show"><span class="show company-ico04 company-ico0"></span></span>
<span class="company-name show">内资公司注册</span>
<em>400</em>
<var>元起</var>
</span>
                </a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>

    </div>

</div>
<!--- 公司注册 --->

<!--- 财税服务 --->
<div id="ser-tax" class="ser-tax">
    <div class="head-section">
        <div class="container">
            <h3><span>财税
</span><label>服务.</label></h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s1.jpg') }}" alt="...">
                    <p>一般纳税人企业代理记账（30笔建账/月）</p>
                    <p>单价：<span>300~350元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s11.jpg') }}" alt="...">
                    <p>更换地税CA证书</p>
                    <p>单价：<span>200~300元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s12.jpg') }}" alt="...">
                    <p>国地税CA网上续费</p>
                    <p>单价：<span>120元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s13.jpg') }}" alt="...">
                    <p>银行开户许可证变更</p>
                    <p>单价：<span>500元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s14.jpg') }}" alt="...">
                    <p>开立基本账户</p>
                    <p>单价：<span>：670元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s15.jpg') }}" alt="...">
                    <p>进出口企业代理记账（外资30笔建帐/月）</p>
                    <p>单价：<span>2,000~2,500元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s16.jpg') }}" alt="...">
                    <p>外资代表处代理记账（外资30笔建帐/月）</p>
                    <p>单价：<span>800~850元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s17.jpg') }}" alt="...">
                    <p>小规模纳税人企业代理记账（外资30笔建帐/）</p>
                    <p>单价：<span>800~850元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s18.jpg') }}" alt="...">
                    <p>一般纳税人企业代理记账（30笔建账/月）</p>
                    <p>单价：<span>1,000~1,100元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s19.jpg') }}" alt="...">
                    <p>一般纳税人认定</p>
                    <p>单价：<span>1,500~3,500元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s1.jpg') }}" alt="...">
                    <p>小规模纳税人企业代理记账（外资30笔建帐/）</p>
                    <p>单价：<span>800~850元</span></p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ url_for('.static', filename='image/park/s20.jpg') }}" alt="...">
                    <p>进出口企业代理记账（内资30笔建账/月）</p>
                    <p>单价：<span>2,000~2,500元</span></p>
                </a>
            </div>
        </div>

    </div>
    <!--- 财税服务 --->


    <!--- 知识产权 --->
    <div id="ser-chanq" class="ser-chanq">
        <div class="head-section">
            <div class="container">
                <h3><span>知识
</span><label>产权.</label></h3>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{{ url_for('.static', filename='image/park/s21.jpg') }}" alt="...">
                        <p>补办商标证书</p>
                        <p>单价：<span>1500元</span></p>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{{ url_for('.static', filename='image/park/s22.jpg') }}" alt="...">
                        <p>商标撤回申请</p>
                        <p>单价：<span>500元</span></p>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{{ url_for('.static', filename='image/park/s23.jpg') }}" alt="...">
                        <p>作品著作权变更</p>
                        <p>单价：<span>1,000元</span></p>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{{ url_for('.static', filename='image/park/s24.jpg') }}" alt="...">
                        <p>撤销三年不使用商标申请</p>
                        <p>单价：<span>2000元</span></p>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{{ url_for('.static', filename='image/park/s25.jpg') }}" alt="...">
                        <p>专利转让</p>
                        <p>单价：<span>1,000元</span></p>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{{ url_for('.static', filename='image/park/s26.jpg') }}" alt="...">
                        <p>专利权利恢复请求</p>
                        <p>单价：<span>1500元</span></p>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{{ url_for('.static', filename='image/park/s27.jpg') }}" alt="...">
                        <p>专利变更代理组织</p>
                        <p>单价：<span>50元</span></p>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{{ url_for('.static', filename='image/park/s28.jpg') }}" alt="...">
                        <p>专利变更</p>
                        <p>单价：<span>900元</span></p>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{{ url_for('.static', filename='image/park/s29.jpg') }}" alt="...">
                        <p>商标续展</p>
                        <p>单价：<span>2400元</span></p>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{{ url_for('.static', filename='image/park/s290.jpg') }}" alt="...">
                        <p>商标转让</p>
                        <p>单价：<span>2000元</span></p>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{{ url_for('.static', filename='image/park/s291.jpg') }}" alt="...">
                        <p>商标变更</p>
                        <p>单价：<span>900元</span></p>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{{ url_for('.static', filename='image/park/s292.jpg') }}" alt="...">
                        <p>商标注册（VIP）</p>
                        <p>单价：<span>899元</span></p>
                    </a>
                </div>
            </div>

        </div>
        <!--- 知识产权 --->

        <!--- 法律服务 --->
        <div id="ser-fal" class="ser-fal">
            <div class="head-section">
                <div class="container">
                    <h3><span>法律
</span><label>服务.</label></h3>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ url_for('.static', filename='image/park/s30.jpg') }}" alt="...">
                            <p>合同审核</p>
                            <p>单价：<span>599元</span></p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ url_for('.static', filename='image/park/s31.jpg') }}" alt="...">
                            <p>合同撰写</p>
                            <p>单价：<span>499元</span></p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ url_for('.static', filename='image/park/s32.jpg') }}" alt="...">
                            <p>合伙协议</p>
                            <p>单价：<span>799元</span></p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ url_for('.static', filename='image/park/s33.jpg') }}" alt="...">
                            <p>公司章程</p>
                            <p>单价：<span>988元</span></p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ url_for('.static', filename='image/park/s34.jpg') }}" alt="...">
                            <p>律师函</p>
                            <p>单价：<span>599元</span></p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ url_for('.static', filename='image/park/s35.jpg') }}" alt="...">
                            <p>法律顾问</p>
                            <p>单价：<span>999元</span></p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ url_for('.static', filename='image/park/s36.jpg') }}" alt="...">
                            <p>合同大礼包</p>
                            <p>单价：<span>3,000元</span></p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ url_for('.static', filename='image/park/s37.jpg') }}" alt="...">
                            <p>法律维权</p>
                            <p>单价：<span>2,000元</span></p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ url_for('.static', filename='image/park/s30.jpg') }}" alt="...">
                            <p>公司章程</p>
                            <p>单价：<span>988元</span></p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ url_for('.static', filename='image/park/s33.jpg') }}" alt="...">
                            <p>律师函</p>
                            <p>单价：<span>599元</span></p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ url_for('.static', filename='image/park/s32.jpg') }}" alt="...">
                            <p>合同审核</p>
                            <p>单价：<span>599元</span></p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{ url_for('.static', filename='image/park/s31.jpg') }}" alt="...">
                            <p>合同撰写</p>
                            <p>单价：<span>499元</span></p>
                        </a>
                    </div>
                </div>

            </div>
            <!--- 法律服务 --->


            <!--- 人事社保 --->
            <div id="ser-hr" class="ser-hr">
                <div class="head-section">
                    <div class="container">
                        <h3><span>人事
</span><label>社保.</label></h3>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="{{ url_for('.static', filename='image/park/s5.jpg') }}" alt="...">
                                <p>社保代缴</p>
                                <p>单价：<span>29.9元</span></p>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="{{ url_for('.static', filename='image/park/s50.jpg') }}" alt="...">
                                <p>社保开户</p>
                                <p>单价：<span>300元</span></p>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="{{ url_for('.static', filename='image/park/s51.jpg') }}" alt="...">
                                <p>公积金开户</p>
                                <p>单价：<span>300元</span></p>
                            </a>
                        </div>
                    </div>

                </div>
                <!--- 人事社保 --->

                <!--- 行政审批 --->
                <div id="ser-xingz" class="ser-xingz">
                    <div class="head-section">
                        <div class="container">
                            <h3><span>行政
</span><label>审批.</label></h3>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="{{ url_for('.static', filename='image/park/s60.jpg') }}" alt="...">
                                    <p>高新技术企业认定</p>
                                    <p>单价：<span>30,000元</span></p>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="{{ url_for('.static', filename='image/park/s61.jpg') }}" alt="...">
                                    <p>国家强制性产品认证</p>
                                    <p>单价：<span>面议</span></p>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="{{ url_for('.static', filename='image/park/s62.jpg') }}" alt="...">
                                    <p>三位一体化体系认证</p>
                                    <p>单价：<span>9,000元</span></p>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="{{ url_for('.static', filename='image/park/s63.jpg') }}" alt="...">
                                    <p>ISO20000认证</p>
                                    <p>单价：<span>75,000元</span></p>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="{{ url_for('.static', filename='image/park/s64.jpg') }}" alt="...">
                                    <p>400电话</p>
                                    <p>单价：<span>1200元</span></p>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="{{ url_for('.static', filename='image/park/s65.jpg') }}" alt="...">
                                    <p>旅行社经营许可证</p>
                                    <p>单价：<span>面议</span></p>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="{{ url_for('.static', filename='image/park/s66.jpg') }}" alt="...">
                                    <p>道路运输经营许可证</p>
                                    <p>单价：<span>面议</span></p>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="{{ url_for('.static', filename='image/park/s67.jpg') }}" alt="...">
                                    <p>消毒产品生产企业卫生许可证</p>
                                    <p>单价：<span>面议</span></p>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="{{ url_for('.static', filename='image/park/s68.jpg') }}" alt="...">
                                    <p>危险化学品经营许可证</p>
                                    <p>单价：<span>面议</span></p>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="{{ url_for('.static', filename='image/park/s69.jpg') }}" alt="...">
                                    <p>化妆品卫生许可证</p>
                                    <p>单价：<span>面议</span></p>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="{{ url_for('.static', filename='image/park/s691.jpg') }}" alt="...">
                                    <p>互联网药品信息服务资格证</p>
                                    <p>单价：<span>面议</span></p>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="{{ url_for('.static', filename='image/park/s692.jpg') }}" alt="...">
                                    <p>餐饮服务许可证</p>
                                    <p>单价：<span>面议</span></p>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!--- 行政审批 --->

                    <!--- 资本运作 --->
                    <div id="ser-zib" class="ser-zib">
                        <div class="head-section">
                            <div class="container">
                                <h3><span>资本
</span><label>运作.</label></h3>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img src="{{ url_for('.static', filename='image/park/s7.jpg') }}" alt="...">
                                        <p>新三板挂牌</p>
                                        <p>单价：<span>面议</span></p>
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <a href="#" class="thumbnail">
                                        <img src="{{ url_for('.static', filename='image/park/s70.jpg') }}" alt="...">
                                        <p>新四板挂牌</p>
                                        <p>单价：<span>面议</span></p>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!--- 资本运作 --->

                        <!---- work-with-us-->
                        <div class="work-with-us text-center">
                            <div class="container">
                                <h4>想加入我们吗？</h4>
                                <p></p>
                                <a class="catch-me wow shake" data-wow-delay="0.3s" href="#">联系我们</a>
                            </div>
                        </div>
                        <!---- work-with-us---->
                        <!---- map ---->
                        <div id="contact" class="map">
                            <div class="map-location">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1667809.5405374563!2d-98.19684021195167!3d35.27017247326614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ac3911b1ac4f9d%3A0x5d1ccf33400aea48!2sOklahoma%2C+USA!5e0!3m2!1sen!2sin!4v1405178655430"> </iframe>
                            </div>
                            <div class="contact-info text-center wow fadeInLeft" data-wow-delay="0.3s">
                                <h4><span>中国传媒大学</span>文化创意园</h4>
                                <p><span class="map-icon1"> </span>地址：北京市朝阳区高碑店乡高井文化产业园</br>1号楼B座中国传媒大学文化创意园管委会</p>
                                <p><span class="map-icon2"> </span>邮箱：yqgwhfzb@163.com</p>
                                <p><span class="map-icon3"> </span>电话：010-85795050</p>
                            </div>
                        </div>
                        <!---- map ---->
                        <div class="clearfix"> </div>
                        <!--footer -->
                        <div class="footer text-center">
                            <div class="container">
                                <div class="footer-inner wow zoomIn" data-wow-delay="0.3s">
                                    <ul>
                                        <li>
                                            <a href="#"><img src="{{ url_for('.static', filename='image/park/footer-logo.png') }}" title="ruddy" /></a>
                                        </li>
                                        <li><a class="contact-me" href="#">联系我们</a></li>
                                    </ul>
                                </div>
                                <script type="text/javascript">
                                    $(document).ready(function() {
                                        /*
                                         var defaults = {
                                         containerID: 'toTop', // fading element id
                                         containerHoverID: 'toTopHover', // fading element hover id
                                         scrollSpeed: 1200,
                                         easingType: 'linear'
                                         };
                                         */

                                        $().UItoTop({
                                            easingType: 'easeOutQuart'
                                        });

                                    });
                                </script>
                                <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
                            </div>
                        </div>
                        <!---- footer --->
                    </div>
</body>

</html>
