<div class="container-fluid">
    <div class="col-index">
        <div class="container-fluid">
            <h2 style="margin:20px 0">&nbsp;</h2>
        </div>
        <div class="container-fluid" style="background:#fff;">
            <div class="col-xs-6" style="padding:20px;">
                <h4 style="margin:0 0 40px"><strong>账号登录</strong></h4>
                <div class="login-col">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li class="active">
                            <a class="" role="tab" data-toggle="tab" href="#domainUserLogin_panel">
                                <span class="glyphicon glyphicon-home"></span> <strong>企业登录</strong>
                            </a>
                        </li>
                        <li  id="normal_user_tab">
                            <a role="tab" data-toggle="tab" href="#userLogin_panel">
                                <span class="glyphicon glyphicon-user"></span><strong> 邮箱登录</strong>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content col-xs-12">
                        <div class="tab-pane fade" id="userLogin_panel">
                            <div class="row">
                                <div class="col-xs-3 text-center" style="padding:5px 0">
                                    邮箱
                                </div>
                                <div class="col-xs-9">
                                    <input id="normal_userName" type="email" name="username" class="form-control" placeholder="邮箱">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 text-center" style="padding:5px 0">
                                    密码
                                </div>
                                <div class="col-xs-9">
                                    <input id="normal_userPwd" type="password" name="password" class="form-control" placeholder="密码">
                                </div>
                            </div>
                            <div class="container-fluid">
                                <button class="btn btn-green login" id="userLogin" type="button" style="width:100%;margin:5px 0">登录</button>
                                <a href="/findpwd"><u>忘记密码了？</u></a>
                            </div>
                        </div>
                        <div class="tab-pane fade in active" id="domainUserLogin_panel">
                            <div class="row">
                                <div class="col-xs-3 text-right" style="padding:5px 0">
                                    企业登录名
                                </div>
                                <div class="col-xs-9">
                                    <input id="domain_name" type="email" class="form-control" placeholder="企业登录名">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 text-right" style="padding:5px 0">
                                    用户
                                </div>
                                <div class="col-xs-9">
                                    <input id="domain_userName" type="email" class="form-control" placeholder="成员名称" style="border-bottom:none">
                                </div>
                                <div class="col-xs-3 text-right" style="padding:5px 0">
                                    密码
                                </div>
                                <div class="col-xs-9">
                                    <input id="domain_userPwd" type="password" class="form-control" placeholder="密码" style="border-top:none">
                                </div>
                            </div>
                            <button class="btn btn-green login" type="button" id="domainLogin" style="width:100%">登录</button>
                        </div>
                    </div>
                </div>
                <div style="text-align: center">还没有帐号？一步完成<a href="register"><green> 注册 </green></a></div>
            </div>
            <div class="col-xs-6" style="padding: 0;height:361px;">
                <img src="{{ path }}" style="height:361px;width:100%">
            </div>
        </div>
    </div>
</div>
