<table class="table table-striped">
    <thead>
    <tr>
        <th>选择</th>
        <th>用户名</th>
        <th>所属家庭组</th>
    </tr>
    </thead>
    <tbody id="searchResult">
    {{each Users}}
    <tr>
        <td class="searchUser_id" style="display: none">{{$value.Id}}</td>
        <td class="searchUser_check"><input type="checkbox" {{ if $value.bChecked }}checked="checked"{{ /if }} name="user"></td>
        <td class="searchUser_userName">{{$value.NickName}}</td>
        <td class="searchUser_domainName">{{DomainName}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>