<div class="container col-xs-8" id="contractUser_replayBoard" style="margin-top:-15px;border-right:solid 1px #eee;">
</div>
<div class="container col-xs-4" style="margin-top:-15px;">
    <h3>通讯录</h3>
    <div class="container-fluid" style="margin:20px 0">
        <a class="list-group-item replyItem {{ if activeUser == -1 }}active{{ /if }}" value="-1">
            <img src="image/domain.png" class="img-circle" style="height:30px;">
            <span style="font-weight: bold"> 合同组用户</span>
        </a>
        <li class="list-group-item" style="background:#eee">
            <strong>对方用户</strong>
        </li>
        {{each data.ContractUserGroup as CUser}}
        {{ if data.DomainId != CUser.User.DomainId }}
        <a class="list-group-item replyItem {{ if activeUser == CUser.UserId }}active{{ /if }}" value="{{ CUser.UserId }}">
            <div class="container-fluid">
                <div class="col-xs-2">
                    <img src="{{ CUser.User.Domain.Portrait }}" class="img-circle" style="height:30px;width:30px;">
                </div>
                <div class="col-xs-10">
                    <p>姓名：{{CUser.User.NickName}}</p>
                    <p>来自：{{ CUser.User.Domain.CompanyName }}</p>
                    <p>备注：{{ CUser.Description }}</p>
                </div>
            </div>
        </a>
        {{ /if }}
        {{/each}}
        <li class="list-group-item" style="background:#eee">
            <strong>己方用户</strong>
        </li>
        {{each data.ContractUserGroup as CUser}}
        {{ if data.DomainId == CUser.User.DomainId }}
        <a class="list-group-item replyItem {{ if activeUser == CUser.UserId }}active{{ /if }}" value="{{ CUser.UserId }}">
            <div class="container-fluid">
                <div class="col-xs-2">
                    <img src="{{ CUser.User.Domain.Portrait }}" class="img-circle" style="height:30px;width:30px;">
                </div>
                <div class="col-xs-10">
                    <p>姓名：{{CUser.User.NickName}}</p>
                    <p>来自：{{ CUser.User.Domain.CompanyName }}</p>
                    <p>备注: {{ CUser.Description }}</p>
                </div>
            </div>
        </a>
        {{ /if }}
        {{/each}}
    </div>
</div>