<span class="glyphicon glyphicon-menu-left" id="backToConPage" title="回首页" style="cursor:pointer;font-size:30px;float:left;left:20px;top:5px"></span>
<div class="container">
    <ul id="contractTab" class="nav nav-tabs" role="tablist">
        <li id="roleSetting_tab" class="active">
            <a href="#contractPage" role="tab" data-toggle="tab" style="border:solid 1px #eee;">
                我的合同
            </a>
        </li>
        <div class="col-xs-3" style="float:right;padding: 0">
            <div class="input-group">
                <input type="text" class="form-control" id="search_content" placeholder="输入合同名称">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="search_contracts">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </ul>
    <div id="contractTab-content" class="tab-content">
        <div class="tab-pane fade in active" id="contractPage">
        </div>
    </div>
</div>