<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <h4 class="modal-title">支付合同押金</h4>
        </div>
        <div class="modal-body">
            <h4>正在进行支付流程</h4>
        </div>
        <div class="modal-footer">
            <button id="payConfirm_finish_btn" class="btn btn-info">支付完成</button>
            <button id="payConfirm_failed_btn" class="btn btn-info">支付遇到问题</button>
      </div>
    </div>
</div>