<div class="container-fluid">
    <h3 id="contract_add_dialog_title" style="margin:0;display: inline-block;">编辑合同</h3>
    <h5 style="display: inline-block;">&nbsp;&nbsp;&nbsp;<red>红色字体</red>内容为必填项</h5>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h4>完善合同细节</h4>
            <hr>
            <div class="input-group contract-edit" style="margin:10px auto">
                <label for="contractName" class="input-group-addon">合同名称</label>
                <input id="contractName" name="contractName" class="form-control" placeholder="" disabled>
            </div>
            <div class="input-group contract-edit" style="margin:10px auto">
                <label for="contract_type" class="input-group-addon"><red>需求类型</red></label>
                <input id="contract_type" name="contract_type" class="form-control" placeholder="视频的具体类型">
            </div>
            <div class="input-group contract-edit" style="margin:10px auto">
                <label for="contract_long" class="input-group-addon"><red>视频时长</red></label>
                <input id="contract_long" name="long" class="form-control" placeholder="请注明时长单位（mins/hour）">
            </div>
            <div class="input-group contract-edit" style="margin:10px auto">
                <label for="contract_format" class="input-group-addon"><red>视频画质</red></label>
                <input id="contract_format" name="format" class="form-control" placeholder="视频具体格式">
            </div>
            <div class="input-group contract-edit" style="margin:10px auto">
                <label for="contract_detail" class="input-group-addon"><red>合同正文</red></label>
                <textarea type="text" id="contract_detail" class="form-control" placeholder="内容" rows="4"></textarea>
            </div>
            <div class="input-group contract-edit" style="margin:10px auto">
                <label for="contract_scheme" class="input-group-addon"><red>制作方案</red></label>
                <textarea type="text" id="contract_scheme" class="form-control" placeholder="内容" rows="3"></textarea>
            </div>
            <div class="input-group contract-edit" style="margin:10px auto">
                <label for="contract_script" class="input-group-addon"><red>制作脚本</red></label>
                <textarea type="text" id="contract_script" class="form-control" placeholder="内容" rows="3"></textarea>
            </div>
            <div class="input-group contract-edit" style="margin:10px auto">
                <label class="input-group-addon">字幕要求</label>
                <input id="subtitle" name="subtitle" class="form-control" placeholder="例如：中文、英文等，若无具体要求可以留空">
            </div>
            <div class="input-group contract-edit" style="margin:10px auto">
                <label for="symbol" class="input-group-addon">角标要求</label>
                <input id="symbol" name="symbol" class="form-control" placeholder="角标要求">
            </div>
            <div class="input-group contract-edit" style="margin:10px auto">
                <label class="input-group-addon">配音要求 </label>
                <input id="voice" name="voice" class="form-control" placeholder="例如：中文、英文等，若无具体要求可以留空">
            </div>
            <div class="input-group contract-edit" style="margin:10px auto">
                <label for="gbm" class="input-group-addon">背景音乐</label>
                <input id="gbm" name="gbm" class="form-control" placeholder="背景音乐类型或主题">
            </div>
            <div class="input-group contract-edit" style="margin:10px auto">
                <label for="place" class="input-group-addon">拍摄要求</label>
                <input id="place" name="place" class="form-control" placeholder="如：拍摄地点，环境等">
            </div>
            <div class="input-group contract-edit" style="margin:10px auto">
                <label for="refer" class="input-group-addon">参考作品</label>
                <input id="refer" name="refer" class="form-control" placeholder="请给出参考视频的相关链接">
            </div>
        </div>
        <div class="col-xs-6">
            <h4>设置审核环节</h4>
            <hr>
            <div class="contract_segment">
                <div class="input-group" style="margin:10px 0">
                    <span class="input-group-addon" style="text-align: left">
                        <input type="checkbox" value="拍摄审核"> 拍摄审核
                    </span>
                    <div class="datecontrol">
                        <input class="scheme-check form-control" type="text" placeholder="截止日期"/>
                    </div>
                </div>
            </div>
            <p>制作商按照客户需求拍摄相关素材，如需审核这些素材，请勾选此环节</p>
            <div class="contract_segment">
                <div class="input-group" style="margin:10px 0">
                    <span class="input-group-addon" style="text-align: left">
                        <input type="checkbox" value="剪辑审核"> 剪辑审核
                    </span>
                    <div class="datecontrol">
                        <input class="script-check form-control" type="text" placeholder="截止日期"/>
                    </div>
                </div>
            </div>
            <p>制作商对素材进行分镜头编辑、剪辑，完成视频的初步编辑，如需审核该视频，请勾选此环节</p>
            <div class="contract_segment">
                <div class="input-group" style="margin:10px 0">
                    <span class="input-group-addon" style="text-align: left">
                        <input type="checkbox" value="包装审核"> 包装审核
                    </span>
                    <div class="datecontrol">
                        <input class="clip-check form-control" type="text" placeholder="截止日期"/>
                    </div>
                </div>
            </div>
            <p>制作商对完成粗编的视频进行后期特效处理，并生成完成度较高的视频，如需审核该视频，请勾选此环节</p>
            <div class="contract_segment">
                <div class="input-group" style="margin:10px 0">
                    <span class="input-group-addon" style="text-align: left">
                        <input type="checkbox" value="配音审核"> 配音审核
                    </span>
                    <div class="datecontrol">
                        <input class="final-check form-control" type="text" placeholder="截止日期"/>
                    </div>
                </div>
            </div>
            <p>制作商将在这个环节对视频进行配音，并生成配音后视频，如需审核该视频，请勾选此环节</p>
            <div class="contract_segment">
                <div class="input-group" style="margin:10px 0">
                    <span class="input-group-addon" style="text-align: left">
                        <input type="checkbox" value="成片审核" checked disabled><red> 成片审核</red>
                    </span>
                    <div class="datecontrol">
                        <input class="end-check form-control" type="text" placeholder="截止日期"/>
                    </div>
                </div>
            </div>
            <div class="input-group" style="margin:10px 0">
                <span class="input-group-addon" style="text-align: left">
                    <input type="checkbox" value="合同截止日期" checked disabled><red> 完成日期</red>
                </span>
                <div id="contract_deadline">
                    <input class="deadline-check form-control" type="text" placeholder="截止日期"/>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid" style="margin: 20px 0;">
        <div class="row">
            <div class="col-xs-6">
                <div class="has-success" style="display:inline-table;margin-bottom: 10px;">
                    <label for="contract_amount" class="input-group-addon" style="padding:0 33px"><red>制作价格(元)</red></label>
                    <input id="contract_amount" class="form-control" placeholder="价格/RMB"
                    onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                </div>
                <div class="has-success" style="display:inline-table">
                    <label for="contract_depositPercent" class="input-group-addon"><red> 押金比例 (0~100%) </red></label>
                    <input id="contract_depositPercent" class="form-control" placeholder="百分比"
                    onkeyup="if(isNaN(value))execCommand('undo'); if(value > 100)execCommand('undo');" onafterpaste="if(isNaN(value))execCommand('undo')">
                </div>
            </div>
            <div class="col-xs-6 text-center" style="padding: 15px 0">
                <button id="contract_add_commit" type="button" class="btn btn-lg btn-success">保存</button>
                <button id="contract_cancel_commit" type="button" class="btn btn-lg btn-danger">取消</button>
            </div>
        </div>
    </div>
</div>