<div class="container" style="border:solid 1px #aaa;background:#eee;border-radius: 5px; margin-top: 20px">
    <div class="col-xs-12" style="padding:20px;">
            <center>
            正在执行的制作合同<span style="color:#8AC007; font-size: 15px"><strong> {{ total }} </strong></span>个
            <button class="btn btn-sm btn-info" id="showContract"
            {{ if total == 0 }}
                disabled
            {{ /if }}>查看</button>
            </center>
        <hr style="border-color:#ccc">
        <div class="row">
            <div class="col-xs-6" style="border-right: solid 1px #ccc">
                <h4  class="text-center"> 新留言 <span class="glyphicon glyphicon-comment"></span></h4>
                {{ if logs.length == 0 }}
                <div style="text-align: center;min-height: 250px" class="col-md-12">
                    <h3 style="color: #aaaaaa">未有新留言</h3>
                </div>
                {{ else }}
                <div style="overflow:auto;overflow-x:hidden;min-height:250px; max-height:250px;margin-bottom: 20px">
                {{ each logs }}
                    {{ if $value.MsgType == 'reply' }}
                    <div class="container-fluid" style="margin-top: 10px">
                        <div class="col-md-12">
                            <h4 style="margin-top:0;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width: 90%">
                                [{{ $value.Title }}]
                                <span style="font-size: 10px" title="{{ $value.CreateTime | ParseTime }} : {{ $value.Msg }}">{{ $value.CreateTime | ParseTime }} : {{ $value.Msg }}</span>
                            </h4>
                            <button class="btn btn-sm btn-info viewSpeContract" style="position:absolute;top:-5px;right:20px" value="{{ $value.ResourceId }}">查看</button>
                        </div>
                    </div>
                    <hr style="border-color:#ccc">
                    {{ /if }}
                {{ /each }}
                </div>
                {{ /if }}
            </div>
            <div class="col-xs-6">
                <h4 class="text-center">环节状态变更 <span class="glyphicon glyphicon-bell"></span> </h4>
                {{ if logs.length == 0 }}
                <div style="text-align: center; min-height: 250px" class="col-md-12">
                    <h3 style="color: #aaaaaa">未有新通知</h3>
                </div>
                {{ else }}
                <div style="overflow: auto; overflow-x: hidden; min-height: 250px; max-height: 250px; margin-bottom: 20px">
                {{ each logs }}
                    {{ if $value.MsgType != 'reply' }}
                    <div class="container-fluid" style="margin-top: 10px">
                        <div class="col-md-12">
                            <h4 style="margin-top: 0; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width: 90%">
                                [{{ $value.Title }}]
                                <span style="font-size: 10px" title="{{ $value.CreateTime | ParseTime }} : {{ $value.Msg }}">{{ $value.CreateTime | ParseTime }} : {{ $value.Msg }}</span>
                            </h4>
                            <button class="btn btn-sm btn-info viewSpeContract" style="position: absolute; top: -5px; right: 20px" value="{{ $value.ResourceId }}">查看</button>
                        </div>
                    </div>
                    <hr style="border-color:#ccc">
                    {{ /if }}
                {{ /each }}
                </div>
                {{ /if }}
            </div>
        </div>
    </div>
</div>