<h4><strong>需求阶段留言记录</strong></h4>
<hr>
{{ if replys.errorCode }}
<h3>无留言</h3>
{{ else }}
<table class="table">
    <thead>
    </thead>
    <tbody>
    {{ each replys }}
    <tr>
        <td style="border: none">
            <div class="container-fluid" style="padding:10px;background:#f5f5f5;border:solid 1px #ccc">
                <div class="col-xs-1" style="padding:0">
                    <img src="{{$value.Publisher.Domain.Portrait}}" style="width:50px;height:50px;vertical-align:top;margin-right:10px;">
                </div>
                <div class="col-xs-11">
                    <small>{{$value.Publisher.NickName}}&nbsp&nbsp&nbsp{{$value.CreateTime | ParseTime}}</small>
                    <p>{{$value.Reply}}</p>
                </div>
            </div>
        </td>
    </tr>
    {{ /each }}
    </tbody>
</table>
{{ /if }}