<h2 id="contract-title">剪辑审核</h2>
<hr>
<div class="container-fluid segResponser_content" style="text-align: left">
</div>
<div class="container-fluid">
    <h3 style="color:#92410c;text-align:center;">审核素材</h3>
    <hr>
    <div class="cut_attachment_area"></div>
    <h3 style="color:#92410c;text-align:center;">审核日志</h3>
    <hr>
    <table class="table table-hover">
        <thead style="text-align:center;background-color: #F5F5F5;">
        <tr>
            <th class="col-md-1"><center>版本</center></th>
            <th class="col-md-2"><center>申请时间</center></th>
            <th class="col-md-3"><center>申请说明</center></th>
            <th class="col-md-2"><center>驳回时间</center></th>
            <th class="col-md-3"><center>驳回理由</center></th>
        </tr>
        </thead>
        <tbody style="text-align:center">
        {{ each }}
         <tr>
             <td style="text-align:center;background:#eee;line-height:40px;font-size: 20px;"> {{$index+1}} </td>
             {{if $value.ApplyTime}}
             <td>{{$value.ApplyTime | ParseTime}}</td>
             {{else}}
             <td>--</td>
             {{/if}}
             {{if $value.ApplyRemark}}
             <td>{{$value.ApplyRemark}}</td>
             {{else}}
             <td>--</td>
             {{/if}}
             {{if $value.RejectTime}}
             <td>{{$value.RejectTime | ParseTime}}</td>
             {{else}}
             <td>--</td>
             {{/if}}
             {{if $value.RejectRemark}}
             <td> {{$value.RejectRemark}} </td>
             {{else}}
             <td>--</td>
             {{/if}}
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>