<div class="col-xs-6" style="border-right: solid 1px #eee">
    <div class="row">
        {{if Status == 0}}
        {{if Requirement.RequirementAttachment!=undefined}}
        {{each Requirement.RequirementAttachment}}
        <div class="col-xs-3 text-center">
            {{if $value.Object.Type == 0}}
            <div class="cloud_object_image" style="background-image:url('../fileFolders/{{$value.Object.File.Path}}.jpg')">
            {{else if $value.Object.Type == 1}}
            <div class="cloud_object_image" style="background-image:url('../fileFolders/{{$value.Object.File.Path}}')">
            {{else}}
            <div class="cloud_object_image" style="background-image:url('image/text.png');" >
            {{/if}}
                {{if !IsService}}
                <a class="deleteAttachment requirement-object{{$value.Id}}" value="{{$value.Id}}" title="删除"style="position:absolute;width:25px; height:25px;right:0; cursor: pointer" hidden>
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="color:#CC0000 ;font-size:30px;"></span>
                </a>
                {{/if}}
                <a href="{{$value.ObjectId | downloadLink:$value.ShareId}}" class="requirement-object{{$value.Id}}" title="下载" style="position:absolute;left:0;" hidden>
                    <span class="glyphicon glyphicon-download" aria-hidden="true" style="color:#00CC66 ;font-size:30px;"></span>
                </a>
                <a class="requirement-object{{$value.Id}}" style="position:absolute;left:30%;margin:0px;" title="{{$value.Object.Name}}"
                onclick="
                    var strVideoRegex = '(mp4|mpg|mpeg|rp|rmvb|vod|mov|rm|flv)$';
                    var re = new RegExp(strVideoRegex);
                    if( re.test( '{{$value.Object.Name}}' )){
                        var download = '/cloud/downloadFile?DBToken={{#dbToken}}&Id={{$value.ObjectId}}';
                        $('#video_plugin').attr('src', download);
                        $('#video_title').text('{{$value.Object.Name}}');
                        $('#videoViewer').modal();
                    }else{
                        var strTxtRegex = '(txt)$';
                        var r = new RegExp(strTxtRegex);
                        if( r.test( '{{$value.Object.Name}}' )){
                            alert('请下载文档');
                        }else{
                            var download = '/cloud/downloadFile?DBToken={{#dbToken}}&Id={{$value.ObjectId}}';
                            $('#image_plugin').attr('src', download);
                            $('#image_title').text('{{$value.Object.Name}}');
                            $('#imageViewer').modal();
                        }
                    }
                    "
                hidden>
                    <span class="glyphicon glyphicon-play-circle" aria-hidden="true" style="color:#0099CC;font-size:50px;cursor:pointer"></span>
                </a>
            </div>
            <div class="cloud_object_text btn-group">
                <a href="{{$value.ObjectId | downloadLink:$value.ShareId}}" title="{{$value.Object.Name}}">
                    <span class="label label-primary">{{$value.Object.Name}}</span>
                </a>
            </div>
        </div>
        {{/each}}
        {{/if}}
        {{else}}
        {{each ContractAttachment}}
        {{if CustomerUserId == $value.ProviderUserId}}
        <div class="col-md-3" style="text-align: center;"
            onmouseover="$('.requirement-object{{$value.Id}}').show();"
            onmouseout="$('.requirement-object{{$value.Id}}').hide();">
            {{if $value.Object.Type == 0}}
            <div class="cloud_object_image" style="background-image:url('{{$value.Object.File.Path}}')">
            {{else if $value.Object.Type == 1}}
            <div class="cloud_object_image" style="background-image:url('{{$value.Object.File.Path}}')">
            {{else}}
            <div class="cloud_object_image" style="background-image:url('image/text.png')">
            {{/if}}
                {{if !IsService}}
                <a class="deleteAttachment requirement-object{{$value.Id}}" value="{{$value.Id}}" title="删除"style="position:absolute;width:25px; height:25px;right:0; cursor: pointer" hidden>
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="color:#CC0000 ;font-size:30px;"></span>
                </a>
                {{/if}}
                <a href="{{$value.ObjectId | downloadLink:$value.ShareId}}" class="requirement-object{{$value.Id}}" title="下载" style="position:absolute;left:0;" hidden>
                    <span class="glyphicon glyphicon-download" aria-hidden="true" style="color:#00CC66 ;font-size:30px;"></span>
                </a>
                <a class="requirement-object{{$value.Id}}" style="position:absolute;left:30%;margin:0px;" title="{{$value.Object.Name}}"
                onclick="
                    var strVideoRegex = '(mp4|mpg|mpeg|rp|rmvb|vod|mov|rm|flv)$';
                    var re = new RegExp(strVideoRegex);
                    if( re.test( '{{$value.Object.Name}}' )){
                        var download = '/cloud/downloadFile?DBToken={{#dbToken}}&Id={{$value.ObjectId}}';
                        $('#video_plugin').attr('src', download);
                        $('#video_title').text('{{$value.Object.Name}}');
                        $('#videoViewer').modal();
                    }else{
                        var strTxtRegex = '(txt)$';
                        var r = new RegExp(strTxtRegex);
                        if( r.test( '{{$value.Object.Name}}' )){
                            alert('请下载文档');
                        }else{
                            var download = '/cloud/downloadFile?DBToken={{#dbToken}}&Id={{$value.ObjectId}}';
                            $('#image_plugin').attr('src', download);
                            $('#image_title').text('{{$value.Object.Name}}');
                            $('#imageViewer').modal();
                        }
                    }
                    "
                hidden>
                    <span class="glyphicon glyphicon-play-circle" aria-hidden="true" style="color:#0099CC;font-size:50px;cursor:pointer"></span>
                </a>
            </div>
            <div class="cloud_object_text">
                <a href="{{$value.ObjectId | downloadLink:$value.ShareId}}"  title="{{$value.Object.Name}}">
                    <span class="label label-primary">{{$value.Object.Name}}</span>
                </a>
            </div>
        </div>
        {{/if}}
        {{/each}}
        {{/if}}
    </div>
</div>
<div class="col-md-6">
    <div class="row">
        {{each ContractAttachment}}
        {{if ServiceUserId == $value.ProviderUserId}}
        <div class="col-xs-3 text-center">
            {{if $value.Object.Type == 0}}
            <div class="cloud_object_image" style="background-image:url('../fileFolders/{{$value.Object.File.Path}}.jpg')">
            {{else if $value.Object.Type == 1}}
            <div class="cloud_object_image" style="background-image:url('../fileFolders/{{$value.Object.File.Path}}')">
            {{else}}
            <div class="cloud_object_image" style="background-image:url('image/text.png')">
            {{/if}}
            </div>
            <div class="cloud_object_text btn-group">
                <a href="{{$value.ObjectId | downloadLink:$value.ShareId}}" title="{{$value.Object.Name}}">
                    <span class="label label-primary">{{$value.Object.Name}}</span>
                </a>
                {{if IsService}}
                <small class="deleteAttachment requirement-object{{$value.Id}}" value="{{$value.Id}}" title="删除"style="cursor: pointer" >
                    删除
                </small>
                {{/if}}
                <small href="{{$value.ObjectId | downloadLink:$value.ShareId}}" class="requirement-object{{$value.Id}}" title="下载" >
                     下载 |
                </small>
                <small class="requirement-object{{$value.Id}}" title="{{$value.Object.Name}}"
                onclick="
                    var strVideoRegex = '(mp4|mpg|mpeg|rp|rmvb|vod|mov|rm|flv)$';
                    var re = new RegExp(strVideoRegex);
                    if( re.test( '{{$value.Object.Name}}' )){
                        var download = '/cloud/downloadFile?DBToken={{#dbToken}}&Id={{$value.ObjectId}}';
                        $('#video_plugin').attr('src', download);
                        $('#video_title').text('{{$value.Object.Name}}');
                        $('#videoViewer').modal();
                    }else{
                        var strTxtRegex = '(txt)$';
                        var r = new RegExp(strTxtRegex);
                        if( r.test( '{{$value.Object.Name}}' )){
                            alert('请下载文档');
                        }else{
                            var download = '/cloud/downloadFile?DBToken={{#dbToken}}&Id={{$value.ObjectId}}';
                            $('#image_plugin').attr('src', download);
                            $('#image_title').text('{{$value.Object.Name}}');
                            $('#imageViewer').modal();
                        }
                    }
                    ">
                    预览 |
                </small>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>

<div class="modal fade" id="videoViewer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 id="video_title" class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <video id="video_plugin" controls="controls" autoplay="autoplay" style="height: 320px;">
                    您的浏览器不支持 video 标签。
                </video>
            </div>
        </div>
    </div>
</div>

<!--图片标签-->
<div class="modal fade" id="imageViewer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 id="image_title" class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img id="image_plugin" style="max-wdith: 320px; max-height: 320px">
            </div>
        </div>
    </div>
</div>