<h2 id="contract-title" >{{Title}}</h2>
<!--
<p>
    {{ if Status==0 }}
    审核合同申请
    {{ /if }}
    {{if Status==1}}
    {{if IsService}}
    正在拟定合同中，拟定完成请申请确认
    {{else}}
    服务商正在拟定合同中，请等待
    {{/if}}
    {{ /if }}
    {{if Status==2}}
    {{if IsService}}
    等待需求方确认合同
    {{ else }}
    请确认合同详情
    {{ /if }}
    {{ /if }}
    {{if Status==3}}
    {{if IsService}}
    合同确认，等待付款
    {{ else }}
    合同确认，请您付款
    {{ /if }}
    {{ /if }}
    {{if Status==4}}
    合同已确认，正在执行
    {{ /if }}
    {{if Status==5}}
    合同已完成！
    {{ /if }}
</p>-->
<hr>
<div class="row" style="padding-top:20px;;margin-right:5px;">
    <div class="col-md-4" style="text-align: center">
        <img src="image/price.png" style="width:30%">
        <h4><black>定价</black></h4>
        <p>{{ #Amount }}.00元</p>
    </div>
    <div class="col-md-4" style="text-align: center">
        <img src="image/endTime.png" style="width: 30%">
        <h4><black>截至时间</black></h4>
        <p>{{Deadline | ParseTime}}</p>
    </div>
    <div class="col-md-4" style="text-align: center">
        <img src="image/friend.png" style="width: 30%">
        <h4><black>合作方</black></h4>
        <p>{{if !IsService}}{{ServiceUser.NickName}}
            {{ else }}{{ CustomerUser.NickName }}{{ /if }}</p>
    </div>
</div>
<div class="row"  style="margin: 20px 0">
    <h3 style="color:#92410c;text-align: center;"><strong>合同描述</strong></h3>
</div>
<hr>
<div class="row">
    <div class="row contract-detail-item">
        <div class="col-md-2 requirements-detail" align="center"><black>合同正文</black></div>
        <div class="col-md-10 requirements-detail requirements-detail_r">{{#Detail | htmlEncode}}</div>
    </div>
    <div class="row contract-detail-item">
        <div class="col-md-2 requirements-detail" align="center"><black>制作方案</black></div>
        <div class="col-md-10 requirements-detail requirements-detail_r">{{#Scheme | htmlEncode}}</div>
    </div>
    <div class="row contract-detail-item">
        <div class="col-md-2 requirements-detail" align="center"><black>制作脚本</black></div>
        <div class="col-md-10 requirements-detail requirements-detail_r">{{#Script | htmlEncode}}</div>
    </div>
    <div class="row contract-detail-item">
        <div class="col-md-2 requirements-detail" align="center"><black>押金比例</black></div>
        <div class="col-md-10 requirements-detail requirements-detail_r">{{#DepositPercent}}%</div>
    </div>
    <div class="row contract-detail-item">
        <div class="col-md-2 requirements-detail" align="center"><black>视频类型</black></div>
        <div class="col-md-10 requirements-detail requirements-detail_r">{{#Type}}</div>
    </div>
    <div class="row contract-detail-item">
        <div class="col-md-2 requirements-detail" align="center"><black>视频时长</black></div>
        <div class="col-md-10 requirements-detail requirements-detail_r">{{#Long}}</div>
    </div>
    <div class="row contract-detail-item">
        <div class="col-md-2 requirements-detail" align="center"><black>视频画质</black></div>
        <div class="col-md-10 requirements-detail requirements-detail_r">{{#Format}}</div>
    </div>
    {{ if Voice!='' }}
    <div class="row contract-detail-item">
        <div class="col-md-2 requirements-detail" align="center"><black>配音要求</black></div>
        <div class="col-md-10 requirements-detail requirements-detail_r">{{#Voice}}</div>
    </div>
    {{ /if }}
    {{ if Subtitle!='' }}
    <div class="row contract-detail-item">
        <div class="col-md-2 requirements-detail" align="center"><black>字幕要求</black></div>
        <div class="col-md-10 requirements-detail requirements-detail_r">{{#Subtitle}}</div>
    </div>
    {{ /if }}
    {{ if Gbm!=''}}
    <div class="row contract-detail-item">
        <div class="col-md-2 requirements-detail" align="center"><black>背景音乐</black></div>
        <div class="col-md-10 requirements-detail requirements-detail_r">{{#Gbm}}</div>
    </div>
    {{ /if }}
    {{ if Place!='' }}
    <div class="row contract-detail-item">
        <div class="col-md-2 requirements-detail" align="center"><black>拍摄要求</black></div>
        <div class="col-md-10 requirements-detail requirements-detail_r">{{#Place}}</div>
    </div>
    {{ /if }}
    {{ if Refer!='' }}
    <div class="row contract-detail-item">
        <div class="col-md-2 requirements-detail" align="center"><black>参考作品</black></div>
        <div class="col-md-10 requirements-detail requirements-detail_r">{{#Refer}}</div>
    </div>
    {{ /if }}
    {{ if Symbol!='' }}
    <div class="row contract-detail-item">
        <div class="col-md-2 requirements-detail" align="center"><black>角标要求</black></div>
        <div class="col-md-10 requirements-detail requirements-detail_r">{{#Symbol}}</div>
    </div>
    {{ /if }}
</div>
