<div class="row" style="margin-bottom:20px">
    <h3>
        <black>{{Title}}</black>
    </h3>
    {{ if IsService }}
        <span class="glyphicon glyphicon-link"></span>
        <span style="font-size:16px">
            提交方 &nbsp;&nbsp;<a href="/zone/{{ Publisher.Domain.Id }}" target="_blank">{{ Publisher.Domain.CompanyName }}</a>
        </span>
    {{ else }}
        <span class="glyphicon glyphicon-link"></span>
        <span style="font-size:16px">
            制作方 &nbsp;&nbsp;<a href="/zone/{{ ServiceUser.Domain.Id }}" target="_blank">{{ ServiceUser.Domain.CompanyName }}</a>
        </span>
    {{ /if }}
</div>
<div class="row">
    <div class="row contract-detail-item">
        <div class="col-xs-2 requirements-detail">具体描述</div>
        <div class="col-xs-10 requirements-detail_r">{{#Detail | htmlEncode}}</div>
    </div>
    <div class="row contract-detail-item">
        <div class="col-xs-2 requirements-detail">视频类型</div>
        <div class="col-xs-10 requirements-detail_r">{{#Type}}</div>
    </div>
    <div class="row contract-detail-item">
        <div class="col-xs-2 requirements-detail">时长</div>
        <div class="col-xs-10 requirements-detail_r">{{#Long}}</div>
    </div>
    <div class="row contract-detail-item">
        <div class="col-xs-2 requirements-detail">价格</div>
        <div class="col-xs-10 requirements-detail_r">{{#Amount}}元</div>
    </div>
    <div class="row contract-detail-item">
        <div class="col-xs-2 requirements-detail">交付时间</div>
        <div class="col-xs-10 requirements-detail_r">{{Deadline | ParseDate}}</div>
    </div>
    {{ if Refer!='' }}
    <div class="row contract-detail-item">
        <div class="col-xs-2 requirements-detail">参考作品</div>
        <div class="col-xs-10 requirements-detail_r">
            <a href={{Refer}} target="_blank">{{referName}}</a>
        </div>
    </div>
    {{ /if }}
    {{ if Scheme }}
    <div class="row contract-detail-item">
        <div class="col-xs-2 requirements-detail">视频方案</div>
        <div class="col-xs-10 requirements-detail_r">{{#Scheme}}</div>
    </div>
    {{ /if }}
    {{ if Format }}
    <div class="row contract-detail-item">
        <div class="col-xs-2 requirements-detail">视频画质</div>
        <div class="col-xs-10 requirements-detail_r">{{#Format}}</div>
    </div>
    {{ /if }}
    <div class="row contract-detail-item">
        <div class="col-xs-2 requirements-detail">脚本方案</div>
        <div class="col-xs-10 requirements-detail_r">{{#Script| htmlEncode}}</div>
    </div>
    <!--<div class="row contract-detail-item">
        <div class="col-xs-2 requirements-detail">字幕方案</div>
        <div class="col-xs-10 requirements-detail_r">{{#Subtitle | htmlEncode}}</div>
    </div>
    <div class="row contract-detail-item">
        <div class="col-xs-2 requirements-detail">配音方案</div>
        <div class="col-xs-10 requirements-detail_r">{{#Voice | htmlEncode}}</div>
    </div>
    <div class="row contract-detail-item">
        <div class="col-xs-2 requirements-detail">背景音方案</div>
        <div class="col-xs-10 requirements-detail_r">{{#Gbm | htmlEncode}}</div>
    </div>-->
    <div class="row contract-detail-item">
        <div class="col-xs-2 requirements-detail">押金比例</div>
        <div class="col-xs-10 requirements-detail_r">{{DepositPercent}}</div>
    </div>
    {{ if RequirementAttachment.length != 0 }}
    <div class="row">
        <hr>
        <h4 style="margin:20px 0 0"><strong>附件</strong></h4>
        <div class="container-fluid req_attachment_viewer" style="display:none"></div>
        <div class="row req_attachment_content">
            {{each RequirementAttachment}}
            <div class="col-xs-2 text-center">
                {{if $value.Object.Type == 0 || $value.Object.Type == 1}}
                <div class="cloud_object_image attachment_object" value="{{ $value.Id }}" style="background-image:url('{{$value.Object.File.Path}}')">
                {{else}}
                <div class="cloud_object_image attachment_object" value="{{ $value.Id }}" style="background-image:url('image/text.png')">
                {{/if}}
                </div>
                <div class="cloud_object_text ">
                    <p class="label label-primary" title="{{$value.Object.Name}}">
                        {{$value.Object.Name}}
                    </p>
                    <small class="download_attachment_object " title="下载" value="{{$value.Id}}"> 下载 </small>&nbsp;
                    {{ if !IsService }}
                    <small class="deleteAttachment " value="{{$value.Id}}" title="删除"> 删除</small>
                    {{ /if }}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{ /if }}
    <div class="row contract-detail-item" style="background-color: #f8f8f8">
        <div class="col-md-2 requirements-detail"><green>讨论区</green></div>
        <div class="col-md-10 requirements-detail_r" id="c-suggestion"></div>
    </div>
</div>