<div class="row" style="margin-bottom:10px">
    <h3><red>合同已完成。</red></h3>
</div>
<div class="row">
    <h4>感谢您使用网上流程完成项目。</h4>
    <p>您还可以通过平台分享您的视频；欢迎对平台提出意见和建议！</p>
    <div class="container-fluid">
        <h4><strong>制作评价</strong></h4>
        <hr>
        {{ if !IsService }}
            <p style="margin:20px 0; cursor: pointer">请评价：
            {{ if !req.Star }}
                {{ each star }}
                <span class="star glyphicon glyphicon-star-empty" style="cursor:pointer;font-size:16px;color:#CC0000" value="{{ $value+1 }}"></span>
                {{ /each }}
            {{ else }}
                {{ each star }}
                {{ if req.Star>$index }}
                <span class="star glyphicon glyphicon-star" style="font-size:16px;color:#CC0000" value="{{ $value+1 }}"></span>
                {{ else }}
                <span class="star glyphicon glyphicon-star-empty" style="font-size:16px;color:#CC0000" value="{{ $value+1 }}"></span>
                {{ /if }}
                {{ /each }}
            {{ /if }}
            </p>
            <div class="row">
                <div class="col-xs-1">
                    <img src="{{ req.Publisher.Domain.Portrait }}" style="width:54px;height:54px">
                </div>
                <div class="col-xs-11 ">
                    <textarea class="form-control" id="finish-comment">{{ req.Comment }}</textarea>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-green" id="submit-comment" style="float:right;margin:10px 0">评价</button>
                </div>
            </div>
        {{ else }}
            {{ if !req.Star }}
                尚无评价
            {{ else }}
                <p>
                    综合评分：
                    {{ each star }}
                        {{ if req.Star>$index }}
                        <span class="glyphicon glyphicon-star" style="font-size:16px;color:#CC0000"></span>
                        {{ else }}
                        <span class="glyphicon glyphicon-star-empty" style="font-size:16px;color:#CC0000"></span>
                        {{ /if }}
                    {{ /each }}
                </p>
                <div class="row">
                    <div class="col-xs-1">
                        <img src="{{ req.Publisher.Domain.Portrait }}" style="width:54px;height:54px">
                    </div>
                    <div class="col-xs-11 ">
                        <p>{{ req.Comment }}</p>
                    </div>
                </div>
            {{ /if }}
        {{ /if }}
    </div>
</div>
