<h3>留言板
    <button style="float:right" class="btn btn-success replyBtn">发送</button>
    <button style="float:right" class="btn btn-info refreshBtn">刷新</button>
</h3>
<table class="table">
    <tbody>
        <tr>
            <td style="padding:10px 0;border: none">
                <textarea class="form-control replyTextArea" placeholder="你可以在此留言"></textarea>
            </td>
        </tr>
    {{ each reply }}
        <tr>
            <td style="padding:5px 0;border: none">
                {{if UserId == $value.PublisherId}}
                <div class="container-fluid" style="padding:10px;background:#f5f5f5;border:solid 1px #ccc">
                    <div class="col-xs-1" style="padding:0">
                        <img src="{{$value.Publisher.Domain.Portrait}}" style="width:50px;height:50px;vertical-align:top;margin-right:10px;">
                    </div>
                    <div class="col-xs-11">
                        <small>{{$value.Publisher.NickName}}&nbsp&nbsp&nbsp{{$value.CreateTime | ParseTime}}</small>
                        <p>{{$value.Reply}}</p>
                    </div>
                </div>
                {{else}}
                <div class="container-fluid" style="padding:10px;background:#f5f5f5;border:solid 1px #ccc">
                    <div class="col-xs-1" style="padding:0">
                        <img src="{{$value.Publisher.Domain.Portrait}}" style="width:50px;height:50px;vertical-align:top;margin-right:10px;">
                    </div>
                    <div class="col-xs-11">
                        <small>{{$value.Publisher.NickName}}&nbsp&nbsp&nbsp{{$value.CreateTime | ParseTime}}</small>
                        <p>{{$value.Reply}}</p>
                    </div>
                </div>
                {{/if}}
            </td>
        </tr>
    {{ /each }}
    </tbody>
</table>