<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <h4 class="modal-title">添加用户</h4>
        </div>
        <div class="modal-body">
            <ul>
                <li>
                    <div class="input-group">
                        <input id="user_search_input" type="text" class="form-control" placeholder="查找已存在的用户">
                        <span id="user_search__btn" class="input-group-addon linkCursor">查找</span>
                    </div>
                    <div id="user_search_result" class="list-group">
                        <!--searchUserList.html 用户搜索结果模板-->
                    </div>
                </li>

            </ul>
        </div>
        <div class="modal-footer">
            <button id="user_search_commit" type="button" class="btn btn-primary">确定</button>
        </div>
    </div>
</div>