<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <h4 class="modal-title">选择环节负责人</h4>
        </div>
        <div class="modal-body">
            {{include 'template/contract/specifyResponser_list.html'}}
        </div>
        <div class="modal-footer">
            <button id="specifyResponser_commit" type="button" class="btn btn-primary">确定</button>
            <button id="specifyResponser_cancel" type="button" class="btn btn-primary">取消</button>
        </div>
    </div>
</div>