<div class="container-fluid attachmentArea">
    <div class="attachmentSelector_"></div>
    <div class="attachmentViewer_"></div>
    <div class="attachmentContainer_ container-fluid" class="row">
        {{ if bService }}
        <h3>尾款已支付，请提供成片供用户下载</h3>
        <h3>用户确认项目完成后，制作费用会自动转入你的平台账户中，请及时检查</h3>
        <h3>若对方未确认，平台将在 <red>15天</red> 后自动将制作费用转入你的账户</h3>
        {{ else }}
        <h3>成片已在下载区，请及时下载</h3>
        <h3>请在<red>15天</red> 内完成下载，若出现问题，请联系制作商</h3>
        <h3>下载后，请点击『确认成片』完成制作</h3>
        {{ /if }}
        <div class="panel panel-default">
            <div class="panel-heading" style="padding-left: 10px;">
                <span class="glyphicon glyphicon-cloud-download" style="text-align: left;">下载区</span>
                {{ if bService }}
                    <button class="btn btn-green addAttachment" value="{{ segment }}" style="margin:10px 0;float: right">添加成片</button>
                {{ /if }}
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    {{ each ContractAttachment }}
                    <div class="col-xs-3 text-center" value="{{ segment }}">
                        <div class="cloud_object_image attachment_object"
                             value="{{$value.Id}}"
                            {{if $value.Object.Type == 0 or $value.Object.Type == 1}}
                                style="background-image:url('{{$value.Object.File.Path}}')"
                            {{else}}
                                style="background-image:url('image/text.png')"
                            {{/if}}>
                        </div>
                        {{ if bService }}
                        <p style="text-align: center">
                            <small class="deleteAttachment attObj{{$value.Id}}" value="{{$value.Id}}">删除</small>
                        </p>
                        {{ else }}
                        <p style="text-align: center">
                            <small class="downloadAttachment attObj{{$value.Id}}" value="{{$value.Id}}" style="margin-right: 5px;">下载</small>
                            <small class="saveAttachment attObj{{$value.Id}}" value="{{$value.Id}}">保存到媒体库</small>
                        </p>
                        {{ endif }}
                    </div>
                    {{/each}}
                </div>
                <div class="col-xs-12 contractAttachments"></div>
            </div>
    </div>
</div>