<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <include file="public/head"/>
</head>
<body>

<div class="row">
    <div class="col-md-1" style="margin-left: 30px">
        <h3>管理日志</h3>
        <h5>(共{$count}条记录)</h5>
    </div>
    <div class="col-md-10" style="margin-top: 40px" >
    </div>
</div>
<div class="box"  style="margin-top: 40px">
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <table id="list-table" class="table table-bordered table-striped dataTable">
                    <thead>
                    <tr role="row">
                        <th>管理员ID</th>
                        <th>用户名</th>
                        <th>所属角色</th>
                        <th>操作内容</th>
                        <th>操作时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="data" item="vo" key="k" >
                        <tr role="row" >
                            <td>{$vo.admin_id}</td>
                            <td>{$vo.account}</td>
                            <td>{$vo.role}</td>
                            <td>{$vo.content}</td>
                            <td>{$vo.createtime}</td>
                            <td>
                                <a class="btn btn-primary" href=""><i class="fa fa-pencil"></i></a>

                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-left"></div>
            <div class="col-sm-6 text-right">{$page}</div>
        </div>
    </div>
</div>

</body>
</html>