<!--添加共享用户-->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <h4 class="modal-title">共享文件设置</h4>
        </div>
        <div class="modal-body">
            <div id="selectedDomains">
            </div>
            <ul>
                <li>
                    <p>-增加共享企业</p>
                    <div class="input-group">
                        <input id="share_domain_add_search_input" type="text" class="form-control" placeholder="查找企业(企业名称)">
                        <span id="share_domain_add_search_btn" class="input-group-addon linkCursor">查找</span>
                    </div>
                    <div id="share_domain_add_search_after" class="list-group">
                        <!--searchUserList.html 用户搜索结果模板-->
                    </div>
                </li>
                <li class="object_rightGroup">
                    <p>-选择操作权限</p>
                    <input id="share_domain_add_right_write" type="checkbox" name="right"><span>
                    <span class="glyphicon glyphicon-pencil"></span>写权利(删除、移动、复制)</span>
                    <input id="share_domain_add_right_download" type="checkbox" name="right"><span>
                    <span class="glyphicon glyphicon-download-alt"></span>下载</span>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button id="share_domain_add_commit" type="button" class="btn btn-primary">添加</button>
        </div>
    </div>
</div>