<!--添加共享用户-->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <h4 class="modal-title">添加共享用户</h4>
        </div>
        <div class="modal-body">
            <ul>
                <li>
                    <div class="input-group">
                        <input id="share_user_add_search_input" type="text" class="form-control" placeholder="查找用户(邮箱或域用户名)">
                        <span id="share_user_add_search_btn" class="input-group-addon linkCursor">查找</span>
                    </div>
                    <div id="share_user_add_search_after" class="list-group">
                        <!--searchUserList.html 用户搜索结果模板-->
                    </div>
                </li>
                <li class="object_rightGroup">
                    <input id="share_user_add_right_write" type="checkbox" name="right"><span>浏览</span>
                </li>
                <li class="object_rightGroup">
                    <input id="share_user_add_right_create" type="checkbox" name="right"><span>创建</span>
                </li>
                <li class="object_rightGroup">
                    <input id="share_user_add_right_delete" type="checkbox" name="right"><span>删除</span>
                </li>
                <li class="object_rightGroup">
                    <input id="share_user_add_right_download" type="checkbox" name="right"><span>下载</span>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button id="share_user_add_commit" type="button" class="btn btn-primary">添加</button>
        </div>
    </div>
</div>