<!--共享设置面板-->
<div id="share_setting_panel" class="functionalArea_panel container col-lg-12">
    <h4 class="page-header">共享设置
        <!--关闭按钮-->
        <a id="share_close" class="linkCursor" title="关闭"><img src="image/delete.png"/></a>
    </h4>
    <ul>
        <li><p>对象名：{{objectName}}</p></li>
        <li><p>所属云：{{spaceName}}</p></li>
        <li><p>可分配权限：浏览&nbsp
        {{if objectWrite}}
        写入&nbsp
        {{/if}}
        {{if objectCreate}}
        创建&nbsp
        {{/if}}
        {{if objectDelete}}
        删除&nbsp
        {{/if}}
        {{if objectDownload}}
        下载&nbsp
        {{/if}}
        {{if objectShare}}
        共享&nbsp
        {{/if}}</p></li>
    </ul>
    <h4 class="page-header">对象别名</h4>
    <input id="share_objectAliasName_input" type="text" class="form-control" placeholder="Alias Name">
    <!--tab页-->
    <ul class="nav nav-tabs" role="tablist">
        <li id="share_groupSetting_tab" class="active">
            <a href="#share_group_list" role="tab" data-toggle="tab">共享组</a>
        </li>
        <li id="share_userSetting_tab">
            <a href="#share_user_list" role="tab" data-toggle="tab">共享用户</a>
        </li>
        <a id="share_add" class="linkCursor" title="添加"><img src="image/add.png"/></a>
    </ul>
    <!--tab内容-->
    <div class="tab-content">
        <!--共享组内容-->
        <div class="tab-pane fade in active" id="share_group_list">
            <!--share_group.html模板-->
        </div>
        <!--共享用户内容-->
        <div class="tab-pane fade" id="share_user_list">
            <!--share_user.html模板-->
        </div>
    </div>
    <button id="share_settingCancel_btn" type="button" class="btn btn-primary">取消</button>
    <button id="share_settingDone_btn" type="button" class="btn btn-primary">完成</button>
</div>

<!--占位空间-->
<div style="height: 60px"></div>

<!--添加组标签-->
<div class="modal fade bs-example-modal-sm" id="share_group_add_dialog">
    <!--addGroupModal.html 模板-->
</div>

<!--修改组标签-->
<div class="modal fade bs-example-modal-sm" id="share_group_modify_dialog">
    <!--share_group_modify_dialog.html 模板-->
</div>

<!--添加用户到组标签-->
<div class="modal fade bs-example-modal-sm" id="share_groupUser_add_dialog">
    <!--share_groupUser_add_dialog.html 模板-->
</div>

<!--添加共享用户标签-->
<div class="modal fade bs-example-modal-sm" id="share_user_add_dialog">
    <!--share_user_add_dialog.html 模板-->
</div>

<!--修改共享用户标签-->
<div class="modal fade bs-example-modal-sm" id="share_user_modify_dialog">
    <!--share_user_modify_dialog.html 模板-->
</div>