<li>
    <div class="project_segment">
        <input type="checkbox" value="{{Value}}" {{Checked?'checked disabled':''}}>{{Remark}}
        <input  type="hidden" name="ContractSegmentId" value="{{ContractSegmentId}}">
        <div class="contract_segment_principal_user_selector">
                环节负责人：
                <input type="hidden" class="ContractSegmentPrincipalUserId">
                <div class="ContractSegmentPrincipalUser"></div>
                <button class="btn btn-primary contract_segment_principal_user_select_btn">选择</button>
        </div>
        <div class="datecontrol">
            <input class="form-control" type="text" placeholder="截止日期" value="{{Deadline}}"/>
            <div class="alert alert-warning"></div>
        </div>
    </div>
</li>