<div class="modal-dialog  modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <h4 class="modal-title" id="project_add_dialog_title">创建项目</h4>
        </div>
        <div class="modal-body">
            <ul>
                <li>
                    <div class="form-group">
                        <label for="project_title">标题</label>

                        <div class="input-group col-lg-12">
                            <input id="project_title" name="title" type="text" class="form-control col-lg-12"
                                   placeholder="标题" value="{{Title}}">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label for="project_detail">内容</label>

                        <div class="input-group col-lg-12">
                            <textarea id="project_detail" name="detail" class="form-control"
                                      placeholder="内容">{{Detail}}</textarea>
                        </div>
                    </div>
                </li>
                <li>
                    <label>项目负责人</label>
                    <input type="hidden" id="project_add_principal_user_id">

                    <div id="project_add_principal_user"></div>
                    <button class="btn btn-primary" id="project_add_principal_user_select_btn">选择</button>
                </li>
                <li>
                    <ul id="project_add_segment">
                        <li>项目环节：</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button id="project_add_commit" type="button" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>