<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head >
<body ontouchstart>
<div class="page-title"  >
    <h2><span>建议</span><a href="{:U('user/index')}" style="top: 30%;" class="arrow-left backpage"></a></h2>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body ontouchstart>
<style>
    /*span{*/
    /*float: right ;*/

    /*}*/
    /*p{*/
    /*font-size: 15px;*/
    /*padding: 3px*/
    /*}*/
    h1{
        font-size: 30px;
        padding: 12px;
    }
    /*li{*/
    /*list-style-type:none;*/
    /*border-bottom:1px solid #0c0c0c ;*/
    /*padding: 2px*/
    /*}*/
</style>

<div class="weui-panel__bd" style="margin-top: 15%;margin-bottom: 15%">
    <volist name="data" id="v">
        <a href="" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__bd">
                <h2 style="padding: 10px" class="weui-media-box__title">建议:{$v.content}</h2>


                <p style="padding: 10px"class="weui-media-box__desc" >时间:{$v.createtime}</p>
                <p style="padding: 10px" class="weui-media-box__desc">平台回复：{$v.reply}</p>


            </div>
        </a>
    </volist>
    <a href="__CONTROLLER__/addadvice" class="weui-btn weui-btn_primary" style="bottom: 0;position: fixed ;width: 100%">提交建议</a>

</div>



</body>

<script>
    $(document).ready(function () {

    });

</script>
</html>

</body>
</html>