<html>
<head>
	<meta charset="UTF-8">
	<include file="Public/head" />

	<!-- jQuery 2.1.4 -->

</head>

<body>



       <div class="row">
		   <div class="col-md-1" style="margin-left: 30px">
			   <h3>视频列表</h3>
			   <h5>(共{$count}条记录)</h5>
		   </div>
	   </div>

			<div class="box" style="margin-top: 2%">
				<a href="addvideo"><button type="button" class="btn btn-primary">添加视频</button></a>

				<div class="box-body">
					<div class="row">
						<div class="col-sm-12">
							<table id="list-table" class="table table-bordered table-striped dataTable">
								<thead>
								<tr role="row">
									<th>编号</th>
									<th>视频标题</th>
									<th>参与活动</th>

									<th>视频分类</th>
									<th>视频封面</th>
									<th>视频链接</th>
									<th>视频显示链接</th>
									<th>用户描述</th>
									<th>平台描述</th>
									<th>平台打分</th>
									<th>提交时间</th>
									<th>审核状态</th>
									<th>发布用户</th>
									<th>审核用户</th>

									<th>平台评价</th>

									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								<foreach name="data" item="vo" key="k" >
									<tr role="row" >
										<td>{$vo.video_id}</td>
										<td>{$vo.video_title}</td>
										<td>{$vo.activity_title}</td>

										<td>{$vo.video_category}</td>
										<td ><img src="{$Think.const.SHOW_URL}{$vo.image}" height="60" width="60"/></td>
										<td>{$vo.video_url}</td>
										<td>"{$vo.confirm_url}"</td>
										<td>{$vo.user_desc}</td>
										<td>{$vo.admin_desc}</td>
										<td>{$vo.score}</td>
										<td>{$vo.createtime}</td>
										<td>{$vo.check_status}</td>
										<td>{$vo.chatname}</td>
										<td>{$vo.admin_name}</td>

										<td>{$vo.admin_comment}</td>
										<td>
											<if condition="$vo.check_status == '正在审核' ">
												<a href="__CONTROLLER__/video_info?id={$vo.video_id}&act=pass" class="btn btn-success">通过</a>
												<a href="__CONTROLLER__/video_info?id={$vo.video_id}&act=refuse" class="btn btn-danger">拒绝</a>
												<else/>
												<a href="__CONTROLLER__/video_info?id={$vo.video_id}" class="btn btn-info">编辑</a>
                                                <if condition="$vo.publish_state eq 0 ">
                                                    <a> <button data-id="{$vo.video_id}" onclick="publish(this)" type="button" class="btn btn-success">发布</button></a>
                                                    <else />
                                                    <a> <button data-id="{$vo.video_id}" onclick="publish(this)" type="button" class="btn btn-danger">取消发布</button></a>
                                                </if>
											</if>



										</td>

									</tr>
								</foreach>
								</tbody>
								<tfoot>
								</tfoot>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 text-left"></div>
						<div class="col-sm-6 text-right">{$page}</div>
					</div>
				</div>
			</div>


</body>
<script>
    function publish(obj) {
        layer.confirm('确认发布？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.ajax({
                    type : 'post',
                    url :"__CONTROLLER__/publish",
                    data : {
                        video_id:$(obj).attr('data-id')},
                    dataType : 'text',
                    success : function(data){
                        console.log(data);
                        if(data){
                            layer.msg('操作成功', {icon: 1});
                            history.go(0);
                        }
                    }
                })
            }, function(index){
                layer.close(index);
                return false;// 取消
            }
        );
    }
//	layer.open({
//		type: 1,
//		skin: 'layui-layer-lan',
//		title:"确认",
//		btn:['确认','取消'],
//		content:
//		'<label>平台打分</label>' +
//		'<input  style="margin:20px" type="text" id="score" placeholder="5-10" value=""/>'+
//		'<label>平台评价</label>' +
//		'<input  style="margin:20px" type="text" id="admin_comment" placeholder="5-10" value=""/>'+
//		'<label>显示链接</label>' +
//		'<input  style="margin:20px" type="text" id="confirm_url" placeholder="5-10" value=""/>'+
//		'<label>平台描述</label>' +
//		'<input  style="margin:20px" type="text" id="admin_desc" placeholder="5-10" value=""/>'
//		,
//		yes: function(index,layero){
//			$.ajax({
//				type : 'post',
//				url : $(obj).attr('data-url'),
//				data : {act:$(obj).attr('data-act'),
//					id:$(obj).attr('data-id')},
//				dataType : 'text',
//				success : function(data){
//					if(data==1){
//						layer.closeAll();
//						layer.msg('操作成功', {icon: 1});
//						history.go(0);
//					}
//					else{
//						layer.msg(data, {icon: 2,time: 2000});
//					}
//				}
//			})
//		},
//		btn2: function(index,layero){
//		}
//	});

</script>
</html>