
	<div class="container-wrapper">
		<div class="main">
			<div class="signup">
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-6">
						<h1><red>欢迎您的加入！</red></h1>
						<h4>让我们用最好的方式，提供最佳的视频方案</h4>
						<hr>
                        <a class="btn signup_submit" name="signup_success" style="float:none" href="/">确认并跳转到主页</a>
					</div>
					<div col-md-4>
						<div class="signup_info">
							<h3>专享服务</h3>
							<h5>1. 全网寻找服务；</h5>
							<h5>2. 在线修改需求；</h5>
							<h5>3. 在线完成合同；</h5>
							<h5>4. 随时跟踪进度；</h5>
							<h5>5. 云端技术支持；</h5>
							
							<h3>服务须知</h3>
							<h5>我们的审核时限为24小时（工作日），遇法定节假日顺延。</h5>
							<h5>如您对企业用户注册有疑问，或有批量采购需求，</h5>
							<h5>请拨打企业专享热线：400-820-8820或<a>留言咨询。</a></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>