<div class="container-wrapper">
    <div class="main">
        <div class="signup">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-7">
                    <h1>加入我们</h1>
                    <h4>用最好方式</h4>
                    <h4>提供或寻找最佳的视频方案</h4>

                    <div class="signup" id="signup">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li class="active" id="signup_tab">
                                <a role="tab" data-toggle="tab" href="#company_panel">企业用户
                                </a>
                            </li>
                            <li>
                                <a role="tab" data-toggle="tab" href="#team_panel">个人团队</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="domain_panel">
                            <div class="tab-pane fade in active" id="company_panel">
                                <input type="" class="form-control domain_company" placeholder="公司名称" required=""
                                       autofocus="">
                                <input type="" class="form-control domain_id" placeholder="营业执照" required=""
                                       autofocus="">
                                <input type="" class="form-control domain_address" placeholder="公司地址" required=""
                                       autofocus="">
                                <input type="" class="form-control domain_man" placeholder="联系人姓名" required=""
                                       autofocus="">
                                <input type="" class="form-control domain_phone" placeholder="联系人电话" required=""
                                       autofocus="">
                                <div style="display: inline-block; float: left">
                                    <input type="file" id="company_file_upload">
                                </div>
                                <a style="float: left; margin-left: 20px"> 已上传证件：<div id="companyUploadedList"></div></a>
                                <div class="row">
                                    <h6>如果您想了解更多关于企业团队用户收费服务细则，请点击 <a href="">《企业/团队用户收费说明细则》</a></h6>
                                    <h5>我们会在<red><strong>24h</strong></red>之内反馈您的审核结果</h5>
                                </div>
                                <hr>
                                <button class="signup_submit">提交审核</button>
                            </div>
                            <div class="tab-pane fade" id="team_panel">
                                <input type="" class="form-control domain_company" placeholder="企业名称" required=""
                                       autofocus="">
                                <input type="" class="form-control domain_address" placeholder="企业地址" required=""
                                       autofocus="">
                                <input type="" class="form-control domain_id" placeholder="联系人身份证号" required=""
                                       autofocus="">
                                <input type="" class="form-control domain_man" placeholder="联系人姓名" required=""
                                       autofocus="">
                                <input type="" class="form-control domain_phone" placeholder="联系人电话" required=""
                                       autofocus="">
                                <div style="display: inline-block; float: left">
                                    <input type="file" id="team_file_upload">
                                </div>
                                <a style="float: left; margin-left: 20px"> 已上传证件：<div id="teamUploadedList"></div></a>
                                <div class="row">
                                    <h6>如果您想了解更多关于企业团队用户收费服务细则，请点击 <a href="">《企业/团队用户收费说明细则》</a></h6>
                                    <h5>我们会在
                                        <red><strong>24h</strong></red>
                                        之内反馈您的审核结果
                                    </h5>
                                </div>
                                <hr>
                                <button class="signup_submit">提交审核</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div col-md-4>
                    <div class="signup_info">
                        <h3>企业团队用户须知</h3>
                        <h5>1. 成为企业团队用户才可以提交视频制作业务；</h5>
                        <h5>2. 成为企业团队用户需先缴纳1000元押金；</h5>
                        <h5>3. 企业团队用户注销时会退还1000元押金到联系人账户。</h5>

                        <h3>服务须知</h3>
                        <h5>我们的审核时限为24小时（工作日），遇法定节假日顺延。</h5>
                        <h5>如您对企业用户注册有疑问，或有批量采购需求，</h5>
                        <h5>请拨打企业专享热线：400-820-8820或<a>留言咨询。</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>