<div class="main">
    <div class="signup">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-7">
                <h1><red>加入我们</red></h1>
                <h4>用最好方式</h4>
                <h4>提供或寻找最佳的视频解决方案</h4>
                <div class="signup" id="signup">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li class="active" id="signup_tab">
                            <a role="tab" data-toggle="tab" href="#usersignup_panel" >需求方
                            </a>
                        </li>
                        <li>
                            <a role="tab" data-toggle="tab" href="#domainUsersignup_panel">制作商</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="base_signup_panel">
                        <div class="tab-pane fade in active" id="usersignup_panel">
                            <input type="" class="form-control base_username" placeholder="邮箱">
                            <input type="password" class="form-control base_password" placeholder="密码" >
                            <input type="password" class="form-control base_password_again" placeholder="确认密码" >
                            <input type="" class="form-control base_identityCode" placeholder="输入验证码">
                            <button class="send_key">发送验证码</button>
                            <input type="checkbox" class="base_protocol">&nbsp;&nbsp;&nbsp;我已阅读完且完全同意<a href="#">《用户注册协议》</a>
                            <div id="message"></div>
                        </div>
                        <div class="tab-pane fade" id="domainUsersignup_panel">
                            <input type="" class="form-control base_username" placeholder="企业邮箱" required="" autofocus="">
                            <input type="password" class="form-control base_password" placeholder="密码" required="" autofocus="">
                            <input type="password" class="form-control base_password_again" placeholder="确认密码" required="" autofocus="">
                            <input type="" class="form-control base_identityCode" placeholder="邮箱验证码" required="" autofocus="">
                            <button class="send_key">发送验证码</button>
                            <input type="checkbox" class="base_protocol">&nbsp;&nbsp;&nbsp;我已阅读完且完全同意<a href="">《用户注册协议》</a>
                        </div>
                        <hr>
                        <button class="signup_submit">确认信息并注册</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="signup_info">
                    <h3>专享服务</h3>
                    <h5>1. 全网寻找服务；</h5>
                    <h5>2. 在线修改需求；</h5>
                    <h5>3. 在线完成合同；</h5>
                    <h5>4. 随时跟踪进度；</h5>
                    <h5>5. 云端技术支持；</h5>

                    <h3>服务须知</h3>
                    <h5>我们的审核时限为24小时（工作日），遇法定节假日顺延。</h5>
                    <h5>如您对企业用户注册有疑问，或有批量采购需求，</h5>
                    <h5>请拨打企业专享热线：010-85388138<a>留言咨询。</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="main">
        <div style="margin:10px auto">
            <img src="image/logo.png" style="height:30px;"> | <span style="margin:0 10px">jianpianzi.com</span>
        </div>
        <div class="container"  style="padding:0 0 20px 0;margin:0 auto 20px auto;border-bottom: solid 1px #e3e3e3">
            <div class="col-md-3">
                <p><h5 onclick="$().GoToUrl('/storagePage')"><strong>媒体云</strong></h5></p>
                <p onclick="$().GoToUrl('/storagePage');$('#0').click()">我的云</p>
                <p onclick="$().GoToUrl('/storagePage');$('#1').click()">他人分享</p>
                <p onclick="$().GoToUrl('/storagePage');$('#2').click()">我的分享</p>
            </div>
            <div class="col-md-3">
                <p><h5><strong>交易平台</strong></h5></p>
                <p onclick="$().GoToUrl('/requirementPage')">我的需求</p>
                <p onclick="$().GoToUrl('/requirementPage')">寻找分享</p>
                <p onclick="$().GoToUrl('/contractPage')">合同状态</p>
            </div>
            <div class="col-md-3">
                <p><h5 onclick="$().GoToUrl('/UpdataPage')"><strong>后台管理</strong></h5></p>
                <p onclick="$().GoToUrl('/UpdataPage');$('#gotoUserSettingPage').click();">家庭组</p>
                <p onclick="$().GoToUrl('/UpdataPage');$('#extend').click();">空间扩容</p>
                <p onclick="$().GoToUrl('/UpdataPage');$('#Money').click();">账户充值</p>
                <p onclick="$().GoToUrl('/UpdataPage');$('#ShowWall').click();">分享精彩</p>
            </div>
            <div class="col-md-3">
                <p ><h5 onclick="$().GoToUrl('/UserInfoPage')"><strong>账号信息</strong></h5></p>
                <p onclick="$().GoToUrl('/UserInfoPage');$('#Info').click()">个人信息</p>
                <p onclick="$().GoToUrl('/UserInfoPage');$('#Safe').click()">安全设置</p>
            </div>
        </div>
    </div>

    <div class="main" style="margin-bottom: 40px">
        <div class="row">
            <div class="col-md-5" align="left">
                <div class="col-md-8" align="right">
                    <h4> 二维码扫描<br>移动端登录</h4>
                </div>
                <div class="col-md-3">
                    <img src="image/2dcode.png" style="height:80px;"/>
                </div>
            </div>
            <div class="col-md-7" style="margin:20px 0;">
                <div class="col-md-3"></div>
                <div class="col-md-2" style="padding-left:5px;height:30px;border-right: solid 1px #34495e">
                    <a id="icon-weibo" href="http://weibo.com/1631941987/profile" target="_blank"></a>
                </div>
                <div class="col-md-2" style="height:30px;border-right: solid 1px #34495e">
                    <a id="icon-weixin" href="#" title="QQ:529450714"></a>
                </div>
                <div class="col-md-2" style="height:30px;">
                    <a id="icon-qq" href="#" title="QQ:529450714"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="main" align="center" style="margin:10px auto">
        <h5>© Huiteng 2015 服务中心 | 关于我们 | 版权申明 | 版本更新 | 帮助中心 | 问题反馈</h5>
        <h6>Copyright CN All Rights Reserved 京ICP证 号 京公网安备 号 </h6>
    </div>
</footer>
