<div class="container-wrapper">
    <div class="main">
        <div class="signup">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    <h1><red>您已通过审核。</red></h1>
                    <h1><red>欢迎您的团队加入！</red></h1><br>
                    <h4>让我们用最好的方式，提供最佳的视频方案</h4>
                    <hr>
                    <a href="">
                        <button class="signup_submit">确认并支付押金</button>
                    </a>
                </div>
                <div col-md-4>
                    <div class="signup_info">
                        <h3>企业团队用户须知</h3>
                        <h5>1. 成为企业团队用户才可以提交视频制作业务；</h5>
                        <h5>2. 成为企业团队用户需先缴纳1000元押金；</h5>
                        <h5>3. 企业团队用户注销时会退还1000元押金到联系人账户。</h5>

                        <h3>服务须知</h3>
                        <h5>我们的审核时限为24小时（工作日），遇法定节假日顺延。</h5>
                        <h5>如您对企业用户注册有疑问，或有批量采购需求，</h5>
                        <h5>请拨打企业专享热线：400-820-8820或<a>留言咨询。</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../script/require/require.min.js" data-main="../script/main.js"></script>