<!--20160804 不用了-->
<div class="view-btn" style="margin-top: 20px; cursor: pointer" value="{{ reqId }}">
    <div class="container-fluid" id={{"requireDetail_" + reqId}}>
        <div class="col-xs-8" style="border-right:solid 1px #eee; min-height: 400px">
            <div class="row">
                <h3 id="requirement-title" class="req-title"
                    title="{{ Title }}"
                    style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
                    <black>{{Title}}</black>
                    {{ if IsEditable & !IsService }}
                    <a href="javascript:void(0)" id="edit-btn" style="font-size: 13px">[编辑需求]</a>
                    {{ /if }}
                </h3>
                <hr>
                <p style="margin-bottom:10px">
                    {{ if CurSegment.Identity == 'draft' }}
                    [草稿]
                    {{ else if CurSegment.Identity == 'publish' }}
                    [{{CreateTime | ParseDate}} 提交]
                    {{ /if }}
                </p>
                {{ if IsService }}
                <p>
                    提交方：<a href="/zone/{{ Publisher.Domain.Id }}" target="_blank">{{ Publisher.Domain.CompanyName }}</a>
                    &nbsp&nbsp 联系电话：{{ Publisher.CellPhone }}
                </p>
                {{ /if }}
            </div>
            <div class="row">
                <div class="row contract-detail-item">
                    <div class="col-md-2 requirements-detail"><black>具体描述</black></div>
                    <div class="col-md-10 requirements-detail_r">{{Detail | htmlEncode}}</div>
                </div>
                <div class="row contract-detail-item">
                    <div class="col-md-2 requirements-detail"><black>预计时长</black></div>
                    <div class="col-md-10 requirements-detail_r">{{Long}}分钟</div>
                </div>
                <div class="row contract-detail-item">
                    <div class="col-md-2 requirements-detail"><black>价格预算</black></div>
                    <div class="col-md-10 requirements-detail_r">{{Amount}}元</div>
                </div>
                <div class="row contract-detail-item">
                    <div class="col-md-2 requirements-detail"><black>交付时间</black></div>
                    <div class="col-md-10 requirements-detail_r">{{Deadline | ParseDate}}</div>
                </div>
                {{ if Refer!='' }}
                <div class="row contract-detail-item">
                    <div class="col-md-2 requirements-detail"><black>参考作品</black></div>
                    <div class="col-md-10 requirements-detail_r">
                        <a href={{Refer}} target="_blank">{{referName}}</a>
                    </div>
                </div>
                {{ /if }}
                {{ if RequirementAttachment.length != 0 }}
                <div class="row contract-detail-item">
                    <div class="col-md-2 requirements-detail">附件</div>
                    <div class="col-md-10 requirements-detail_r">
                        <div class="container-fluid req_attachment_viewer" style="display:none"></div>
                        <div class="req_attachment_content row">
                            {{each RequirementAttachment}}
                            <div class="text-center {{ if IsService }}col-xs-3{{ else }}col-xs-2{{ /if }}">
                                {{if $value.Object.Type == 0 || $value.Object.Type == 1}}
                                <div class="cloud_object_image attachment_object" value="{{ $value.Id }}" style="background-image:url('{{$value.Object.File.Path}}')">
                                    {{else}}
                                    <div class="cloud_object_image attachment_object" value="{{ $value.Id }}" style="background-image:url('image/text.png')">
                                        {{/if}}
                                    </div>
                                    <div class="cloud_object_text ">
                                        <p class="label label-primary" title="{{$value.Object.Name}}">
                                            {{$value.Object.Name}}
                                        </p>
                                        <small class="download_attachment_object attachment_operate" title="下载" value="{{$value.Id}}"> 下载 </small>&nbsp;
                                        {{ if !IsService }}
                                        <small class="deleteAttachment attachment_operate" value="{{$value.Id}}" title="删除"> 删除</small>
                                        {{ /if }}
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{ /if }}
                    {{ if IsService }}
                    <hr>
                    <div class="row contract-detail-item">
                        <div class="col-md-2 requirements-detail">讨论区</div>
                        <div class="col-md-10 requirements-detail_r" id="suggestion"></div>
                    </div>
                    {{ /if }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-----制作商方案------->
<div class="view-btn" style="margin-top: 20px; cursor: pointer" value="{{ reqId }}">
    <div class="container-fluid">
        <div class="col-xs-8">
            {{ if IsService }}
            {{ if !IsFollower }}
            <div style="text-align: center">
                <h3 class="req-title" style="color:#999">尚未申请该需求</h3>
                <hr>
                <button class="btn btn-success" id="followerReqBtn">即刻申请</button>
            </div>
            {{ else }}
            <h3 class="req-title" style="{{ if IsDeny }}color: #a9302a{{ else }}color: #398439{{ /if }}">
                {{ if IsDeny }}
                <span class="glyphicon glyphicon-info-sign"></span> 用户取消了您的申请
                {{ else }}
                <span class="glyphicon glyphicon-ok-sign"></span> 已申请
                {{ /if }}
                {{ if IsDeny }}
                <button class="btn btn-warning" id="cancelFollowerReqBtn" style="position: absolute; right: 20px; top: 5px">
                    确定
                </button>
                {{ else }}
                {{ each follower }}
                {{ if $value.Status }}
                <button class="btn btn-default" style="float: right">等待客户支付押金</button>
                {{ else }}
                <button class="btn btn-info" id="applySchemeBtn" style="float: right">申请押金</button>
                <button class="btn btn-success" id="editSchemeBtn" style="float: right">编辑方案</button>
                <button class="btn btn-primary" id="chatScheme" style="float: right">洽谈</button>
                {{ /if }}
                <button class="btn btn-warning" id="cancelSchemeBtn" style="display: none; float: right">取消</button>
                <button class="btn btn-success" id="saveSchemeBtn" style="display: none; float: right">保存方案</button>
                {{ /each }}
                {{ /if }}
            </h3>
            <hr>
            {{ each follower }}
            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>画面类型</black></div>
                <div class="col-xs-9 contract-detail_r">{{$value.Format}}</div>
                <div class="contract-detail_e">
                    <input id="requirement_format" class="form-control" placeholder="如：视频、2D动画、3D动画" value="{{ $value.Format }}">
                </div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>实现方案</black></div>
                <div class="col-xs-9 contract-detail_r">{{$value.Script | htmlEncode}}</div>
                <div class="contract-detail_e">
                    <textarea id="contract_script" class="form-control"  style="min-height: 150px" placeholder="· 策划方案
· 脚本镜头方案
· 字幕方案
· 配音配乐方案">{{ $value.Script }}</textarea>
                </div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>时间长度</black></div>
                <div class="col-xs-9 contract-detail_r">{{ if $value.Long }}{{ $value.Long }}分钟{{ else }}--{{ /if }}</div>
                <div class="contract-detail_e">
                    <input id="requirement_long" class="form-control" placeholder="单位（分钟)" value="{{ $value.Long }}">
                </div>
            </div>

            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail contract-detail_r" align="center">
                    <black>项目报价</black>
                    <span class="glyphicon glyphicon-triangle-bottom" style="cursor:pointer" onclick="$('#price_detail').slideToggle();"></span>
                </div>
                <div class="col-xs-9 contract-detail_r">{{ if $value.Amount == 0 }}--{{ else }}{{ $value.Amount }}元{{ /if }}</div>
            </div>
            <div class="container-fluid" id="price_detail" hidden>
                <div class="row contract-detail-item">
                    <div class="col-xs-3 contract-detail" align="center"><black>基础价格</black></div>
                    <div class="col-xs-9 contract-detail_r">{{ if $value.BasePrice == 0 }}--{{ else }}{{ $value.BasePrice }}元{{ /if }}</div>
                    <div class="contract-detail_e col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="basePrice" placeholder="单位：元" value="{{ $value.BasePrice }}"
                                   onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="row contract-detail-item">
                    <div class="col-xs-3 contract-detail" align="center"><black>内容策划</black></div>
                    <div class="col-xs-9 contract-detail_r">{{ if $value.SchemePrice == 0 }}--{{ else }}{{ $value.SchemePrice }}元{{ /if }}</div>
                    <div class="contract-detail_e col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="schemePrice" placeholder="单位：元" value="{{ $value.SchemePrice }}"
                                   onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="row contract-detail-item">
                    <div class="col-xs-3 contract-detail" align="center"><black>拍摄服务</black></div>
                    <div class="col-xs-9 contract-detail_r">{{ if $value.ShotPrice == 0 }}--{{ else }}{{ $value.ShotPrice }}元{{ /if }}</div>
                    <div class="contract-detail_e col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="shotPrice" placeholder="单位：元" value="{{ $value.ShotPrice }}"
                                   onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="row contract-detail-item">
                    <div class="col-xs-3 contract-detail" align="center"><black>演员模特</black></div>
                    <div class="col-xs-9 contract-detail_r">{{ if $value.ActorPrice == 0 }}--{{ else }}{{ $value.ActorPrice }}元{{ /if }}</div>
                    <div class="contract-detail_e col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="actorPrice" placeholder="单位：元" value="{{ $value.ActorPrice }}"
                                   onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="row contract-detail-item">
                    <div class="col-xs-3 contract-detail" align="center"><black>配音配乐</black></div>
                    <div class="col-xs-9 contract-detail_r">{{ if $value.MusicPrice == 0 }}--{{ else }}{{ $value.MusicPrice }}元{{ /if }}</div>
                    <div class="contract-detail_e col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="musicPrice" placeholder="单位：元" value="{{ $value.MusicPrice }}"
                                   onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
                <div class="row contract-detail-item">
                    <div class="col-xs-3 contract-detail" align="center"><black>后期制作</black></div>
                    <div class="col-xs-9 contract-detail_r">{{ if $value.AEPrice == 0 }}--{{ else }}{{ $value.AEPrice }}元{{ /if }}</div>
                    <div class="contract-detail_e col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="aePrice" placeholder="单位：元" value="{{ $value.AEPrice }}"
                                   onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>押金比例</black></div>
                <div class="col-xs-9 contract-detail_r">{{$value.DepositPercent}}%</div>
                <div class="contract-detail_e">
                    <input id="requirement_depositPercent" name="long" class="form-control" placeholder="单位：(0-100)百分比" value="{{ $value.DepositPercent }}"
                           onkeyup="if(isNaN(value))execCommand('undo');if(value > 100)execCommand('undo');" onafterpaste="if(isNaN(value))execCommand('undo')">
                </div>
            </div>
            <div class="row contract-detail-item">
                <div class="col-xs-3 contract-detail" align="center"><black>附件</black></div>
                <div id="follower_attachs" class="container-fluid"></div>
                <div class="contract-detail_e" style="text-align: center">
                    <div id="fa_object_tree"></div>
                    <button class="btn btn-default" id="add_follower_attach">添加附件</button>
                </div>
            </div>
            {{ /each }}
            {{ /if }}
            {{else}}
            {{ if SpecifyProducerNum }}
            <h3 class="req-title" style="text-align: center;">指定的制作商列表</h3>
            {{ else if followerCount }}
            <h3 class="req-title" style="text-align: center;"><green><strong>{{ followerCount }}</strong></green>家制作商申请</h3>
            {{ else }}
            <h3 class="req-title" style="text-align:center;color:#999">暂无制作商申请该需求</h3>
            {{ /if }}
            <hr>
            <div style="overflow-y: auto; overflow-x: hidden; max-height: 600px">
                {{ each producers }}
                <div id="specifyProducers" class="company-list">
                    <div class="col-company text-center" style="margin-top: 10px">
                        <div class="row producerHome" value="{{ $value.Id }}" style="cursor: pointer; padding:10px 15px 5px;background:#3a5795;color:#fff;">
                            <img src="{{ $value.Portrait }}">
                            <p><a style="font-size:15px;color:#fff"><strong>{{ $value.CompanyName }}</strong></a></p>
                        </div>
                        <p>
                            {{ if $value.followed }}
                            {{ if $value.applying }}
                        <p><green><span class="glyphicon glyphicon-ok-sign"></span></green> 对方向您申请支付押金</p>
                        {{ else }}
                        <p><green><span class="glyphicon glyphicon-ok-sign"></span></green> 对方已申请您的需求</p>
                        {{ /if }}
                        {{ else }}
                        <p style="color: #aaa"><span class="glyphicon glyphicon-dashboard"></span> 等待对方的申请</p>
                        {{ /if }}
                        <div class="container-fluid company-btn">
                            {{ if $value.followed }}
                            {{ if $value.applying }}
                            <a class="btn btn-default acceptReqProducer" value="{{ $value.Id }}">审核方案</a>
                            {{ else }}
                            <a class="btn btn-default acceptReqProducer" value="{{ $value.Id }}">洽谈</a>
                            {{ /if }}
                            {{ if !$value.applying }}
                            <a class="btn btn-default denyReqProducer" value="{{ $value.Id }}">婉拒</a>
                            {{ /if }}
                            {{ /if }}
                        </div>
                    </div>
                </div>
                {{ /each }}
            </div>
            {{ /if }}
        </div>
    </div>
</div>