<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="weui-cells" style="margin-top: 16%;">
    <h1 style="padding: 3%; ">课程标题：{$course.title}</h1>
    <h1 style="padding: 3%; ">子标题：{$course.subtitle}</h1>
    <h1 style="padding: 3%; ">主讲：{$course.speaker}</h1>
    <h1 style="padding: 3%; ">地点：{$course.address}</h1>
    <h1 style="padding: 3%; ">开课时间：{$course.starttime}</h1>
    <h1 style="padding: 3%; ">联系电话：{$course.phone}</h1>
    <h1 style="padding: 3%; ">签到次数：{$course.phone}</h1>
    <h1 style="padding: 3%; ">最新签到时间：{$course.phone}</h1>
    <h1 style="padding: 3%; ">凭证码：{$course.phone}</h1>

</div>
</body>
</html>