<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page-title"  >
    <h2><span>签到</span><a href="{:U('user/index')}" style="top: 30%;" class="arrow-left backpage"></a></h2>
</div>
<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">我的签到</div>

</div>
<div class="weui-panel__bd" style="margin-bottom: 20%">
    <volist name="data" id="v">
        <a  href="__CONTROLLER__/registerinfo?evidence_id={$v.evidence_id}" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="{$Think.const.SHOW_URL}{$v.image}">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">{$v.title}</h4>
                <p class="weui-media-box__desc" >凭证 ： {$v.evidence}</p>
                <p class="weui-media-box__desc"  style="text-align: end">已签到次数 ：{$v.use_count}</p>
                <p class="weui-media-box__desc" style="text-align: end" >最新签到时间{$v.createtime}</p>
            </div>
        </a >
    </volist>
</div>
<script>

</script>
</body>
</html>