<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="explanation" class="explanation" style=" background-color: #CAE1FF; max-height: 100%;max-width: 90%;min-height: 100px;word-wrap: break-word;">
    <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
        <h4 title="提示相关设置操作时应注意的要点">示范</h4>
    </div>
    <ul>
        <li>详细内容<br>
            {{first.DATA}}<br>
            学习内容：{{keyword1.DATA}}<br>
            完成进度：{{keyword2.DATA}}<br>
            开始时间：{{keyword3.DATA}}<br>
            {{remark.DATA}}<br>
            在发送时，需要将内容中的参数（{{.DATA}}内为参数）赋值替换为需要的信息<br>
        <li>内容示例</li>
        您好，您的孩子正在进行课程学习<br>
        学习内容：《凯文在春天》<br>
        完成进度：小有成就<br>
        开始时间：2016年5月1日<br>
        点击“互动跟读”陪孩子一起学习吧！
    </ul>
</div>
<form method="post" action="__SELF__" enctype="multipart/form-data"  style="margin-left: 10%" >


    <!--通用信息-->
    <div class="ncap-form-default tab_div_1" >

        <dl class="row">
            <dt class="tit">
                <label >内容一</label>
            </dt>
            <dd class="opt">
                <input type="text" value="{$data.title}"  placeholder="" name="1" />
                <span class="err" id="err_goods_name" style="color:#F00; display:none;"></span>
            </dd>
        </dl>
        <dl class="row">
            <dt class="tit">
                <label >内容二</label>
            </dt>
            <dd class="opt">
                <input  value="{$data.subtitle}" placeholder="" name="2" />
                <span id="err_goods_remark" class="err" style="color:#F00; display:none;"></span>
            </dd>
        </dl>

        <dl class="row">
            <dt class="tit">
                <label >内容三</label>
            </dt>
            <dd class="opt">
                <input  value="{$data.age_limit}"  placeholder=""  name="3" ></input>
                <span  class="err" style="color:#F00; display:none;"></span>
            </dd>
        </dl>

        <dl class="row">
            <dt class="tit">
                <label >内容四</label>
            </dt>
            <dd class="opt">
                <input type="text" value="{$data.price}" placeholder=""name="4" class="input-txt"/>
                <span class="err" style="color:#F00; display:none;"></span>
            </dd>
        </dl>
        <dl class="row">
            <dt class="tit">
                <label >内容五</label>
            </dt>
            <dd class="opt">
                <input type="text" value="" name="5" placeholder="" class="input-txt"/>
                <span class="err"  style="color:#F00; display:none;"></span>
            </dd>
        </dl>

    </div>

    <input type="submit" class="btn btn-info"   value="提交">



</form>

</body>
</html>