<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page-header" style="">
    <h1>回复用户消息<small>提示 <i class="fa fa-lightbulb-o"></i></small></h1>
</div>
<form method="post" action="__SELF__" enctype="multipart/form-data"  style="margin-left: 10%" >

    <!--通用信息-->
    <div class="ncap-form-default tab_div_1" >

        <dl class="row">
            <dt class="tit">
                <label >内容</label>
            </dt>
            <dd class="opt">
                <textarea type="text" value=""  placeholder="content" name="content"  rows="20" style="width: 400px"></textarea>
            </dd>
        </dl>

    </div>

    <input type="submit" class="btn btn-info"   value="提交">

</form>
<script>
    $(document).ready(function () {
        $('button').click(function () {
            $.confirm({
                title: '确认提交?',
                content: "确认",
                type: 'green',
                buttons: {
                    ok: {
                        text: "确认",
                        btnClass: 'btn-primary',
                        keys: ['enter'],
                        action: function () {
                            $('form').submit();
                        }
                    },
                    cancel: {
                        text: "取消",
                        btnClass: 'btn-danger',
                        keys: ['enter'],
                        action: function () {
                        }
                    }
                }
            });
        })
    })

</script>
</body>
</html>