<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>商影联盟</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'image/logo64.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-jcrop/0.9.12/css/jquery.Jcrop.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jqueryui/1.11.2/jquery-ui.min.css" />
    <link rel="stylesheet" href="//cdn.bootcss.com/jstree/3.1.0/themes/default/style.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='script/uploadify/uploadify.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
</head>
<body>
    <header id="login_header" style="background: #fff;height:80px;">
        <div class="container" style="display:table; top:16%">
            <div style="display: inline-block; z-index: 100">
                <a href="/">
                    <h3 style="margin:0"><img src="/image/logo.png" style="height:40px"/></h3>
                </a>
            </div>
            <div id="top_userzone" style="float:right" hidden>
                <div class="dropdown" style="cursor: pointer">
                    <a id="top_drop" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true" class="top-change-moudle dropdown-toggle" title="设置">
                        <p class="top_login" id="top_username" style="color: #69360e;"></p>&nbsp;
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="top_drop">
                        <li role="presentation" style="color: #69360e;text-align: center;"><a href="/session#/UpdataPage">管理中心</a></li>
                        <li role="presentation" style="color: #69360e;text-align: center;"><a href="/session#/UserInfoPage">我的设置</a></li>
                        <li role="presentation" style="color: #69360e;text-align: center;"><a id="top_collection">我的收藏</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" style="color: #69360e;text-align: center;"><a id="Logout"> 退 出 </a></li>
                    </ul>
                </div>
                <div style="display: inline-block">
                    <a id="top_management" href="/session#/requirementPage" style="color: #69360e;cursor:pointer;">&nbsp;&nbsp;&nbsp;需求管理&nbsp;&nbsp;&nbsp;</a>
                    <a id="top_videostore" href="/session#/storagePage" style="color: #69360e;cursor:pointer;">&nbsp;&nbsp;&nbsp;视频管理&nbsp;&nbsp;&nbsp;</a>
                    <div>
                    <a href="/session#/msgCenter" style="color: #69360e;cursor:pointer;">&nbsp;&nbsp;&nbsp;消息中心&nbsp;&nbsp;&nbsp;</a>
                        <span class="new-msgTip" style="font-size: 35px; position: absolute; top: -5px; right: 0"><red>&bull;</red></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-wrapper">
        <div id="pageContent" style="min-height:512px;background:#f2f2f2;overflow:hidden"></div>
        <div id="login_footer" class="container-fluid" style="background: #e2e2e2;">
            <div class="col-index">
                <hr style="border-color:#e3e3e3">
                <small>
                    <p><a href="/sitemap">网站地图</a> | <a href="/aboutus">关于我们</a> | <a href="/contact">联系我们</a> | 使用条款 | 隐私政策更新</p>
                    <p style="display:inline-block">Copyright © 2015 Huiteng Inc. 保留所有权利。</p>
                </small>
                <p style="display:inline-block;float:right"><small>京公安网安备 京ICP备14037622号</small></p>
            </div>
        </div>
    </div>

    <div id="top_msgalert" class="container" style="position: fixed; top: 0; z-index: 1000; cursor: pointer" hidden>
        <div class="col-xs-3"></div>
        <div class="col-xs-6" style="background-color: #3A7734; color: #eee; box-shadow: 0 0 10px #aaa">
            <h4><span class="glyphicon glyphicon-bullhorn">&nbsp&nbsp</span><span id="msg_text"></span></h4>
        </div>
        <div class="col-xs-3"></div>
    </div>

    <div class="modal fade bs-example-modal-md" id="beforePay_confirmBill"></div>
    <div class="modal fade bs-example-modal-md" id="afterPay_confirmBill"></div>
    <input id="login_image" value="{{ path }}" hidden/>

    <script src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script>
        var pageHeight=window.innerHeight;

        if ( typeof pageHeight !="number"){
            if ( document.compatMode== "CSSICompat"){
                pageHeight=document.documentElement.clientHeight;

            } else{
                pageHeight=document.body.clientHeight;
            }
        }
        pageHeight -= $('#login_header').height(); <!--去掉页眉的高度-->
        pageHeight -= $('#login_footer').height(); <!--去掉页脚的高度-->

        $('#pageContent').css('min-height',pageHeight+'px');
    </script>

    <script src="http://api.map.baidu.com/api?v=1.5&ak=RU18cV40mrfccGWEjhBVnoqN" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='script/require/require.min.js') }}"
            data-main="{{ url_for('.static', filename='script/main.js') }}"></script>
</body>
</html>