{% extends "index/index.html" %}
{% block body %}
<div class="container-fluid" style="margin-bottom: 30px">
    <div class="container">
        <div class="container-fluid" >
            <h3 style="margin:10px 0">&nbsp;</h3>
        </div>
        <div class="container-fluid" style="border:solid 1px #aaa;background:#eee;border-radius: 5px">
            <div class="col-md-7" style="border-right:solid 1px #aaa;padding:20px;">
                <div class="signup" id="signup">
                    <h4><strong>使用邮箱注册</strong></h4>
                    我们会给您的邮箱发送验证码，输入正确的验证码即完成注册。
                    <hr>
                    <div class="tab-content" id="base_signup_panel">
                        <div class="tab-pane fade in active text-center" id="usersignup_panel">
                        <form action="RegisterNewUser" method="post">
                            <div class="row">
                                <div class="col-xs-3 col-md-4">
                                    <h5>邮箱</h5>
                                </div>
                                <div class="col-xs-9 col-md-6">
                                    <input class="form-control" type="text" name="email" placeholder="邮箱"
                                           {% if username!='' %}
                                               value={{ username }}
                                           {% endif %}
                                           >
                                    <div class="col-xs-12">
                                        <red><h5><strong name="email-error"></strong></h5></red>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-md-4" >
                                    <h5>密码</h5>
                                </div>
                                <div class="col-xs-9 col-md-6">
                                    <input type="password" class="form-control" name="pwd" placeholder="密码" >
                                    <div class="col-xs-12">
                                        <red><h5><strong name="pwd-error"></strong></h5></red>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-md-4">
                                    <h5>密码确认</h5>
                                </div>
                                <div class="col-xs-9 col-md-6">
                                    <input type="password" name="confirm-pwd" class="form-control" placeholder="确认密码">
                                    <div class="col-xs-12">
                                        <red><h5><strong name="confirm-pwd-error"></strong></h5></red>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-3 col-md-4">
                                    <h5>验证码</h5>
                                </div>
                                <div class="col-xs-9 col-md-6">
                                    <div class="col-xs-7" style="padding: 0">
                                        <input class="form-control identityCode" name="IdentityCode" placeholder="邮箱验证码"
                                           {% if identityCode!='' %}
                                               value={{ identityCode }}
                                           {% endif %}>
                                    </div>
                                    <div class="col-xs-5" style="padding-right:0">
                                        <input id="SendIdentityCode" class="btn btn-primary" style="width:100%" value="发送验证码" type="button">
                                    </div>
                                    <red><p id="sendstatus" style="padding-top:40px"></p></red>
                                </div>
                            </div>
                            <hr>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                   {% for message in messages %}
                                      <h4 class="text-right"><strong><red>{{ message }}</red></strong></h4>
                                   {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <div class="row text-left" style="margin:30px 0">
                                <input type="checkbox" name="protocol">&nbsp;&nbsp;&nbsp;我已阅读且完全同意<a href="">《商影联盟用户注册协议》</a>
                                <button class="col-xs-12 col-sm-3 btn btn-green btn-lg" type="submit" style="float:right">确认信息并注册</button>
                            </div>
                        </form>
                        </div>
                        <div class="tab-pane fade" id="domainUsersignup_panel">
                            <input type="email" class="form-control base_username" placeholder="企业邮箱" required="" autofocus="">
                            <input type="password" class="form-control base_password" placeholder="密码" required="" autofocus="">
                            <input type="password" class="form-control base_password_again" placeholder="确认密码" required="" autofocus="">
                            <input type="" class="form-control base_identityCode" placeholder="邮箱验证码" required="" autofocus="">
                            <button class="send_key">发送验证码</button>
                            <hr>
                            <div class="row" style="margin:50px 0">
                                <input type="checkbox" class="base_protocol">&nbsp;&nbsp;&nbsp;我已阅读且完全同意<a href="">《商影联盟用户注册协议》</a>
                                <button class="col-xs-12 col-md-3 signup_submit">确认信息并注册</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-5" style="padding:20px 0 0 20px;color:#000">
                <h4><green>平台为您提供：</green></h4>
                <ul>
                    <li>视频策划、制作和拍摄服务</li>
                    <li>视频存储、管理和分享服务</li>
                </ul>
                <h4><green>平台特色</green></h4>
                <ol>
                    <li> 专业品质</li>
                    <li> 制作流程可视化</li>
                    <li> 免费的视频存储、管理和分享</li>
                    <li> 便捷的移动端支持</li>
                </ol>
                <h4><green>客户服务</green></h4>
                <ul>
                    <h5>垂询电话 ：010-85388138/18611828618 <br> 邮件地址：zhanghong@FilmUnion.net </h5>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('.static', filename='login/register.js') }}"></script>
{% endblock %}
